[2019-06-15 18:51] Zbysekz commented on #517
I just want to point out to this, not sure if this is known or it is connected with some unfinished work...

[2019-06-15 23:24] dkeeney commented on #517
Yes, I hit the same type of instability in PR #518
My errors were different but same test.

[2019-06-16 03:06] ctrl-z-9000-times commented on #517
Yes, I've seen this test fail quite a lot.

[2019-06-17 20:10] breznak commented on #515
I'm not sure, the ideas IS reasonable, in numenta it was a pain keeping the tests in sync and figuring retroactively what broke..

this would be near impossible to be automated, but ok for us to handle by acknowledging "suspicious" PRs

I'd say running the battery of performance tests say every day.

[2019-06-17 20:12] breznak commented on #517
so we could relax this test a bit, either use even smaller probability `< 0.015` or increase the number of samples `, 60)` ?

[2019-06-17 20:35] Zbysekz commented on #517
Do you assume, that this is not a bug? I think proper way how to handle this will be:

- [ ] Make anomaly_likelihood_test.py deterministic (import random class from c++ - as it is done in grid_cell_encoder.py)

- [ ] figure out if it is correct behaviour

I started working on the first point already... :)

[2019-06-18 05:28] breznak commented on #517
hey, we do not entirely trust the Likelihood implementations (c++, py), the code has "just" been ported, but very much needs proper code review (and maybe rewrite), validation, and test by trial/use-cases.
See #469

the patch looks good :+1:
just a word, for the `seed=` above, use `=:positive integer:` to get a fixed random sequence (mostly used for tests), or `=0` to get random(seeded) random seq

[2019-06-18 07:52] breznak opened #521 "Unable to set clang-7 CXX compiler in Cmake"
[code]

I'm using

or

[2019-06-18 07:59] breznak commented on #521
ok, the problem was that

is not a full path to an existing compiler tool.

a) (on Ubuntu) I've uninstalled clang-6 which provides package "clang", I now only have clang-7, clang-9
b) ThirdParty deps have been build with a different compiler, that caused the error.

Workaround was: manually rm the folder build/ThirdParty and rebuild.

This issue can probably be closed.

Can we:
1) ideally rebuild

[2019-06-18 09:38] breznak opened #524 "Rename the repo to ???"
With the ongoing changes (#518 ) to uncouple htm from the NuPIC (tm), we should rename the repo.

What is the agreed name?
- htm.cpp ?
- htm + something with community ?

[2019-06-18 10:10] Zbysekz commented on #517
Ok, i understand, we should test it and do as you say.

about the `seed=`, and putting there just a positive integer,
you suggest this just for line 520 or also for the rest?
Because now i a can change all seeds just by changing the GLOBAL_TEST_SEED...

[2019-06-18 11:58] breznak commented on #517
Because now i a can change all seeds just by changing the GLOBAL_TEST_SEED...

for all seeds/random instances. The global test seed would work fine there.
But I got mistaken, the seed I was talking about is for cpp nupic::Random (which can be used in Python), but you're using rng (=RandomState) which is used for other functions (normal, ...)

Can you open a PR to make commenting easier?

[2019-06-18 12:12] breznak commented on #214
FYI, c++17 TS:Parallel in gcc-9 is now reaching availability, I've installed for Ubuntu from a PPA, our codebase compiles with g++9 #523
When I get some time I'd like to experiment with this approach more.

[2019-06-18 12:24] Zbysekz commented on #524
I think if there is a plan to keep py code within this repository (i mean not bindings, but the py redundant code), then it would **not** make sense to name it htm.cpp, do you agree?
* What about htm-framework ?

[2019-06-18 12:38] ctrl-z-9000-times commented on #524
Some more ideas for names:
- nupic.redux
- htm.ce (for community edition)

[2019-06-18 13:36] breznak commented on #524
- htm.community (rather than ce?, but I also like the community in the name)
- htm.core
- htm.bindings   ?

[2019-06-19 11:24] Zbysekz commented on #517
Unstable tests:

* testVeryFewScores()
* testEstimateAnomalyLikelihoods()

[2019-06-19 11:43] Zbysekz commented on #517
I got it! For **testVeryFewScores()** it is because of this "HACK"

https://github.com/htm-community/nupic.cpp/blob/efce15f87c644021ec59f76d2d1044babd323da7/py/htm/algorithms/anomaly_likelihood.py#L365-L378

Shortly described, estimateAnomalyLikelihoods() is called from testVeryFewScores() with just two anomaly scores. That causes that variance is **sometimes** lower than 1.5e-5 so nullDistributio

[2019-06-19 13:54] dkeeney commented on #524
My vote is for htm.core.

On Tue, Jun 18, 2019 at 6:36 AM breznak <notifications@github.com> wrote:

[2019-06-19 22:36] dkeeney commented on #521
This is difficult because the cmake for ThirdParty does not really get ran once the ThirdParty targets have been built.  If anything changes in ThirdParty, it requires the ThirdParty folder to be deleted before it will be picked up.  There is probably some form of `make clean` that would do the same thing.

However, I will think about this and if I find a way to fix this without re-downloading eve

[2019-06-20 04:40] Zbysekz commented on #524
I am also for htm.core. Sounds cool

[2019-06-20 06:07] breznak commented on #521
on the other hand, how ThirdParty works now is really convenient (that it does build only once), and this is a minor issue, so maybe just a doc not, maybe not even that and only the memo in this issue would be enough?

[2019-06-20 06:25] breznak opened #527 "SimHash based RDSE, Scalar, Document encoders? Compared to existing RDSE"
From @brev in https://github.com/htm-community/nupic.cpp/pull/278#issuecomment-503890320

Hi @ctrl-z-9000-times,
Thanks for all the code. I'm curious about your new hash-based RDSE approach.  My C++ skills aren't up-to-speed enough to read the code very well yet, if you wouldn't mind a question?

I'm wondering about this property of SDRs:

I know the original random RDSE provided this by making su

[2019-06-20 14:32] ctrl-z-9000-times commented on #512
Fixed in PR #519

[2019-06-20 14:32] #512 closed

[2019-06-20 14:37] ctrl-z-9000-times commented on #524
My vote is for htm.community

[2019-06-20 17:33] dkeeney commented on #521
Perhaps, but that is not the only issue.  If any of the modules we download should change on their respective download sites, ThirdParty does not see the change once it has completed a download.  So, to re-fetch all of the third party packages the build/ThirdParty folder must be deleted before doing a build.

Perhaps the best we can do is add a comment in the README.md that explains this.  How abo

[2019-06-20 22:03] breznak commented on #521
but that should not ever happen? We are responsible for bumping version numbers when needed..and then the cmake would rebuild, no?

this sounds good to me!

[2019-06-20 22:42] dkeeney commented on #521
Well, yes it can happen.  YamlCpp and mnist are downloading directly from their repository masters.  If those change our re-builds would not see it unless the ThirdParty folder is deleted.

I would really like to get real release downloads for those two.  mnist does not seem to have versions and probably will not change anyway.   YamlCpp release 0.6.2 is messed up so cannot be used. The previous r

[2019-06-20 23:41] ctrl-z-9000-times commented on #527
Hi @brev,

This RDSE is described in section 3.2 of the paper "Encoding Data for HTM Systems" https://arxiv.org/pdf/1602.05925.pdf

I found this paper very informative, and recommend reading it.

[2019-06-22 00:03] brev commented on #527
@ctrl-z-9000-times thanks, but unfortunately that doesn't help me understand your specific implementation. :)

I'm wondering:

1) How are you ensuring that nearby buckets have more similar representations than far away buckets?

2) How are you taking  a 32- or 128-bit hash digest, and spreading that out to be the desired output bit length of the SDR?  (i.e. n=400 bits)

thanks much.

[2019-06-22 03:29] ctrl-z-9000-times commented on #368
../Release/bin:
benchmark_hotgym mnist_sp unit_tests
../Release/distr:
build dist dummy.c requirements.txt setup.py src
../Release/include:
CSV_README.md csv.h nupic src
../Release/lib:
libnupic_core.a libnupic_core.so

These files are documented in the main `README.md` or in the `bindings/py/README.md`

But:
   - bindings/py/README is incomplete
   - /bin contents are documented all over the plac

[2019-06-22 03:54] ctrl-z-9000-times commented on #175
We should remove `namespace testing` and `namespace htm_ext` (python bindings).  These namespaces are not needed since that code can never be included into another program, because it does not have header files.

[2019-06-22 14:06] ctrl-z-9000-times commented on #527
Hi Brev,

Section 3.1 of the document describes how the normal scalar encoder works.  The scalar encoder has the semantic similarity property that you're looking for.

Section 3.2 describes the RDSE which is an extension of the scalar encoder which allows it to encode an arbitrary range of values.  The RDSE keeps the semantic similarity property from the scalar encoder.

It doesn't work like that.

[2019-06-22 15:55] ctrl-z-9000-times opened #529 "Release Soon"
I'd like us to release this soon.  It may not be 100% done, but I don't think anything is ever 100% done.

I've drafted a forum post, what do you all think?
(I will fill in the repo name & URL after issue #524 is dealt with)

---

Subject: HTM.Core Release Announcement

Hello Everyone,

We're proud to announce the first release of the "HTM.Core", the HTM-Community's successor to the NuPIC.core lib

[2019-06-22 16:38] ctrl-z-9000-times commented on #527
I wrote a short script to demonstrate the semantic similarity properties of the RDSE (currently only works on branch "update-readme").
[code]

![Figure_1](https://user-images.githubusercontent.com/19578795/59966365-e3b39a00-94e9-11e9-8ca3-8c66c6ab1e2c.png)

[2019-06-22 20:39] brev commented on #527
Thanks @ctrl-z-9000-times, let me study that, and get back to you.  I appreciate the time!

[2019-06-23 03:25] dkeeney commented on #529
Yes, I like it.   Are we going to rename the repository first?

[2019-06-23 15:47] ctrl-z-9000-times commented on #529
IMO If we're going to rename it then we should do it before we release the software. Now or never?

[2019-06-25 14:14] ctrl-z-9000-times commented on #524
The current tally is:
- 2 votes for htm.core (@dkeeney, @Zbysekz )
- 1 vote for htm.community (@ctrl-z-9000-times)

@Breznak, @rhyolight, Do you have a preference for the name?

[2019-06-25 14:38] breznak commented on #524
between these 2 I'm for htm.core (because we have the htm-community prefix), no hard feelings about the name though

[2019-06-25 14:41] breznak commented on #529
:+1:  to the rename.
I like the text, thanks.
Two more options that I think should be done before release are related to packaging:
- binary releases (on GH), I got stuck on this, we need @rhyolight or sb who's done it to help us here
- and pypi package

[2019-06-25 15:34] ctrl-z-9000-times commented on #529
While I think having distributable packaging would be great to have, I don't see it as critical for releasing since we have good instructions on building from source.

[2019-06-26 08:19] Zbysekz commented on #517
For **testEstimateAnomalyLikelihoods()**  it is just because of variations in random data and these fixed thresholds:
https://github.com/htm-community/nupic.cpp/blob/69555d7396d05c4af1e02199141d047963e3ccfc/py/tests/algorithms/anomaly_likelihood_test.py#L452-L454

### Here are plots for 100 different seeds
![obrazek](https://user-images.githubusercontent.com/23330229/60163261-837b6b80-97fb-11e9-84

[2019-06-26 08:31] Zbysekz commented on #517
For **testSkipRecords()** it is also because of variations in small amount of random data
https://github.com/htm-community/nupic.cpp/blob/69555d7396d05c4af1e02199141d047963e3ccfc/py/tests/algorithms/anomaly_likelihood_test.py#L517-L519

### Here are plots for 100 different seeds

![obrazek](https://user-images.githubusercontent.com/23330229/60163924-e91c2780-97fc-11e9-9307-cbe4a4e1c72b.png)

### a

[2019-06-26 08:42] Zbysekz commented on #517
So thats enough for playing i think. It behaves as expected.
We now have two options, either adjust thresholds or just let it as is because we use seed=1 and all tests are passing. The second has one catch, because random might be platform specific...

What do you think?

[2019-06-26 09:14] breznak commented on #517
I'd think the adjusted thresholds (decrease the likelihoods from 0.02?, increase the number of samples under that threshold, 50?) would be better, as it's not a "hack" for only a given seed. Unless the values need to become ridiculous/useless just to pass the tests

[2019-06-28 04:03] ctrl-z-9000-times commented on #517
That's a good analysis.

I think the next steps of analyzing this data would be to:
1) Use a histogram instead of a line plot, to verify that the data falls in a normal distribution.
2) Find the mean & standard deviation of the data.
3) Set the test thresholds to the (1 / 1000)'th percentile of the data.

Or, you can of course use a constant seed.  A constant seed won't randomly fail.  IIRC many o

[2019-06-28 14:54] ctrl-z-9000-times commented on #517
Fix by PR #525

Thanks @Zbysekz for working on this issue!  I hope you can keep using and contributing to this project.

[2019-06-28 14:54] #517 closed

[2019-06-29 16:27] ctrl-z-9000-times commented on #399
Resolved by PR #481

[2019-06-29 16:27] #399 closed

[2019-06-30 21:46] #524 closed

[2019-07-01 08:54] breznak commented on #160
Just a memo that pickle is broken with python2 (due to pybind11) https://github.com/htm-community/htm.core/pull/530#issuecomment-506364786 and decided workaround to skip such tests selectively for py2.7 https://github.com/htm-community/htm.core/pull/530#issuecomment-506962943

[2019-07-01 09:06] breznak commented on #160
Now that @Lupino made it possible to serialize using `pickle` in python, we have 2 ways of serialization for python:
- C++ serializable interface binding (save/load methods)
  - available for all (Serializable) classes
  - same syntax for c++,py code
  - works for both py versions (2, 3)
- native python's pickle
  - works seamlessly for py-only, cpp-bindings code

My question is, for python:
 - sh

[2019-07-01 13:34] dkeeney commented on #160
- When @Lupino implemented pickle he called save(stream ) and load(stream ) which uses the Cereal Serialization of the C++ object.

- Going the other direction, when the Cereal Serialization is serializing C++ bindings\py\cpp_src\plugin\PyBindRegion.cpp, it calls pickle to serialize the python code that it calls.

So, there is really only one serialization method, although it may be accessed in tw

[2019-07-01 14:08] ctrl-z-9000-times commented on #160
I think we should keep both sets of methods, especially if they're already implemented.

Pickle is convenient, but im pretty sure it adds meta data which C++ does not understand.

The underlying C++ methods work in both python and C++, and data saved in one language can be loaded into the other.

[2019-07-01 14:14] breznak opened #532 "Bug in bindings SP/Connections print"
Reproduce: create a SP in python with a large number of inputs, print it. The output does not match.

probably some casting/integer overflow bug, either only in the print statement (low bug), or in the SP/Conn parameter.

Output
[code]
Inputs above incorrect.

[code]

[2019-07-01 14:24] ctrl-z-9000-times commented on #529
Posted: https://discourse.numenta.org/t/htm-core-release-announcement/6223

[2019-07-01 15:01] dkeeney commented on #160
Well, not quite. If .py code serialized a TM using pickle then there will be a pickle wrapper around the Cereal Serialization of the C++ object that gets stored and C++ code would not be able to deserialize it.  But if .py code called save(stream) directly on the TM object then the created archive file would be the same as TM being serialized by C++ code.

However, if .py code wants to serialize o

[2019-07-01 16:32] ctrl-z-9000-times commented on #532
I think I know why this is happening.  The connections object does not know how many presynaptic inputs it has.  It infers that number from the synapse data it gets.  So if the spatial pooler forms zero connections from an input, then that input will not be counted.

[2019-07-01 18:42] breznak commented on #532
that sounds reasonable. Should just mention in a comment "The number of inputs is infered from input-synapses formed, so it does not have to be exactly the same."

And let me follow up with a question, are these potential synapses? Ie, if it's not formed initially, it never would later. Or a new segment can be created on uncovered input-space if needed?

If the latter, it's ok, if the former, we s

[2019-07-01 22:31] ctrl-z-9000-times commented on #532
The connections object uses potential synapses

[2019-07-02 01:43] ctrl-z-9000-times commented on #532
There is an example of checking for sane connections in the branch "columnPooler2" but I don't know how applicable that code is to the Spatial Pooler.

[2019-07-02 14:33] #529 closed

[2019-07-02 14:45] ctrl-z-9000-times commented on #387
Resolved in many PR's.  Great work guys!

[2019-07-02 14:45] #387 closed

[2019-07-02 18:03] breznak commented on #360
working-group paper in half, float16_t for C++ standard, hopefully it'll be standardized soon (not really soon)
http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p0192r4.html

[2019-07-02 20:07] ctrl-z-9000-times commented on #360
Another idea for optimizing the connections: use fixed point arithmetic for the permanence values.  This should not be too hard because all the the floats are in the range 0-1 so the denominator will always be 2^16

[2019-07-02 21:13] breznak commented on #360
I was thinking about this, using unsigned char and instead of float "values" have differences simply.
Such solution is available right now, a small disadvantage would be that all "compute" libraries (CUDA,...) use floating point math, so I'd be nice to stay on the same.
Another question is if SIMD,AVX,auto-vectorization supports chars, as opposed to floats.

But it'd be 4x lighter on cache, so wor

[2019-07-03 13:58] dkeeney opened #538 "branch cleanup"
There are a number of branches in the repository that should be deleted. Those that I am aware of that are either abandoned or completed are:
- NetworkAPI_module
- Add_SDR_to_Array
- cereal-spec
- networkapi
- yamlProblem

I dont' know the magic incantation needed to remove them.
@breznak when you find time can you remove them for me?

[2019-07-03 14:01] dkeeney commented on #538
Oh, yamlProblem is for PR #282.    I should probably try to find a workaround for that.   So leave that one.

[2019-07-03 14:10] dkeeney opened #539 "Repository version number?"
Currently our version is set to `1.0.8.community0`  in the file VERSION.
PYPI does not like non-numeric version numbers so this should be changed ... but what should it be?  Do we need to retain an association to the version number in numenta's nupic.core?

Is it time to change it to `1.0.0` ?  Or maybe even `2.0.0`

[2019-07-03 15:01] ctrl-z-9000-times commented on #539
I think we should bump it to `2.0.0`
Version numbers should always increase or else it will confuse the computers.

I"m assuming that this version number is in the usual format: `MAJOR.MINOR.BUGFIX`
- Major changes break backwards compat
- Minor changes add features

[2019-07-03 15:06] ctrl-z-9000-times commented on #538
Click on the circled button:

![Screenshot from 2019-07-03 11-04-01](https://user-images.githubusercontent.com/19578795/60602779-77a32280-9d82-11e9-83ca-3fb518dea1c8.png)

[2019-07-03 15:18] breznak commented on #538
I cleand a few that were closed, now we're at 20, 17 of it is open PRs.

[2019-07-03 15:18] #538 closed

[2019-07-03 15:20] breznak commented on #539
agree on 2.0, I could bump that but we don;t have releases, so there's no use for it anyway
#366  #19

[2019-07-03 16:35] dkeeney commented on #539
PYPI needs something like `MAJOR.MINOR.BUGFIX`
If it really does not matter at this point, lets make it 2.0.0 so we can make PYPI happy ( if we ever get that setup).

[2019-07-07 11:04] fcr opened #546 "Spacial Pooler Python writeToString fails"
Running:

  def testNupicSpatialPoolerSavingToString(self):
    sp = SP()
    s = sp.writeToString()
    sp2 = sp.readFromString(s)
    self.assertEqual(sp.getNumColumns(), sp2.getNumColumns(),
                     "NuPIC SpatialPooler write to/read from string failed.")

fails with the error:
UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 53: invalid start byte

[2019-07-07 13:16] breznak commented on #546
@fcr can you add this to our unit tests, please?
seems the bug is in writing some non utf8 char:
https://stackoverflow.com/questions/21504319/python-3-csv-file-giving-unicodedecodeerror-utf-8-codec-cant-decode-byte-err
https://pybind11.readthedocs.io/en/stable/advanced/cast/strings.html

Thrown from file bindings/py/cpp_src/bindings/algorithms/py_SpatialPooler.cpp

CC @dkeeney I thought someone wo

[2019-07-07 13:44] fcr commented on #546
Done.

On 07/07/2019 15:16, breznak wrote:

--
------------------------------------------------------------------------

*Dr. Frederick C. Rotbart*
*Technologist*

Tel: 	+61 3 9024 3914 	+972 722 713 774
Mobile: 	+61 422 569 102 	+972 544 870 774
LinkedIn <https://www.linkedin.com/in/fcrotbart>

[2019-07-08 16:35] breznak commented on #546
Fixed in #547

[2019-07-08 16:35] #546 closed

[2019-07-09 12:23] breznak opened #548 "Make SP, TM return computation time time"
this is now done with timer. I plan to integrate this into the parameter optimization mechanism which will take computation time into account.

This is a minor change, basically wrap `compute()` with a Timer and expose getElapsed() as a const &

[2019-07-09 13:29] breznak opened #550 "SP return const random representation on empty input"
#### Problem: empty SP output on low overlap

Currently, when the overlap with input (unexpected input, unlearned, ..?) is too low, SP returns 0 active columns.
This causes problems in TM, and Anomaly

#### Proposal
I want to change SP such that
- aways returns numDesired (keeping sparsity) outputs, see #549 , and this issue for cases with low overlap.
- if overlap is too low:
  - detect spatial a

[2019-07-09 13:37] breznak opened #551 "SP replacec bumpUpWeakColumns with dendritic death/creation"
Once #537 is merged, test synaptic and dendrite death in SP.
The method `SP::bumpUpWeakColumns()` could be replaced with death of the unused segment.
And generete new one?
- [ ] when? Each time a seg/col is removed, randomly, ....?
- [ ] where to generate a new col?

Related #288

[2019-07-10 03:24] brev commented on #527
OK @ctrl-z-9000-times, I am fully on board with you now! (finally).

I misread Section 3.2 of "Encoding Data for HTM Systems". I had content hashing on my brain at the time, and missed that it was talking about index hashing, thus missing the whole point.

What a beautiful, simple, and clever solution.  I'm glad you were paying attention.

Thanks again for your help and patience. :)

This makes my

[2019-07-10 12:45] breznak commented on #205
I have started working with NAB, which is curerntly in transition to py3, and I am trying to add htm.core as a runable detector to it.

If you have time, please help me review my code in https://github.com/numenta/NAB/pulls and referenced PRs to Ian's open PR.

I'm looking for help with https://github.com/numenta/NAB/issues/343

[2019-07-10 15:10] ctrl-z-9000-times commented on #205
I have a fork of NAB which works with python3:
https://github.com/htm-community/NAB

The only things which do not work are the HTM based detectors.

[2019-07-10 15:21] breznak commented on #205
https://github.com/htm-community/NAB
The only things which do not work are the HTM based detectors.

then I'll redirect my PRs also to this repo, I made the HTM detectors runnable with fake python3 (needs py2 installed).

I got message from Matt that the official NAB should be ported by end of the year, which is not really fast moving, unfortunately.

[2019-07-10 16:05] ctrl-z-9000-times commented on #205
That's the advantage of using the htm-community version, you don't need to wait for numenta to do a code review.

[2019-07-10 16:07] breznak opened #553 "Add test for "switching frames", should remove synapses"
from https://github.com/htm-community/htm.core/pull/537#discussion_r302109157

Show that synapse pruning kicks in, if allowed.

- [ ] Such example should: switch frames (long contexts)
- train on sine
- switch to saw
- switch to const

- [ ] Similar test: show behavior on const ("boring") input where very few columns are needed

[2019-07-10 17:23] breznak commented on #551
[on removing empty dendrites]

https://github.com/htm-community/htm.core/pull/537#discussion_r302108312

That is true, considering implementing "random" parallel energy-monitor (aka cell killer).
- cells do not have to do this during normal computation
- killer will run in its own thread: when finds too low synapse/segment -> remove it.
  - how to make this work with deterministic algorithms? #194

[2019-07-11 00:54] sublimemm opened #554 "cant find pluggy dependency"
Installed c:\users\sub\appdata\roaming\python\python37\site-packages\htm.core-1.0.8.community0-py3.7-win-amd64.egg
Processing dependencies for htm.core===1.0.8.community0
Searching for pluggy<1.0,>=0.12
Reading https://pypi.org/simple/pluggy/
Download error on https://pypi.org/simple/pluggy/: [WinError 10054] An existing connection was forcibly closed by the remote host -- Some packages may not be

[2019-07-11 11:36] breznak opened #556 "Create test for SP boosting in over-provisioned setting"
https://discourse.numenta.org/t/how-boosting-changes-the-sp-representation/1159/10?u=breznak

### Problem

Boosting creates noice when there is too much columns and too simple input patterns. So there will always be some columns "bored" and weak.

### Test scenario

SP 2048 cols
Desire 40 active columns (2% sparsity)
10 input patterns (10x random SDR)

After learning, columns will estabilish, and

[2019-07-11 16:04] sublimemm commented on #554
i think this may be related to pip or the pluggy repo in particular...

E:\numenta\htm.core>pip install pluggy
Collecting pluggy
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/pl

[2019-07-11 17:22] breznak commented on #554
Hi, this is likely won't fix, as we do not directly require `pluggy`, it is a dependency of some other dependency.

Download error on https://pypi.org/simple/pluggy/: [WinError 10054] An existing connection was forcibly closed by the remote host -- Some packages may not be found!

this looks like your internet connection is flanky, or some err with pip?

- I'd suggest a clean build

[2019-07-12 00:39] breznak opened #558 "SP, TM use synapseCompetition()"
which is newly merged in #466 ,
test how it performs.

[2019-07-12 02:16] sublimemm commented on #554
yep. anyone using the Killer Wireless Network drivers apparently has this issue. Either remove them or upgrade to the latest version. all is working now.

[2019-07-12 02:16] #554 closed

[2019-07-13 22:37] breznak opened #562 "Can we make Cereal serialization without default constructor?"
Is it possible to somehow bypass the requirement on default constructor `T()` for Cereal?

https://github.com/USCiLab/cereal/issues/102#issuecomment-45709240

I'm exploring `constexpr` and the need of `T()` disallows me to make some members (typically numColumns, maxSynapsesPerSegment, ...) const, which could be used for these compiler optimizations.

[2019-07-13 22:37] breznak commented on #562
cc @dkeeney

[2019-07-14 00:53] cyberslam opened #563 "No plot under Colab with the hotgym.py example"
When running under Google Colab using the following command:
"!python3 -m htm.examples.hotgym"

The following was the print-out (no error) but no plot at the end:

Parameters:
{   'enc': {'resolution': 0.88, 'size': 700, 'sparsity': 0.02},
    'sdrc_alpha': 0.1,
    'sp': {   'boostStrength': 3.0,
              'columnCount': 1638,
              'numActiveColumnsPerInhArea': 72,
              'pot

[2019-07-14 07:47] breznak commented on #563
- I think the examples don't install the plot dependencies by default, so check matplotlib is install
- check that matplotlib is working in the google ipython notebook, I suspect it's not

[2019-07-15 14:48] dkeeney commented on #562
Sorry, I have been somewhat inactive lately.  My wife decided that my top priority was to edit 17 years of home movies.  Now with that finished I can now try to get caught up again.

Yes, it is possible to Cereal-ize classes that require non-default constructors. You have to tell Cereal how to do that by providing the static function load_and_construct( ) rather than the load_ar( ).

An example is

[2019-07-15 15:01] breznak commented on #562
:wink: haha, nice job, you've managed the 17yrs quite fast!

Good news! The big classes like SP,TM would benefit from that.

Good to have you back :+1:

[2019-07-15 15:29] dkeeney commented on #562
In my opinion it would be better to not use that facility if a class could get by with a default constructor...even if it is used only for de-serialization.

[2019-07-15 15:39] dkeeney commented on #562
Oh, one more comment... Cereal only knows to call load_and_construct( ) when it is de-serializing a smart pointer.  If it is not being held in a smart pointer on some other class that is being de-serialized then this will not work.  Cereal does not work directly with pointers to objects.

[2019-07-15 16:13] dkeeney commented on #410
I was looking for my next project and thought providing support for MSVC 2019 might be useful.  Also, perhaps "Visual Studio Code" which is a new IDE that runs on any platform.

Is there something else that might be higher priority?

[2019-07-15 23:53] cyberslam commented on #563
I had tried to import matplotlib at the beginning and also via inline versions: both were NOT effective or obtained the same result --> <Figure size 640x480 with 2 Axes>

I also had added a simple "print" (print ("Checking matplotlib here") ) statement underneath "import matplotlib.pyplot as plt" and got nothing printed!

Can anyone guide me what to do next?!  Many thanks.

[2019-07-16 09:06] breznak commented on #563
I'd suggest first try to run the example locally under `ipython3` if it works?

this seems the plot works actually, do you need to call something like `plt.show()`?

But overall, this does not seem like issue in htm.core itself.

[2019-07-16 09:52] breznak commented on #410
Fixed in #568

[2019-07-16 09:52] #410 closed

[2019-07-16 09:54] breznak commented on #410
great job on the new MSVC!

I think next great thing would be binary releases (for C++ here on GH, and on pypi). Then installation for non-developers would be a piece of a pie. #361  #19
I don't know if you want to look into that?

[2019-07-16 13:27] dkeeney commented on #410
Ok, I don't know much about pypi but I can go read up on it.

[2019-07-16 13:36] breznak commented on #410
awesome! First step would be binary releases of C++ anyway. Ideally on GH. The remains of it are commented out in the CI files. I'd start with Travis, or Appveyor if you're using Windows.

https://docs.travis-ci.com/user/deployment/releases/

[2019-07-16 13:54] breznak opened #569 "Parameter optimization improve documentation"
- [ ] which label to use for "parameter optimization"? "optimization" is taken by "CPU performance optimizations", NuPIC used "swarming" which is more specific than necessary, but already used in the community to mean "parameter optimization" (also shorter)
- [ ] improve docs how to actually run the optimization
- [ ] make opt. run in CI as a default example (some short swarm)
- [ ] there's a "bug

[2019-07-16 13:54] breznak commented on #569
FYI @ctrl-z-9000-times

[2019-07-16 13:57] breznak commented on #569
Related:
#536 Smarter (SP) params

#477 3rd party parameter-optimization framework

[2019-07-16 14:07] breznak commented on #569
I'm currently playing with optimization, it works nice but it does have its space for improvement.
What do you think of
- make it in a separate repo to make it usable by whole community?
- what was the problem with NNI #477 ? I'll try to update it, would you think NNI is still superior to the current custom solution?

[2019-07-16 14:56] ctrl-z-9000-times commented on #569
I'd rather keep it here since the experiments here use it.

I think it would take too long to run anything interesting.

The parameter optimization framework does not have this bug, the program being optimized has this bug.  The optimization framework gives the experiment it's parameters, and accepts in return a score.  It assumes that the experiment is splitting the dataset into train/eval/test.

[2019-07-16 15:40] ctrl-z-9000-times commented on #514
thanks for working this issue Breznak!

[2019-07-16 15:55] breznak commented on #514
https://scikit-learn.org/0.19/datasets/mldata.html

I'll reopen the issue temporarily, might have someone interested in fixing the `sklearn datasets` support, which would be optimal solution. If not, we close this as "good enough" later.

[2019-07-16 15:57] breznak opened #570 "Swarming: fails sometimes on "Unrecognized parameters""
Running

Sometimes it fails on me with

New global best score 0.9622.
New particle best score 0.9622.
/mnt/store/devel/HTM/pyenv3/lib/python3.6/site-packages/numpy-1.17.0rc1-py3.6-linux-x86_64.egg/numpy/core/fromnumeric.py:3506: RuntimeWarning: Degrees of freedom <= 0 for slice
**kwargs)
/mnt/store/devel/HTM/pyenv3/lib/python3.6/site-packages/numpy-1.17.0rc1-py3.6-linux-x86_64.egg/numpy/core/_meth

[2019-07-16 15:58] breznak commented on #570
CC @ctrl-z-9000-times

[2019-07-16 16:38] breznak commented on #360
Update:
I'm considering `bfloat16` type from tensorflow, which as implemeted all the arithmetical conversions for bfloat16 & conversion to/from float
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/lib/bfloat16/bfloat16.h
https://stackoverflow.com/questions/55253233/convert-fp32-to-bfloat16-in-c

[2019-07-16 16:43] breznak commented on #360
... and see how https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/bfloat16.h is different?

[2019-07-16 21:45] ctrl-z-9000-times commented on #570
Breznak,

That line should only be reached if the is an internal logic error in the program.  I think it's caused by a concurrency issue where two threads modify the same particle.  I will see if I can fix it.

[2019-07-16 22:06] breznak commented on #570
I will see if I can fix it.

Seems likely, I hit that when running a few particles. 7:7
Thank you for looking into it, even a clearer failure “some concurrency
problem, use more particles to reduce the chance to cause this “ would
help, if you don’t manage to find a proper fix

--
Marek Otahal :o)

[2019-07-17 00:19] cyberslam commented on #563
I tried the following in a **new cell** under Colab and it plotted the test chart!

# Testing of matplotlib
import os
!pwd
!ls -l

import matplotlib.pyplot as plt
plt.plot(range(10))
plt.show()

and it plotted a diagonal line.

So why it won't plot in hotgym.py???

[2019-07-17 04:41] ctrl-z-9000-times commented on #563
I don't why it doesn't work.  It works for me on my computer.  From your description it sounds like an issue with matplotlib.

Here is a stack-overflow link which might describe your issue?
https://stackoverflow.com/questions/13151514/matplotlib-plot-window-wont-appear

Maybe you could try changing the line `plt.show` to `plt.savefig('filename.svg')` and then viewing the saved image file?

[2019-07-18 13:14] breznak opened #574 "Consider removal of destroySegment"
A thing to try, would be nice simplification of the code.

From #537 , related #161

[2019-07-18 21:51] #570 closed

[2019-07-20 11:41] Thanh-Binh opened #575 "Connections::synapsesForPresynapticCell() failed"
this function does not work well and has the following error like:
terminate called after throwing an instance of 'std::out_of_range'
  what():  _Map_base::at
 because the index presynapticCell is bigger than the map size.
Please insert a check before...
Thanks
####################################################
vector<Synapse> Connections::synapsesForPresynapticCell(const CellIdx presynapticCell

[2019-07-20 13:51] Thanh-Binh commented on #575
Here is my version, that works correctly.
#############################################################
vector<Synapse> Connections::synapsesForPresynapticCell(const CellIdx presynapticCell) const {
  vector<Synapse> all;
  if (potentialSynapsesForPresynapticCell_.count(presynapticCell))
  {
    const auto& potential = potentialSynapsesForPresynapticCell_.at(presynapticCell);
    all.assign(potent

[2019-07-22 01:36] ctrl-z-9000-times commented on #575
Thanks Thanh-Binh,

That's a good fix.  If you submit a PR with this change I will approve it.

[2019-07-22 07:52] breznak commented on #575
Thanks for finding the bug and providing a patch! additionally would be great if you can attach a test-case that triggered this

[2019-07-22 08:44] Thanh-Binh commented on #575
@breznak @ctrl-z-9000-times sorry I am so busy so that I can not contribute well in the development. It is very kind of you, all to change it in your process.

Moreover I want to propose to insert some new APIs for Connection-class. I think it is more useful I already implemented and tested by me with nupic.core.
1. create a given number of synapses for a segment connected randomly to a cell set
v

[2019-07-22 10:35] breznak commented on #575
I've submitted a PR with your patch. Thanks again for finding the bug.

I'm definitely open to extending Connections API but there are a few things to consider:
- the Connections API should provide minimal building blocks
- used commonly by other core algorithms (so no too specific solutions)

So some reasons to add new functions:
- it's faster when implemented in connections
- not easily implemen

[2019-07-22 12:20] ctrl-z-9000-times commented on #575
That's ok. It's great that you at least have the time to try out the software and talk to us about it.

I think this is great idea.  As Breznak points out: the existing method `TemporalMemory.growSynapses` does the same thing.  I agree that we should move it to the connections class, since it's necessary for modeling distal dendrites.

I've already duplicated `growSynapses` in my experimental `col

[2019-07-22 14:40] Leonardbcm opened #577 "Error while building on windows - BITNESS incorrectly detected"
Hi all. First of all, sorry by advance if this post is irrelevant. I've read several related posts about building issues but still couldn't fixe my problem. Thanks also by advance for your time.

So I'm struggling to get htm.building. I followed the section of the installation tutorial

with this configuration:

- Windows x64
- MSVC 2017 (V 15.9)
- Cmake 3.8.2
- Python 3.7.2

The first step which

[2019-07-22 18:24] shahardror opened #578 "Date Encoder crashes on encoding Mon 00:00"
In the C++ code, if I understand correctly, right now the scalar encoder clips all the inputs to [min,max] and does not implement a periodic encoder. In lines 152-153 there is the following "clipping":
[code]
which only makes sure that input<=maximum. If input<=min, then input does not change.

This confuses me because I do not understand how the hotgym example is working, since there are certain

[2019-07-22 18:24] breznak commented on #577
Hi, thanks for the report!
I'm CCing @dkeeney who is running a MS box, he'll know better with MSVC.

7>Done building project "unit_tests.vcxproj" -- FAILED.

and

7>Done building project "unit_tests.vcxproj" -- FAILED.

First of all, can you try a clean build? (delete everything and try again?) At a first glance it seems your system is doing a "x86" (32bit) build, while it's on x64 (64b)

[2019-07-22 18:28] breznak commented on #577
@Leonardbcm can you try the "manual" installation?
`python setup.py install` ? OR the `cmake ../.. && make -j && make install` //you'd find more details in the Readme.

[2019-07-22 18:34] breznak commented on #578
no, it checks (rounds) to both lower,upper bounds.

this is for the lower bound

according to what you've posted, this would become `0`

[2019-07-22 19:10] dkeeney commented on #577
Hi @Leonardbcm  thanks for reporting this.   Somehow we managed to get some sort of error into the master build.  I will track it down.

[2019-07-22 19:58] dkeeney commented on #577
Ok, here is the problem:   mnist_utils.hpp(89
[code]

If this function is used with a Container which contains anything other than a double this will cause a warning because of type miss-match.  If warnings are considered errors it all dies.  In this case it is being passed a container of uint8_t.

This is used only in MNIST_SP.cpp   line 106 where it is using a dataset of type uint8_t
This binari

[2019-07-22 20:08] breznak commented on #577
Thanks for figuring this, @dkeeney ! I'm surprised we didn't observe this err in our Windows CI?

@Leonardbcm if you care, would be nice reporting this error also to the upstream mnist_"something" package. (sorry, I;m not sure the name, just it's not the official MNIST dataset)

definitely we can use any format needed, it's compared to a double threshold, so it makes sense. What I'm not sure, if t

[2019-07-22 21:57] dkeeney commented on #577
I think I know why.  We are pulling this code from mnist master repository.  Someone there
may have changed something and broke us.  That is the risk we take using the master.

[2019-07-22 22:20] dkeeney commented on #577
Just changing the types on the container does not compile...breaks elsewhere.  Any changes more than that and I would be in danger of  causing it to do something that was not intended.  I think @ctrl-z-9000-times  needs to take a look at MNIST_SP.cpp.  line 69 and 105

I think the intent of mnist in creating the templated Container was to allow the vector to be of any type but the binarize_each( )

[2019-07-22 22:40] breznak commented on #577
ok, this is not the case, latest commit there is since Feb 2019, 5mo ago. Can this be something stricter with the new MSVC?

first thing would be a PR or an issue to upstream, they've been pretty responsive when I was setting up the library.
As a workaround I'd suggest removing `Werror` from the MNIST cmake executable by adding `Wall` after to override that

[2019-07-23 09:46] Thanh-Binh opened #579 "SDR concatenate problem?"
I have compiling error in Ubuntu by using a vector for concatenating 2 SDRs together.
Can someone help me?
here is my code:
[code]

[2019-07-23 10:10] Thanh-Binh commented on #575
@breznak growSynapses is already used in the implementation of L6a at htmresearch "ThresholdedGaussian2DLocationModule"

The idea "computeActivityForCells"
[code]
is already used for ColumnPooler at htmresearch. Exactly, it calculates the number of cells supported by feedforward input defined by input vector "activeInputs"

The idea "createSynapses4Segment" is already used some where in the code o

[2019-07-23 10:45] breznak commented on #575
ok, first of all, I have an understanding for both approaches. The more useful Connections is, the merrier.
From maintanability POV, I have to be careful we don't end up like the old SparseMatrix class, which had methods for everything, nobody knew all its functionality, and we were afraid to modify it.

we are not c++ implementation of htm.research, on the other hand, this method already exists a

[2019-07-23 13:20] breznak commented on #579
hi @Thanh-Binh , thanks for testing the code! :+1:
I don't see it right away, the compiler err would be helpful

[2019-07-23 13:36] breznak commented on #579
ok, I got the error, it's in the const signature, which gets correct from the implicit `{&A, &B}` vector, but not from the explicit.

[2019-07-23 14:44] Leonardbcm commented on #577
Hi and thanks for your help!
I deleted the entiere htm.core folder, then pulled again. I get this log :
`Python version: 3.7.2 (tags/v3.7.2:9a3ffc0492, Dec 23 2018, 23:09:28) [MSC v.1916 64 bit (AMD64)]

-- Building for: Visual Studio 15 2017
-- Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.17134.
-- The CXX compiler identification is MSVC 19.16.27032.1
-- Check for working CXX

[2019-07-23 14:45] breznak commented on #579
TL;DR: you've created vector of "incorrect" type.
Should have been

or ideallly use the simplest `{&A, &B, ...&C }`

[2019-07-23 14:49] breznak commented on #577
for some reason, the c++ is detecting 32bit for you, which I guess is wrong and causes later problems with linking.
just to verify, can you override the bitness for cmake? something like
`cmake -DBITNESS=64 -DCMAKE_BUILD_TYPE=Release ../..`

[2019-07-23 14:54] Leonardbcm commented on #577
I am going to try this, however, this `-- BITNESS = 32` only happens while using python setup.py.
While building with startupMSVC, I have  `-- BITNESS = 64`.

Moreover, I never used Cmake, what command line/arguments should I use after `cmake -DBITNESS=64 -DCMAKE_BUILD_TYPE=Release ../..`?

[2019-07-23 14:59] breznak commented on #360
I have done preliminary experiments with:

- `Permanence = char` in Connections.cpp -> no mem or performance gains
- `Permanence = float16` (actually Eigen::half) -> slower performance on CPU https://github.com/etaler/Etaler/issues/12#issuecomment-514247028

Therefore summary for this issue is: does not bring any gains, likely actually slower. On CPUs, until there's float16 HW support. Closing

[2019-07-23 14:59] #360 closed

[2019-07-23 15:02] breznak commented on #577
nothing, that's it. Assuming you're in `REPO/build/scripts/` (the 2 folders can be created manually), the `../..` should point to the repo root REPO (where CMakeLists.txt is)

[2019-07-23 15:10] dkeeney commented on #577
Hmmm, its interesting that it is choosing a 32bit compiler.
Let me see if I can duplicate this.

[2019-07-23 15:12] breznak commented on #577
@dkeeney are there even 32bit windows? My line of thought is if we shouldn't auto-assume 64b system, and only let 32bit with manual rewrite in `cmake -DBITNESS=32` ?

[2019-07-23 15:19] Leonardbcm commented on #577
It seems to have worked well. Here are the logs :
`
C:\Users\Leonard\Documents\htm.core\build\scripts>cmake -DBITNESS=64 -DCMAKE_BUILD_TYPE=Release ../..
-- Building for: Visual Studio 15 2017
-- Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.17134.
-- The CXX compiler identification is MSVC 19.16.27032.1
-- Check for working CXX compiler: C:/Program Files (x86)/Microsoft Visual

[2019-07-23 15:21] dkeeney commented on #577
yes, there are 32bit windows machines.  But we don't support 32 bit yet.   Eventually we might want to support 32bit under Linux (Raspberry Pi for example) but that will take some work.

[2019-07-23 15:29] breznak commented on #577
@Leonardbcm  now compile the c++:

then build the py bindings

Does everything work then?

@dkeeney depends if you want to debug the issue, I think hardcoding 64b for now would be acceptable, and we can make instructions to define 32b on RPi etc..

[2019-07-23 15:30] dkeeney commented on #577
On my machine, starting with the `build/` folder deleted...  when I use
[code]
It builds using the 64bit compiler.

[2019-07-23 15:36] dkeeney commented on #577
The setupMSVC.bat file already forces 64bit.
If it is trying to run on 32bit hardware...or even running 32bit Windows then I do not think this will work.
But @Leonardbcm seems to have a different problem.  I assume he is running a 64bit Windows.

[2019-07-23 15:37] Thanh-Binh commented on #579
@breznak Yes I see, best thanks.

[2019-07-23 15:37] #579 closed

[2019-07-23 15:39] dkeeney commented on #577
The compile error he was getting (and I got as well) in MNIST_SP.cpp  is when compiling the examples.  `python3 setup.py install --user --force` does not compile the examples. so it would not get this error.

[2019-07-23 15:43] dkeeney commented on #577
I just tried using `python3 setup.py install` using the VS 2019 cmd and it correctly choose the X64.  I will try a plain vanilla command prompt.

[2019-07-23 15:48] Thanh-Binh commented on #575
@breznak I totally agree with you that there is no need to port SparseMatrix into Connection.
I found my proposed API for Connections are useful for all, because we use them more often in different implementations currently and in the future. Currently, we have 2 implementations  of @ctrl-z-9000-times and me that use those APIs many time.
Naturally, we can write them as utils-functions and use the

[2019-07-23 15:56] shahardror commented on #578
Hi,

I am having trouble understanding how to work with the Date Encoder (date.py) and would be happy for more detail. For example, I am running the following bit of code and have a few questions regarding the output.

1. I am getting encodings of different length that were initialized with the same parameters. Can you please explain why it happens? Because I understood that the Date Encoder outpu

[2019-07-23 15:58] Leonardbcm commented on #577
I'm very sorry but this does not work. It seems that the commande "make" isn't defined. I installed GnuWin32 which provide a make commande.
Here what's happening:
`C:\Users\Leonard\Documents\htm.core\build\scripts>make -j8 && make install
make: *** Pas de cibles spécifiées et aucun makefile n'a été trouvé. Arrêt.`

Which is "No target specified and no makefile found. Stop" in en. Note that I'm usi

[2019-07-23 16:10] ctrl-z-9000-times commented on #575
The implementation you've shown is incomplete and unoptimized.  It's not as simple as just a random sample.
- It's missing the steps where you remove duplicate inputs, to prevent an input from forming many synapses to one segment.
- It's missing a call to `destroyMinPermanenceSynapses` which makes room on the segment for more synapses.
- The implementation of `growSynapses` in the `columnPooler2`

[2019-07-23 16:19] breznak commented on #577
ok, sorry, apparently Windows does not use "make", but calls cmake's OS-agnostic way:

cmake.exe --build "%NUPIC_CORE%\build\scripts" --target install --config Release

you may need to adjust some of the variables to fit your settings. This is copied from `appveyor.yaml`, which is our CI for Windows, there you can find examples of how we are building on Windows.

[2019-07-23 16:20] dkeeney commented on #577
Understand. `make` is not normally a part of Windows commands.  So that was not going to help you. But even if you used the GnuWin32 make I don't think that would help.  Wrong environment.

I tried using a plain vanilla command prompt using `python3 setup.py install` and it choose the X64bit compiler on my machine.  So I do not understand what conditions caused it to assume a 32 bit architecture o

[2019-07-23 16:23] breznak commented on #577
isn't this the problem, that GnuWin (32bit) somehow messes with the libraries & paths cmake is detecting? @Leonardbcm can you uninstall the gnuwin32 env and try without it a clean build?

oh, so we still have that..

[2019-07-23 16:24] dkeeney commented on #577
I don't think so.   I have that installed as well.

[2019-07-23 16:28] dkeeney commented on #577
Hmmm, not positive that what I have is GnuWin..might be something like it.  But if I remember correctly GnuWin32 needs to be ran in a special cmd prompt window to set the environment variables.

[2019-07-23 16:38] breznak commented on #575
is it the same as in TM? I said I was :+1: for this method to be in Conn.

Ok, I was reacting to the proposed implementation, which did not support either and would therefore be "easily implemented". If we want to do properly the above, I think some (both) of the missing points are implemented in TM (which is currently the only user), it would make sense to have this in Connections.

So how to imp

[2019-07-23 16:52] breznak commented on #578
ok, this is a running example.

[code]

the problem was in how you initialize objects in python, this is not doing what you've expected

timeOfDay = 10
Encoder = DateEncoder(dayOfWeek, timeOfDay)

see in the code example the correct instatiation.

- [x] now the sizes match
- [ ] I have left the encodings mismatch, you can see the difference is in order how you concat the 2 internal representations

[2019-07-23 17:03] breznak commented on #471
FYI this should make porting to c++ feasible: https://github.com/coin-au-carre/datetimepp
maybe there's a better c++ implementation of python's datetime .

[2019-07-23 17:11] shahardror commented on #578
Thank you for the explanation and the patience!

[2019-07-23 17:17] breznak commented on #578
no worries, reopen again if you have a question or a problem, cheers

[2019-07-23 17:29] shahardror commented on #578
If you change the date to Monday morning, specifically `datetime.strptime("22/07/19 8:00", "%d/%m/%y %H:%M")` the `dayOfWeek `encoder runs into the following error:
`RuntimeError: CHECK FAILED: "input >= parameters.minimum && input <= parameters.maximum" Input must be within range [minimum, maximum]!`
This is unclear to me since the Scalar Encoder is meant to clip the input. Any insight to why it

[2019-07-23 18:14] breznak commented on #578
indeed, good call!

I'm starting a debug branch for this, this is the details from cpp ScalarEnc

Traceback (most recent call last):
File "dateSizeCheck.py", line 14, in <module>
Bits  = Encoder.encode(date)
File "/mnt/store/devel/HTM/pyenv3/lib/python3.6/site-packages/htm.core-2.0.0-py3.6-linux-x86_64.egg/htm/encoders/date.py", line 260, in encode
sdrs.append( self.dayOfWeekEncoder.encode(dayOfWe

[2019-07-24 06:21] Leonardbcm commented on #577
So I tried this solution. The startup MSVC worked fine, as always. Then I closed the terminal and used
`python setup.py install --force --user` and still got the same error messages :

`C:\Users\Leonard\Documents\htm.core>python setup.py install --user --force
setup.py: Calling C:\Users\Leonard\Documents\htm.core\bindings\py\packaging\setup.py

Python version: 3.7.2 (tags/v3.7.2:9a3ffc0492, Dec 23

[2019-07-24 06:56] breznak commented on #577
Traceback (most recent call last):
File "setup.py", line 53, in

gtest still builds with wrong bitness. Did you rm build/ThirdParty before your testing?

[2019-07-24 07:26] Leonardbcm commented on #577
Before each try I delete the entiere build folder.

[2019-07-24 07:38] Thanh-Binh opened #585 "Error linking by Ubuntu boost ...."
Hi developer,
I am testing htm.core by a standalone application outside of htm.core and have the following linking problem, where the 3rd party library like Boost is not found in "libhtm_core.a".
I think more about a bug by fusion all libraries.
What do you think?
[code]

[2019-07-24 10:52] breznak commented on #585
Hello,
this is likely issue with your custom application (are you linking correctly?)

As htm.core uses boost (even if limited subsection boost::filesystem) in some cases (it does not link boost if c++17 is found (that means g++ >= 8, linux, ...))

htm.core does not (necessarily) provide boost.

What you could try is forcing boost with `cmake -DNEEDS_BOOST=1 ......`

[2019-07-24 11:55] breznak commented on #19
This is an interesting alternative to PyPI, `pip` can install directly from github URL
https://github.com/ceddlyburge/python_use_hello_world

[2019-07-24 15:36] breznak commented on #461
Part of this could be addressed in #466 SP using synapse pruning & syn competition PR #584

[2019-07-24 15:57] Thanh-Binh commented on #585
@breznak I try to use gcc-8, but have the same error.
Could you please explain me why htm.core needs boost? Thanks

[2019-07-24 16:20] Thanh-Binh commented on #585
@breznak I have just compiled htm.core with the option NEEDS_BOOST=1 as you recommend. But my application can not be linked with boost and have the same errors.

[2019-07-24 16:23] breznak commented on #585
gcc 8.3 (and other compatibilities to c++17 should be fine), if boost is not used, you'll see

-- REPOSITORY_DIR       = /mnt/store/devel/HTM/htm-community/nupic.cpp
-- CMAKE_BINARY_DIR     = /mnt/store/devel/HTM/htm-community/nupic.cpp/build/scripts
-- CMAKE_BUILD_TYPE     = Release
-- CMAKE_INSTALL_PREFIX = /mnt/store/devel/HTM/htm-community/nupic.cpp/build/Release
-- FORCE_CPP11          = OFF

[2019-07-24 18:21] breznak commented on #578
@shahardror will you have time to finish the PR, please?

[2019-07-24 18:58] Thanh-Binh commented on #585
@breznak your idea does not work with gcc 8.3 for my non-boost applications.
htm.core is succesfully compiled with NEEDS_BOOST=0, FORCE_BOOST=0, but my app want to link to BOOST.
Maybe a bug here!

[2019-07-24 19:11] breznak commented on #585
htm.core does not provide/expose boost. So if your app requires boost (is that correct?), then you need to make sure the boost is provided to the custom app.

ok, I don't understand how that could happen. Can you make a trivial test-case where non-boost application does not link with htm.core, please? Including everything: source, cmake file

[2019-07-24 19:59] dkeeney commented on #585
Just for clarification, FORCE_BOOST=ON will tell the CMake script to override its computation and download (and use) boost.  NEEDS_BOOST is an internal variable.  If FORCE_BOOST is true OR the selected compiler does not support std::filesystem it will set NEEDS_BOOST to true and will download and build the std::filesystem module only along with the includes for boost.  But this is only to build th

[2019-07-25 09:11] breznak opened #590 "Avoid unfixed dependencies on git "master", use deterministic SHA/tag"
- ideally, use a Release for our dependencies
  - if not available/not usable (ie we need a newer fix), use a specific tag/commit-hash, in order to avoid silent breakages when upstream pushes a breaking commit, without us noticing!

unfixed deps:
- [ ] libYaml.cmake
- [ ] mnist_data.cmake

This is how to download a specific commit SHA from Github instead of master:
`set(URL https://github.com/keru

[2019-07-25 09:11] breznak commented on #590
@dkeeney would you like to take this,please, once you have time?

[2019-07-25 09:17] Thanh-Binh commented on #585
@breznak @dkeeney
following your recommendation I finally find out the problem.
I forgot to set my compiler option **--std=c++17** for compiling my application!!!!
Best thanks for your help.

[2019-07-25 09:17] #585 closed

[2019-07-25 09:19] breznak commented on #585
glad it works for you! :+1:

To understand if there is a problem with htm.core, your non-boost app fails to link if htm.core internally uses boost (ie c++11)?
@dkeeney (how) is that possible?

[2019-07-25 14:53] breznak opened #591 "DateTime improve constructor params"
DateTime encoder in `py/htm/encoders/date.py` is a composit of several sub-encoders (ie timeOfDay, dayOfWeek, weeked, ...)

- Currently, these fields obtain parameter `bits` which means how many bits would that field activate. (this equals to "improtance" of said field in comparison to others)
- the total size of the encoder is "unknown" (depends on all of those settings).

For modelling purposes

[2019-07-25 15:31] Thanh-Binh commented on #585
@breznak : in ImportFileSystem.hpp, you use
#if __cplusplus >= 201703L
for deciding if Boost is used. I find this solution not so good.
Any improve?

[2019-07-25 16:00] breznak commented on #585
Any improve?

what is a problem with that, and what would you propose?

[2019-07-25 16:03] breznak commented on #585
c++17 is a requirement for `std::filesystem` (+other things like libc support) which we prefer to use instead of `boost:::filesystem`.

I still don't understand why would your app break whether htm.core uses internally boost/not.

[2019-07-25 23:24] ctrl-z-9000-times commented on #591
This is good idea!  I think that this should be implemented as a shim function which transforms the `importance` parameters into a call to the underlying python DateTime encoder.

The size is always defined for the encoder, once it has been setup & constructed.

[2019-07-26 08:53] breznak commented on #591
glad you like it!

Can you specify what you mean by this?

Thinking about the problem, I'd like to make this "Importance available for each input/sensor".
I came with the following approaches:

1. DateTime encoder adds an optional arg `DateTime(..., size=0)`
  - if specified, `bits` for subencoders are threated as `importance`, normalizes so that total size of enc is as requested
  - pro: allows t

[2019-07-26 12:44] ctrl-z-9000-times commented on #591
I was thinking you could write a python function like:
[code]

I think that would add a lot of complexity to the SP & TM.  I'd rather just concatenate the inputs into one big input.

I had a similar idea where the `Connections` class did this, except instead of needing to hard code all of the rules and probabilities, they were learned from the synapse data.  However i never got around to figuring

[2019-07-28 16:12] Thanh-Binh opened #592 "Operator== by region implementation?"
I am porting my own region from nupic.core into HTM.core. I really do not understand why I have to implement a class member “operator==“ in my own region? Without it, I always get an Compiler error.
Any explain? Thanks

[2019-07-28 20:41] dkeeney commented on #592
The unit tests for serialization use a compare to insure that what was saved is the same as that restored.  However, we do not need to force everyone to implement that. Let me put in a PR to change that requirement.

[2019-07-28 21:06] Thanh-Binh commented on #592
@dkeeney thank for your check! Please let me know if the bug is fixed!

[2019-07-28 21:06] dkeeney commented on #592
See PR #593

[2019-07-29 09:23] breznak commented on #592
Fixed in PR #593 , Thanks David!

[2019-07-29 09:23] #592 closed

[2019-07-29 13:59] breznak commented on #205
I'll reopen for now, let's see if we can run the bench as a part of the CI

[2019-08-01 09:08] breznak commented on #391
The game is ON now. Our HTM is able to be ran as a part of the NAB now, there's an issue with our scores https://github.com/htm-community/NAB/pull/15 but we should resolve that. Then all anomaly-related changes here should be tested on NAB with the goal of improving the performance.

[2019-08-01 09:23] breznak commented on #19
When our HTM is available on PyPI, I'll be able to simplify the install process for HTMcore (our HTM) NAB detector, and offer it to numenta/NAB for official score-board.

[2019-08-01 10:17] Thanh-Binh opened #595 "SDR-Linking problem"
Hi all,
The porting from nupic.core into htm.core is much longer as I expected.

I want to dynamically link the output (SDR-type) of region R1 to the input of region R2.
So, by initialize() of R1, I set the dimension of SDR-output to 1024 like
[code]
 and hope that after network initialization, the SDR dimension of the R2-input will be set to 1024.
[code]
Unfortunately, R2-input has the dimension

[2019-08-01 14:05] david-pfx opened #596 "Points to clarify in README"
Building for python on Windows 10

1. VS 2015 nearly builds, but breaks with 'file not found' right after downloading boost.
1. On 64-bit Windows (the usual nowadays) 32-bit python will not work
2. VS 2019 includes 64-bit python 3 (if enabled on install), and this works just fine if on the PATH.
1. VS 2019 build appears to use MSBuild, so maybe no need for CMake?
1. The sample `htm.examples.hotgym

[2019-08-01 14:19] breznak commented on #595
afaik regions inherit dimensions from lower levels, so you should need to specify dims only for SensorRegion. (maybe even that can be left unspecified and get it on the first SDR it encounters)

[2019-08-01 14:22] breznak commented on #596
Thanks for testing and the writeup!

so did you get this running? afaik only VS2017,2019 are supported (for python3,pybind11, ...requirements)

known, intended. #586 would be more explicit about that

[2019-08-01 14:32] Thanh-Binh commented on #595
@breznak yes, R1 means something like SensorRegion, which provides SDR at output, linking to input of R2. Unfortunately, it does not work as we expected.

[2019-08-01 14:56] dkeeney commented on #596
MSBuild can be used if you want to manually build everything.  As a shortcut you can use startupMSVC.bat to create and configure htm_core.sln and then start up Visual Studio.   I used CMake to automate not only the build but also the install and deployment.  All of this could have been done entirely with MSBuild but the same CMake script also works for Linux and OS-x.

[2019-08-01 15:11] dkeeney commented on #19
...working on it.
- I am now able to build the distribution packages for both PyPI and GitHub on appveyor. The GitHub package contains the PyPI wheel.
- Need to do the same thing on Travis and circleCI.  (mostly there)
- GitVersion increment is not working yet.  Comes up with wrong version on windows.
- I think I need the PR build to check-in (git commit) both the Version file and the two distribu

[2019-08-01 15:14] dkeeney commented on #19
Oh, I will be out-of-town for the next 5 days. I will be checking email but no coding.  I will push what I have so far.

I get to do the grandfatherly thing and build a tree house for my grandson :-)

[2019-08-01 15:19] dkeeney commented on #19
Actually if anyone with experience with this type of thing wants to help out on this the help would be appreciated.  I am having to learn how to do this from scratch.

[2019-08-01 15:19] dkeeney commented on #19
Reference PR #573

[2019-08-01 15:43] crimsoncress commented on #514
Hello, I'm new in the field of htm, I'll try to solve this issue, but might need help. Thanks!

[2019-08-01 16:20] dkeeney commented on #595
If you are using SPRegion and TMRegion then I assume your project must be NetworkAPI style.

Yes, the size should automatically propagate from the sensor Region down to the connected Regions, automatically performing data type conversions as needed.  The Inputs that get the propagated dimensions will be the ones that are marked as isRegionLevel in the inputs section of the  region spec.

The easie

[2019-08-01 16:35] breznak commented on #19
great! glad you've managed to get it work! :+1:

awesome, enjoy your time! And don't forget to (unit)test it.
PS: we want a treehouse in HTM now :smile:

[2019-08-01 18:14] Thanh-Binh commented on #595
@dkeeney: yes, I did it too, but have only problem if the input type is SDR...thanks

[2019-08-02 00:34] david-pfx commented on #596
Thanks for the quick response(s). These are just from my notes, in case someone thought they were worth adding to the README. Do with them as you wish.
No, didn't quite get VS 2015 working. I think it would with a little work, but probably not worth the effort.
Yes, after a bit more reading about CMake I get it. Looks like it's also in VS 2019 now. Might be worth a note of explanation, 'cos many W

[2019-08-02 09:08] Thanh-Binh commented on #595
after debugging I found that, Input class does have evaluateLinks() like in nupic.core. Instead, it calls initialize() for evaluating the links. At the line 308-309 of file Input.cpp, we handle the SDR-type as follows:
[code]
I believe, those lines do not help by changing some SDR-properties, so that we can ask the buffer for providing SDR using getSDR().
Unfortunately, I can not debug it in my Ub

[2019-08-02 09:16] Thanh-Binh commented on #460
@dkeeney Did you write C++ ClassifierRegion? If yes, where can I find it? Thanks

[2019-08-02 10:08] breznak opened #598 "Travis CI switch to bionic"
Ubuntu Bionic images are recently available in Travis, which is nice since Xenial was getting old.
https://travis-ci.com/Farwaykorse/test_Travis_CMake/jobs/213737431#L18

use `dist: bionic` in `.travis.yml` to switch. No need to use PPA for gcc-8 then, which is packaged in the distro.

Question: do we want to test in the CI python2, or switch to py3?

[2019-08-02 10:18] breznak opened #599 "OSX Circle CI: switch to latest XCode 11 (beta) images. Use c++17"
XCode 11 is now avail on CircleCI, that would finally allow us to use c++17 with filesystem.
- [ ] switch to XCode 11
- [ ] test working c++17 in CircleCI
- [ ] fully switch repo to c++17 (drop c++11)
- [ ] possible related cleanups (rm boost?, ...)

Related #55

[2019-08-02 10:20] breznak commented on #460
it would be in `src/htm/regions/`, so not yet.

[2019-08-02 11:50] breznak commented on #514
Hi, sure, go ahead and ask if you need something.
The py code you'll be looking at is https://github.com/htm-community/htm.core/blob/master/py/htm/examples/mnist.py
And. Welcome. To. The. Party.

[2019-08-02 13:47] Leonardbcm opened #600 "Python encoders serialization"
Hi everybody. I recently get this package working and I am using the python3 bindings.
Nevertheless, I have encountered some problems while trying to serialize encoders and encoder parameters.

Here is the code sample I have done :

[code]

which is just creating a RDSE_parameters() object and then a RDSE() object, and trying to serialize them with pickle. This apparently does not work, although s

[2019-08-02 14:03] breznak commented on #600
hi,

probably not, see #160

definitely, we use language-agnostic "API for serialization" from `Serializable.hpp`, (see there for `save/load()` and `saveFromFile,loadFromFile()` methods).

That API you should use for serializing all our c++ and py (bindings) classes.

Btw, when looking for examples or help how to do something, it's good place to check the `tests`, for example here it'd be:
`bindin

[2019-08-02 19:59] Thanh-Binh commented on #595
Did anyone try my framework without any running problem?
I believe that is really a bug!
Thanks

[2019-08-02 20:30] breznak commented on #595
Hi @Thanh-Binh ,

this should work, see tests that call Regions with a SDR.

what do you mean by this? The code allocates buffer to fit the SDR.

Just looking at your code, there are a few suspicious things:

this crashes the code on a valid API method.

i do not think you should (need to) do this. Just set the region's dims, as you do in the line above.

[2019-08-02 21:06] Thanh-Binh commented on #595
@breznak: it is very kind of you to run my code! In principle we can fixe the dimension as you proposed, but in my case, I want to use a dynamical dimension, which is typically used in nupic.core!

[2019-08-02 21:38] breznak commented on #595
I'm not sure I understand what do you mean by this? SP/TM cannot change dimensions at runtime from principle, hence neither SPRegion can't do that.

[2019-08-03 07:11] Thanh-Binh commented on #595
@breznak: i do not use SP/TM region, I used my customer implementation

[2019-08-03 09:15] breznak commented on #595
I see. Still, regions imo do not support changing dimensions on the fly, if that's what you want to do.
So you once set region's dims in the init. And then the incoming SDR must have matching dimensions. That should be all that is needed.

[2019-08-03 17:11] Thanh-Binh commented on #595
@breznak,
pls note that is one of the Most  disadvantage of using SDR propagation. In nupic.core, we always use dynamical size of array for linking regions together. That is why the Input-class of nupic.core has a special Mechanismus for linking. Personally, I dislike this feature.

[2019-08-03 17:40] breznak commented on #595
I also do not understand, what would be a disadvantage of using SDRs in NetworkAPI?
If you talk about Region dims, if regions changed sizes during runtime, that would break learning and does not make sense from HTM point of view.

I was suggesting some code-changes here https://github.com/htm-community/htm.core/issues/595#issuecomment-517835173

[2019-08-03 18:16] Thanh-Binh commented on #595
@breznak i really do not understand if your proposal can solve my problem. It does not crash, but does not work correctly.
Pls show me your results by running your modified code!

[2019-08-04 01:36] dkeeney commented on #595
You can change the shape of dimensions.  The input dimensions do not need
to be the same as the output dimensions. But the total number of elements
need to be the same. The Region does the remap. Perhaps that is what you
were referring to.

Declare a dimension on the SP and it will set the output dimensions. The SP
input dimensions are set by the region on the other end of the input link.

It seem

[2019-08-04 07:33] ljulliar opened #606 "Writing bindings for another language"
I'm thinking about writing bindings for another language and my first step is to understand how Python bindings work. From what I see in bindings/py/cpp_src/ the pybind11 C++ library is used to build a Python compatible bindings from the C++ side.

Then if I take a look at, say, bindings/py/tests/encoders/rdse_test.py I see
[code]
and I'm not quite sure where the `htm.bindings.sdr` and `htm.bindin

[2019-08-04 08:16] breznak commented on #595
too so that encoders can use whatever size it wants

yes, encoding (input) can be arbitrary size, and encoder will map. Encoder and SP sizes (number of elements) do not need to match.

Currently Input has to be the same dimensionality as SP, but you can do the trick with ones: `(2048, 1)`

[2019-08-04 08:34] breznak commented on #606
Cool! What language teases your heart? Btw, @dkeeney has also a long-term goal of writing bindings for C#.

yes, we're a C++ library providing HTM. And pybind11 is used to make python bindings. It works by creating a wrapper which acts as python code but deep down calls the c++.

You can see examples in `/bindings/py/cpp_src/bindings/` , pybind11 has some syntax how c++ methods are mapped to pytho

[2019-08-04 18:06] Thanh-Binh commented on #595
@dkeeney: thanks for your comment. In my region 1, I already set the output dimension of encoderOut to {2048} by initialize().
Is it correct?
Why do not I get 2048 for the dimension of input activeCells of Region 2?
Could you pls give me a hint where exactly in my code must be changed for propagating SDR from R1 at output „encoderOut“ to R2 at input „activeCells“?
Thanks

[2019-08-05 02:51] dkeeney commented on #595
I am heading home Monday and I can look at it then. Can you post your
encoder region code that I can look through. Thanks.

On Sun, Aug 4, 2019 at 11:06 AM Thanh-Binh <notifications@github.com> wrote:

[2019-08-05 06:42] Thanh-Binh commented on #595
@dkeeney you can find my source code (2 classes for Region1 and Region2+ main() in this thread, that I included 3 days ago.
Thanks

[2019-08-05 08:33] Leonardbcm commented on #600
Thanks for you answer, I will have a look on the PR and Serializable.cpp.

I will see what I can do, my current solution was to avoid pickle and to store the dictionary of parameters that where used for the instanciation of the RDSE object. It's obviously not as good as pickle.

[2019-08-05 10:08] Leonardbcm commented on #600
I am now a little bit confused. I have looked at the test files and found a use of the Serialization interface in network_test.py. However, while trying to duplicate it on a RDSE_Params or RDSE object, I get this following error message:

`AttributeError: 'htm.bindings.encoders.RDSE' object has no attribute 'saveToFile'`

I have then inspected the Serializable.hpp header file in which the Serializ

[2019-08-05 10:25] breznak commented on #600
it does, BaseEncoder already requires Serializable, hence all our c++ encoders support it.
[code]

as always, first look at the tests for examples:
[code]

[2019-08-05 10:53] ljulliar opened #607 "yaml-cpp download failing"
I'm trying to compile htm.core. I followed the instructions in the README and the build stops right after starting with the following error:

[code]
I'm using python 3.5.3 and CMake 2.7.3
Any idea of what could go wrong ?

Thank you!

[2019-08-05 11:48] Leonardbcm commented on #600
Thanks for that I did not noticed it.

I meant in python. In the python test file for network (network_test) the serialization test is skipped :
`@pytest.mark.skip(reason="pickle support needs work...another PR")`

and the other test files seems not to use the methods "save" or "saveToFile".

[2019-08-05 11:50] breznak commented on #607
hi, thanks for testing htm.core!

this seems like a networking err on your end. Verify the connectivity, alternatively you can manually download the yaml-cpp/master.zip and provide that. Find details in the README

[2019-08-05 12:00] breznak commented on #600
yes, picke is skipped/unavailable,

that's what I've been thinking saying it should be added.

But looking at it:
`bindings/py/cpp_src/bindings/encoders/py_RDSE.cpp` the py RDSE does not expose the c++ save/load methods.

So currently serialization is not available for the encoder, as you mentioned, the encoder is basically state-less, so one can just store its parameters.

The way forward would b

[2019-08-05 12:02] ljulliar commented on #607
Network access is working just fine. So in the meantime I did download the 3rd party files by hand in the proper directory. Now I'm having a different error:

[code]
And just for the record

[code]

[2019-08-05 12:08] Leonardbcm commented on #600
I would be happy to contribute on this repository and this would solve my problem, allowing me to store my python objects.
However, I literally never coded anything in C++ so I don't think I can make it this easy.

[2019-08-05 12:12] breznak commented on #607
i'm sorry for your inconvenience setting this up. But I've just rebuilt the whole repo and wasn't able replicate your problem. So it likely is something (temporarily) with your side.

I haven't really tried the air-gapped method myself yet. I'll CC @dkeeney if he wants to look into once he's back.

In the meanwhile, I'd suggest to completely remove the build/ folder and retry the install.

[2019-08-05 12:28] ljulliar commented on #607
I upgraded to cmake 3.15.1 and it solves the issue. Thank you again for your help.

[2019-08-05 23:09] dkeeney commented on #595
@Thanh-Binh  Sorry for my obscure replies to your post.  Now that I am on my computer again (not on a cell phone) it is a little easier to see the entire post.

Let me see if I can paraphrase your situation to make sure I understand it and then add comments.
It appears you want to build a network with two regions with a link from the first region to the second.  Both regions you are building your

[2019-08-05 23:15] dkeeney commented on #607
I am surprised that the CMake scripts did not give you an error and say that the minimum requirement is CMake 3.3.

[2019-08-06 08:28] ljulliar commented on #607
Another comment: I was trying to compile htm.core on my Debian 9 (Stretch) distro and it didn't work.  Debian 9 comes with gcc 6 and there are -W flags used in htm.core Makefile that requires gcc 7 or above.

I think it would be worth mentioning GCC 7+  as a prerequisiste in the README.md. Not that Debian 10 is fine as it comes with GCC 8.

[2019-08-06 08:45] ljulliar commented on #606
@breznak I see the pros and cons of each scenario. Still to compile the binding (e.g. using swig) you need to get access to the C++ header files from htm.core and compile time and you need libhtmcore.so (or whatever the name is...) at runtime.

Since there are no binary distribution of HTM Core for now (in the form of debian packages for instance) it means that anyone willing to use a particular l

[2019-08-06 16:06] dkeeney commented on #607
Hmmm, that sounds like a bug.  gcc 6 is c++14.  We should handle -std=c++11 and above although  c++11 and c++14 it will have to download and build the boost filesystem module as part of the dependency build which takes a long time.

Can you give me more details about what did not work?

[2019-08-06 16:21] fcr opened #610 "Region.getSelf()"
I'm in the middle of porting selected Python parts of htmresearch to htm.core and Python 3.
I can add new Python region classes, but without the `Region.getSelf()` method in the Python bindings I cannot access particular methods implemented by these new region classes.

The role of the`getSelf()` method is to cast the region handle back to the original Python class and allow the Python interpreter

[2019-08-06 16:22] dkeeney commented on #606
Since we have the python bindings in htm.core we should also include the other languages in there as well, but that is just my opinion.

I want to discourage the use of SWIG because it was so difficult to use and maintain...that is why we switched to pybind11.

There is another complication.. the C++ library must be able to call out into the bound language in order to implement NetworkAPI Regions

[2019-08-06 17:50] dkeeney commented on #610
All C++ functions on the Region class are already exposed to python via pybind11.
See https://github.com/htm-community/htm.core/blob/master/bindings/py/cpp_src/bindings/engine/py_Engine.cpp

Which methods are you unable to access?

[2019-08-06 18:03] fcr commented on #610
The ones in the Python class that extends the C++ region and that are not implemented by the C++ region.

I have attached an example class. For example, without `getSelf` to cast to the class RawSensor
[RawSensor.py.zip](https://github.com/htm-community/htm.core/files/3473560/RawSensor.py.zip)

the method `RawSensor.addDataToQueue()' cannot be seen by the interpreter

[2019-08-06 19:52] ljulliar commented on #606
@dkeeney, I had Ruby in mind.
I won't be using Swig but Rice which is very much like pybind11 in spirit.

As for C++ calling in Python I realized that when I browsing the code in
bindings/cpp_src/plugins . I'm not sure how to handle that properly
actually... Just out of curiosity, why has this particular mechanism been
put in place for the NetworkAPI ??

Thanks!

On Tue, Aug 6, 2019 at 6:22 PM Dav

[2019-08-06 19:58] ljulliar commented on #607
Sorry I meant Cmake 3.7  not 2.7. And sure enough 3.7 didn't work but I
can't remember seeing an error message telling me it has to be 3.3+

As for gcc 6 the error was on the  following lines that the compiler was
rejecting:

#pragma GCC diagnostic ignored "-Wimplicit-fallthrough"

Sorry I can't give you the exact error message because I upgraded to gcc 8
in the meantime.

Hope this helps nonethel

[2019-08-06 20:40] dkeeney commented on #610
Oh, you are talking about building a new Region Implementation for 'RawSensor' in python.  This is cool.

Now let me see if I understand what your problem is...
I think what you want to do is
- create an Network object
- register your new Region implementation with the Network object as a new Region type.
- create a new region `r1` using that new registered region type.
- call `r1.getSelf().addDat

[2019-08-06 20:55] dkeeney commented on #606
put in place for the NetworkAPI ??

It has to do with the way the engine works to orchestrate the flow of data and execution of regions..

After setting up your Network object by configuring it with regions and links you would call the run( ) function on the Network object.  Within this run( ) function it will setup the calling arguments and call the compute( ) function on each region implementati

[2019-08-06 21:03] dkeeney commented on #606
That is cool.  I would expect that Ruby had some facility to implement callbacks.

Another thing to consider is that if a region implementation is written in Python and you want to use it from Ruby, we are going to need a way to register the python region implementations.

This is the same problem I would have if I wanted to write an app in C++ and wanted to use a region that was written in Python

[2019-08-06 21:06] fcr commented on #610
The solution using setParameterArray() would require an ugly change to the RawSensor since the addDataToQueue() takes 3 parameters that are synchronized, but it would work. However there are probably many situations that it would not.

If htm.core could just handle the first situation you listed, (Python caller, implementation in Python. returns a python object) that will go a long way to cover a

[2019-08-06 21:11] dkeeney commented on #607
Ah, good catch.  That was added in GCC7.  We need to not include that if the compiler is GCC6.

[2019-08-06 22:27] dkeeney commented on #610
To be honest, this is the first time I have become aware of getSelf().   It is not documented as part of the official API and not implemented in any C++ code.  So the core library does not know about it.

It is a hack in the since that by using this you break all other languages, including C++ implemented apps.  I am disappointed that it seems to be used so much in nupic and htmresearch because we

[2019-08-06 22:43] fcr commented on #610
Okay then, if the setParameterArray() will be working, I'll try and push it as far as I can.

I have a Python3 port of the ColumnPooler running on top off htm.core and it even passes all of its unit and integration tests. :-)

The RawSensor region was my current task, but I will wait for the implementation of setParameterArray() before continuing.

Meanwhile I will port the Python implementation o

[2019-08-06 23:03] dkeeney commented on #610
Ok, I will bump this up on my priority and try to get setParameterArray( ) binding working as soon as I can.   I would still like to hear what the community has to say about this issue.

[2019-08-07 13:55] breznak commented on #595
Thank you @dkeeney for providing the advice! I'm keeping the issue open, but marking as wont fix, as this is unlikely a bug in our library, but a bug in the custom implementation.

[2019-08-07 14:05] breznak commented on #606
yes, currently everyone needs to compile, but we're heading in the direction of binary distribution (not distro packages) - `tar.gz` for each platform and `pip(y)` #361

we would discuss this when needed.
I'd for now strongly prefer other (=not extremely popular) bindings moved to other repos. My reasoning is the maintanance burden on the main repo (us). Even now we have to know python and pybind1

[2019-08-07 14:20] breznak commented on #610
I'm really glad you've found a working compromise for both!

Just help me recap (as I'm catching up with last few days):
- @fcr is porting some `htmresearch` code to be rebased on our `htm.core` (change from `nupic.core`)
  - that is really cool :+1: :+1: , please even consider including some of the (more stable, more used) classes as part of this repo for even more exposure. (We're not so "strict

[2019-08-07 14:21] breznak commented on #610
PS: marking "won't fix" to indicate for now we want to go the other route, the discussion is still open.

[2019-08-07 14:58] fcr commented on #610
Just to be clear I am currently porting just parts of the htmresearch Python code.
I have called the package "htm_advanced" rather than "htm_research" since it is no longer part of the research effort.
If anyone thinks that "htm_research" is a better name I have no problems changing.

[2019-08-07 15:31] breznak commented on #610
out of interest, what parts are you porting? You've mentioned ApicalTiebreakTM, ...
and how "actively researched" vs stabilised & useful those are? I'm hinting in the direction if it'd mae sense to include them directly here?

[2019-08-07 16:22] breznak commented on #577
Can this be closed now?

[2019-08-07 16:24] Thanh-Binh commented on #595
@dkeeney thank you very much for reviewing my code.
I totally agree with you in most discussing points.
BUT I believe we have a big confusion by understanding the definition "region dimension" and "dimension of region In- and output " in htm.core and nupic.core.
1.  In nupic.core, each region may have many nodes, and nodes can be arranged somehow as 1 or multi-dimensions. If region has only single

[2019-08-07 16:53] fcr commented on #610
I am basically aiming to get the location framework running on top of htm.core. This defines what parts I need to port. I have been using the location framework extensively and have found it stable and very useful to me.

If by "directly here" you mean htm.core, I would think that htmresearch.core would be more in line with what you are doing. But if you have a way to include Python code into htm.

[2019-08-07 16:54] breznak commented on #595
Here is a link to the NetworkAPI
https://nupic.docs.numenta.org/stable/api/network/regions.html#nupic.bindings.regions.PyRegion.PyRegion.getSpec

hmm, this is indeed part of the API (although I'm not sure it's a clean way to do things). None of our region implementations (SP,TM, Input(encoder) ) uses that. Is there a problem how our generic Network classes handle the case, or are you merely asking

[2019-08-07 17:05] breznak commented on #610
yes, in htm.core, we aim to have both "production classes" (SP, TM) as well as research (Connections, there's GridCells encoder (only in py, too) )

this sounds good. We'll discuss with you the experimental/usable ratio. But we do have a set-up way for python-only code, see `/py/htm/` which runs tests, builds and can use bindings nicely.

@ctrl-z-9000-times write the GridCell encoder in py here.

[2019-08-07 19:09] Thanh-Binh commented on #595
@breznak: SP/TM region in htm.core is special case, which has only single input. If you look at ApicalTierbreakTemporalMemory, you can find more inputs with different input sizes.
In my example, the region name „SP“ is little confusing, it does not mean SPRegion in HTM.core.
Could you, @breznak pls show me the way to handling different inputs of region with current implementation of HTM.core?

[2019-08-07 19:21] breznak commented on #595
I see, I've said I don't even know if our "engine" handles correctly such situations, as none of our implemented models use multi-inputs, and thus is not tested.

my suggestion was to "merge inputs manually into a single SDR, and pass that to the upper regions". If this were a MergeInputsRegion, we'd like to include it.

[2019-08-07 20:05] Thanh-Binh commented on #595
@breznak thanks.
What is the advantage of your proposed solution vs Numenta concept in nupic.core?

[2019-08-07 22:21] dkeeney commented on #610
@breznak  Actually we do have to fix this because the binding for setParameterArray() was marked as TODO:   I am working on it now. ... actually I may need some help if this gets too complicated.

Note that this "fix" will address this one problem that @fcr had with code he is porting but not the problem of py.getSelf( ) in the general.   I have not looked at the other cases where py.getSelf( ) is

[2019-08-07 22:31] dkeeney commented on #577
I think I have a correct fix this time.  Seems to work here.  But still waiting on @Leonardbcm  to confirm it works with both setup.py install and with startupMSVC.bat in his environment if he is willing to try it one more time.

[2019-08-07 23:22] dkeeney commented on #595
This is a good discussion.

**Node**
First of all.  The concept of "Node" was removed from nupic.core before we started.  There were places that referred to it but basically the code just implemented 1 Node per input.   There can be many Inputs and many Outputs on each Region, each with a different name.  If what you describe as a Node is a named Input then we have it covered.  We also cover Fan-i

[2019-08-08 00:23] dkeeney commented on #595
I keep re-reading this and it appears that you are interpreting the `dimension` setting to be setting the number of nodes.  But this is actually an array, potentially containing multiple dimensions where each index contains the number of indexes.  Multiplying all of the values in this `dimensions` array will result in the total number of elements in the data buffer array.

So, setting this to a va

[2019-08-08 05:43] breznak commented on #595
cool. Sorry for my confusion. A question on requirements on the dimensionalities of the multiple inputs and how is auto-concatenation implemented then?
- "we just flatten all to 1D": this is the easiest to implement, breaks topology. Still, by which axis?
- "each of the multi-inputs must have the same N-1 dimensions": then we can concat by the nth dim. This would seem the most correct approach to

[2019-08-08 07:27] Thanh-Binh commented on #595
@dkeeney very good explain.
If I understood you well, you are using a vector for specifying the dimension of each input, e.g. [2048, 100] for two inputs named „A“ and „B“. But it is also ambiguously because we do not know if 2048 is for „A“ or „B“?
Because each region can have some parameters for defining the width for inputs/outputs, so that in my last post I suggested to use this parameters for

[2019-08-08 08:21] breznak opened #612 "Reconsider CI providers"
The CircleCI for OSX was not running. First I thought it might be something with a former PR I merged: #597 , as the errors appeared around that time.

The thing we need to resolve is not in the code, but with CircleCI provider:
- [x] CircleCI builds are not run, as we're marked as "abusive" https://circleci.com/gh/htm-community/htm.core/2971
  - meaning: https://support.circleci.com/hc/en-us/arti

[2019-08-08 08:23] breznak commented on #612
This is the config we're using:
https://github.com/htm-community/htm.core/blob/master/.circleci/config.yml

[2019-08-08 12:39] Thanh-Binh commented on #595
@dkeeney I want to write some comments to your explain:
[code]
hereby, each region has ONLY one node, the region dimension should be 1. I think the region dimension is redundant and we **should not use "region dimension"** for specifying the size of any input or output.
[code]
Do you mean "getNodeOutputElementCount( )"? not getNodeInputElementCount( )?
It looks logically. But in my test framework

[2019-08-08 16:36] dkeeney commented on #595
@Thanh-Binh
I am still trying to figure out your explanation of what is different other than that the dimensions were not the shape of the SDR.  It was our intention to keep the concept the same.  We did remove code that was not  reachable and refactor old code to bring it up-to-date.  But we did not intend to to change its concept.  Perhaps we got it wrong.

One thing we did remove was the LinkPo

[2019-08-08 16:40] Thanh-Binh commented on #595
@dkeeney I invested more time for looking at the source codes and found the following interesting, that I want to share with you:
1. In htm.core we have to use askImplForOutputDimensions() instead of getNodeOutputElementCount( ), which is typically used in nupic.core. Else it is confusing.......
2. By using askImplForOutputDimensions(), you can set the Dimensions in the same way as with nupic.core

[2019-08-08 16:41] dkeeney commented on #595
Oh, I see you did reply since I wrote my last post.  Let me digest this.

[2019-08-08 17:06] dkeeney commented on #595
Yes, we do.  A dimension can be set on an individual Input by name.  If the input name is not specified then it is the 'default' input.   The same applies to setting dimensions on Outputs.

Yes, that is covered.  If the dimensions on an Input (or Output) are not manually overridden by explicitly setting the dimensions, we ask the region implementation by calling getNodeOutputElementCount(name ) or

[2019-08-08 17:21] dkeeney commented on #595
Perhaps this is where our misunderstanding lies.  Perhaps we should not have used the region dimensions in this way.  They should have been just ignored because they will always be one if I understand you correctly.

However, I needed a way for dimensions to cascade through the network if the implementer did not specify the dimensions.   Obviously the sensors output needed to be set.  And the SP o

[2019-08-08 20:20] Thanh-Binh commented on #595
@dkeeney thanks for interesting discussion with you and your excellent explain, which should be documented somewhere for other users.

[2019-08-08 21:13] brev commented on #612
Investigating alternative docker build services now.

[2019-08-08 21:47] breznak commented on #612
:+1: thanks! It's not definitive, I haven't heard from Circle yet, (but I'm expecting it'll end up so)

[2019-08-08 21:52] dkeeney commented on #595
I agree.  Since the NetworkAPI documentation on the numenta site is so hard to find I think we need to have a complete set of API docs for our own repository.  The docs generated from code are not sufficient.  Its on my list.

[2019-08-08 21:54] breznak commented on #595
I'd :+1: for just more docs in the code & examples, keeping a wiki + codebase always gets out of sync..

[2019-08-09 03:29] brev commented on #612
Both AppVeyor and Travis CI seem to support arm64 Linux Docker builds:
- AppVeyor: https://stefanscherer.github.io/use-appveyor-to-build-multi-arch-docker-image/
- TravisCI: https://rendered-obsolete.github.io/2019/02/06/docker-qemu.html

[2019-08-09 06:33] brev commented on #527
@breznak  I believe this can be closed.

[2019-08-09 07:10] breznak commented on #612
wow, just in time! :smiley:
Would be worth a try. Nowhere I found what HW (speed) it will offer. And how many "threads" would the free options get? Ideally we would like to move to a single CI provider, but the reason why we have a different for each OS is that the builds did not run in parallel but rather we had to wait until one finished (say Win) before another started (OSX), that made the CI r

[2019-08-09 07:10] #527 closed

[2019-08-09 09:43] breznak commented on #599
Blocked by #612

[2019-08-09 09:45] breznak commented on #599
@dkeeney @ctrl-z-9000-times what do you think about fully adopting c++17?
- [ ] It would allow us to drop some support code/dependencies, as std::filesystem / boost
- [ ] make the parallelization #214 easy to try out.

[2019-08-09 09:48] breznak commented on #612
Edited: Travis now also should be able to run on all platforms: https://docs.travis-ci.com/user/reference/overview/

[2019-08-09 09:59] breznak commented on #266
Now that we use Cereal, can StlIo be removed completely?

[2019-08-09 10:02] breznak commented on #160
can we just add an override to the bindings that adds `pickle()` to all objects and it just calls `save()`?

[2019-08-09 13:58] Leonardbcm commented on #577
Hi, today I retried the 2 ways of building. They both worked. The logs of the builds are available in:
[log.txt](https://github.com/htm-community/htm.core/files/3486655/log.txt).

As for testings, my scripts using this package still run properly.

Thanks a lot for your support.

[2019-08-09 15:20] #578 closed

[2019-08-09 19:24] dkeeney commented on #599
Well, I don't know.  There may still be people out there still using C++11 for some reason.  Perhaps a candidate for a question to the general forum?

[2019-08-09 19:29] dkeeney commented on #266
I would expect that there are places where serialization of stl containers is still required for error messages and human readable streaming.  But you can check.

[2019-08-09 19:33] dkeeney commented on #160
I think that is the idea...   This is the one I just did for the Array object.
[code]

[2019-08-09 19:37] dkeeney commented on #577
Wonderful.  Thanks for taking the time to make sure I got this right. :-)

[2019-08-09 19:37] dkeeney commented on #577
We can now close this issue and the corresponding PR.

[2019-08-09 19:37] #577 closed

[2019-08-09 19:56] dkeeney commented on #607
I think everyone is happy with this fix.  So we can close it.

[2019-08-09 19:56] #607 closed

[2019-08-09 19:59] dkeeney commented on #460
We would love to have one.  Would you be willing to build it?

[2019-08-09 22:29] breznak commented on #599
fair point, I would prefer more modern c++ to unify the codebase (=no hacks for c++11/17 differences). On the other hand, code in c++11 would still run on c++17.
Once we have binary releases, consumer-users & python-only users do not have to care, and for c++ devs I guess installing an up-to date compiler is not a problem.

An option would be to leave this transition be, untill it is required by s

[2019-08-09 22:34] breznak commented on #160
yes, I'm doing the same for RDSE serialization #608 and I've plain copied that code from somewhere else. My point was if we can do an equivalent of Serializable.hpp with a templated method `pickle()` for python, but I guess Py does not do templates, so we can't (?)

[2019-08-09 23:09] breznak commented on #612
Just got reply from CircleCI, they were pretty nice, said it was an err on their side and we're back in business again. OSX CI running.

Will leave this issue open for discussion of trying the GH provider, or consolidating to just one. Otherwise, this is resolved and can be closed.

[2019-08-09 23:18] dkeeney commented on #599
This is a hard call.
- If we leave it as-is then we will have to rework our CI again later.
- If we do it now we might cause a problem with people trying to build with older software.  Something like where corporate management has dictated that all compilers remain at x until IT is ready to migrate everyone. (I have seen such situations).

My inclination is to leave it as-is and we drop C++11 and

[2019-08-09 23:24] dkeeney commented on #612
Really good news.   I was sure I was the one that was doing something wrong that got us kicked out.

We should still be careful not to re-submit a build until a previous build is completed.  I would think it should immediately kill the previous build but I am not sure that is the case.  Does anyone know if that is a problem?

[2019-08-09 23:44] breznak commented on #612
no worries, we develop a brain, needs some energy to burn :rocket:

it's not a problem, subsequent pushes etc to an open PR kill any prev running CI build, all the CI should be setup for maximum time & energy efficiency.

A word on that, I noticed Win CI is quite slow, is there something fishy going on, or could it be optimized? (Linux runs ~20 mins, Win ~40), is it building in both Release & Debu

[2019-08-10 00:54] breznak commented on #599
- shouldn't be too hard work, we'll just need to install a decently modern compiler in the CI (all but OSX already are c++17 conformant)

that sounds reasonable, might even keep c++11 longer, until it is required.

[2019-08-10 08:24] #610 closed

[2019-08-10 13:26] dkeeney commented on #612
Well, only the dependencies are built in both Release and Debug modes but it IS getting built twice.  I was investigating that this morning and discovered that if the the initial CMake does not include the BINDING_BUILD option setting that matches the python being used then it will build the library again when `python setup.py install` is executed.  But, `python setup.py install` does not seem to

[2019-08-10 13:41] breznak commented on #612
yes, this is another problem. And I'll be really glad if that's resolved. Say you have the htm.core c++ compiled. Only making changes to the python code (in `/py/`) , one then needs to run setup-py, but instead if being instant, it runs again linking all the htm.core.

[2019-08-10 16:16] #598 closed

[2019-08-10 16:43] Thanh-Binh commented on #595
@dkeeney: in VS2017 by compiling my application I have a Compiler problem where the term „not“ (we use it for negativity of a bool variable) in SDR.hpp is not found.
Do you know this Problem? Header file?

[2019-08-10 16:58] breznak commented on #595
Thanks for the report! and here is a solution
https://stackoverflow.com/questions/24414124/why-does-vs-not-define-the-alternative-tokens-for-logical-operators

[2019-08-10 18:44] dkeeney commented on #612
Well.... with  py code only changes ... we still need to build the library.   But if we checkin the library binary then we could bypass the library build.  I will have to think about that.

The fixes I am making now is to avoid building the library twice for each pr build.

[2019-08-10 21:49] fcr commented on #610
Thanks [@breznak](https://github.com/breznak.).

[2019-08-11 17:07] Thanh-Binh commented on #595
@breznak thanks

[2019-08-12 18:39] breznak commented on #361
I've been working on this a lot today, some progress:

Linux:

- [x] Travis reacts to "tag" events,
  - [x] had to enable "Push" (along with existing "PR/Pull") events in Travis settings (not part of config file)
  - [x] after that, to prevent "double builds" (travis/pr, travis/push) added excludes to limit builds only to: master & tag "branches".
- [x] updated `credentials` for GH/Travis
- [x] Li

[2019-08-12 19:04] breznak commented on #361
There is an upcoming problem and inconveniences:
- we have the CI on 3 different providers for all 3 platforms.
- so when each CI pushes a GH Release, we'll have "3 releases" for a single release (git tag)

Instead of looking like this:

#### Release 2.0.0
Files:
- htmcore-2.0.0-win.zip
- htmcore-2.0.0-osx.tar.gz
- htmcore-2.0.0-linux.tar.gz

we will have:

#### Release 2.0.0-Linux
Files:
- htmcor

[2019-08-12 19:09] breznak commented on #361
ok, and the "problem" would not be a problem. I was worried about `pypi` #19 , and the same scenario: we want a pip package with a single name, say `htmcore`, but we have 3 providers of CI.

But just one CI should be responsible for publishing the PYPI package, and inside its setup.py it would decide which bindings to download based on platform.

[2019-08-12 19:13] breznak commented on #361
First Linux binary release available: https://github.com/htm-community/htm.core/releases/tag/v2.0.0-4

Please test if the binary works
CC @dkeeney @ctrl-z-9000-times

[2019-08-12 19:17] dkeeney commented on #361
Great progress.  I think we can live with this for a while but I agree that PyPi is a problem.

What I envisioned was the PR build that succeeds would actually checkin its two packages so that after all three CI's are finished, the git for the PR would contain all 6 packages along with the source.   Then during the merge the packages move into the master and a hook just needs to distribute the pac

[2019-08-12 19:27] dkeeney commented on #361
Cool.   I downloaded the package and opened the tar.gz.   Then ran the unit_tests and it worked.... of course one test failed.
[  FAILED  ] HelloSPTPTest.performance

Let me try to figure out how to use the wheel file and I will try that too.

[2019-08-12 19:35] dkeeney commented on #361
That works too.
[code]
It includes the commands to load the dependencies too.  It tells me that everything is already satisfied but I guess that is to be expected.

[2019-08-12 19:39] breznak commented on #361
Great to hear, testing on..Windows..er, Linux VM?

even on a local machine? That's unexpected. Does it fail on time, or exact output?
Thanks for testing!

[2019-08-12 19:49] breznak commented on #361
yeah, that would be the best solution. But difficult to execute.

1. AWS
We could store all the artifacts (=binary for each platform) on a 3rd party storage (that we can access from each CI). Then one CI is "master" and downloads the other 2 artifacts, now it has all 3 required binaries, and it can make a GH Release.
- CONs:
  - [ ] need a free storage (AWS S3?)
  - [ ] need to access it (credenti

[2019-08-12 19:57] breznak commented on #361
I'm trying one more option, if I could "create" a release with an existing name, and just push/update the new file, we could put all 3 artifacts into a single release.

[2019-08-12 20:32] dkeeney commented on #361
Ubuntu 19  using VBox.

I often get this on the local machine...fails on time.  Not consistent.

[2019-08-12 20:36] dkeeney commented on #361
No, what I had in mind was to actually put the binaries into the Git repository and push it into GitHub.  I know the CI can checkout, so can they also make changes to the PR's repository?   Could get messy I guess.

[2019-08-12 20:41] breznak commented on #361
that's not a good solution, and not feasible long term. Git is not suited for large, binary files.
Here you have 3x~70MB, not too much to download by todays standards, but not nice to have it in git. The problem starts that with each release, you would get the new 210MB files. After a few month the repo clone would be impossible.

Further, the CI don't have (and should not) git push access.

[2019-08-12 20:46] breznak commented on #361
@dkeeney I'm taking a break for today, so the PR queue should be free

[2019-08-12 21:12] dkeeney commented on #361
Ok, yes you are right.  scratch that idea.

It must be quite late for you.  You made good progress. 🥇
I will make a PR to change the nits I found with the includes.

[2019-08-12 21:58] breznak commented on #19
@dkeeney would you please look at:
The setup.py does need to link with `htmcore.a` which can now be in 2 locations:
- in source/developer build: look in `/build/Release/` (this takes preference)
- in binary install: look in path relative to the `.whl`? (`../lib/`) ?

[2019-08-12 22:14] breznak commented on #361
I think this could be the way to go,
 - OSX,Win CI store the binary package as an artifact
 - Travis (already working GH Release uploads) wgets the files and pushes the release.
    - optionally we may make Travis run the longest (+Debug) workload, so it doesn't have to deal with sync, the others would be finished by the time (=files exist)

[2019-08-13 12:52] dkeeney commented on #19
setup.py uses CMake to create the htm.core library which is installed in /build/Release/lib.  The python extensions are then statically linked to that and are put into the .whl along with the py code.  The wheel along with lib, include, and bin from /build/Release go into the GitHub package.

So, only the GitHub package contains the htm.core library.  The wheel contains the py extensions.

[2019-08-13 13:13] breznak commented on #19
does it mean that all I need to run binary nupic is in the `.whl` file? Meaning I can move the wheel to a clean system (that has only py installed) and all nupic python would run? The file seems suspiciously slim for that (2.2MB).

[2019-08-13 13:34] dkeeney commented on #19
That is all you need to run with python.  It is the extensions and the .py code.   It does not contain the C++ parts like the htm.core library or include files.

[2019-08-13 13:40] #599 closed

[2019-08-13 13:53] breznak commented on #19
I'll test that, IMHO it must contain some form of the `.so/.a` library, there is no implementation of, say SP, in python, and the code needs to call the c++ backend to run.

[2019-08-13 14:16] breznak commented on #19
I have into another error, unsupported arch?
- downloaded the binary release from GH (should be Linux, 64b)
- when I run `$ pip3 install --verbose htm.core-2.0.0-cp37-cp37m-linux_x86_64.whl `

it fails with
[code]

I'm on ubuntu 64b, with py3.

[2019-08-13 14:17] breznak commented on #19
the CI is using py3.7, wonder if that's the problem and it is so sensitive?

[2019-08-13 14:32] breznak commented on #19
and yes, when I install py3.7, the whl runs like a charm!

It's a bit bummer for providing "support for Python 3" if the version had to match exactly.
We should see if:
- it's forward compatible. So if the whl is generated from py3.6 runtime, I can use it on any py3.6+ ?
- get the CI run on lowest reasonable denominator (py 3.6, 3.4?)
  - there was some reason I bumped Travis to 3.7 ...

Otherwise

[2019-08-13 17:25] dkeeney commented on #19
It does contain a set of .so files which were built by linking against the htm.core library.
[code]

Should not be surprised.  :-)

[2019-08-13 18:32] breznak commented on #361
since https://travis-ci.org/htm-community/htm.core/builds/571444454
we have first, full Release: https://github.com/htm-community/htm.core/releases/tag/v2.0.0-7

@dkeeney this release can be used as testing for PyPI #19 package uploads.

TODO:
- [ ] OSX CI does not run new build on tag to master
- [ ] use API to fetch artifacts from the CI, currently we use hard-coded URL only
  - [ ] use version

[2019-08-13 18:39] breznak commented on #19
@dkeeney you can now go ahead on pypi, this is unblocked by #361 now

[2019-08-13 20:08] breznak commented on #361
this is a PR with tag:
https://travis-ci.org/htm-community/htm.core/builds/571494896
[code]

This is merged the PR above to master:
https://travis-ci.org/htm-community/htm.core/builds/571496907

[code]

So I don't think this woud trigger the deploy on master in Travis, @dkeeney .
Is there a problem if the VERSION is set correcly only during the tagged, GH release builds?

[2019-08-13 20:18] breznak commented on #361
ok, crisis saved. It works ok with the workflow you need:
- tag a branch
- make a PR
- pass tests
- deploy GH release
  - hack: the release is created whenever the PR passes (likely even doesn't have to be approved, or merged). This could be a security problem, anyone could craft a tagged PR, open PR and have new release (-> on pypi) even before we can see that.
https://travis-ci.org/htm-community

[2019-08-13 20:24] breznak commented on #361
so, no. Crisis is even worse :stuck_out_tongue:

- your approach does not work, the "Merged PR" does not ingerit the tag and does not trigger a build:
https://travis-ci.org/htm-community/htm.core/builds/571496907#L2628

- what works is tagging a PR, and opening that. Unfortunately, we must close that as it imposes security risk of un-signed-off releases.
- what we will use is tag on master, issued

[2019-08-13 22:23] brev opened #634 "SimHash Document Encoder: real-world validation example of the encoder (~MNIST)"
Would be nice to try some real-world validation of the encoder.
@crimsoncress is working on classification in the vision domain (using the MNIST examples), you could do similar with a text-classification dataset.

* spam/ham is the classics of text-classification
* we might look for some interesting NLP datasets, such as "topic classification", "document summary"

@breznak

[2019-08-14 20:22] dkeeney commented on #610
Cool.

I have been giving a lot more thought to the more general problem of how to call arbitrary functions on the Region implementation and how to keep the calls synchronized with the execution.  Although I still don't have an ideal solution to replace getSelf(), I have thought of some additional tools that might help.

**executeCommand( )**
This is a way to invoke the Region implementation witho

[2019-08-15 15:20] dkeeney opened #637 "Generic Encoder Region"
This is a new topic to discuss how to implement a Generic Encoder Region.

[2019-08-15 15:28] dkeeney commented on #637
A Generic encoder region would be ideal.  There are a couple of problems I am struggling with:
- The arguments to each encoder are different.  I think this is doable but it complicates things a bit.
- I would like to dynamically allocate an encoder based on the name of the encoder passed in as an argument.  I would like to be able to allow someone to create a custom encoder and register it with th

[2019-08-15 15:55] dkeeney commented on #637
**Arguments**
The arguments problem has always been a complication with regions.
 The region starts with a set of argument descriptors in the Spec.  This describes the name, type, access, and default value of each argument.  The yaml string passed into the Region creation is merged with the values in the Spec to produce the set of arguments that are to be passed to the algorithm.

Somehow I need t

[2019-08-15 16:21] dkeeney commented on #637
Back in my old C coding days it was no problem.
- All you need is the variable's offset into a structure and then using pointers and casts for type, plop the variable's value into the structure at that offset.  These offsets can be obtained using a macro that defines the fields in the structure.
- If a structure had no padding and the field descriptors in the Spec were in the same order as the var

[2019-08-15 20:28] dkeeney commented on #637
After reading up on introspection it looks like it is not likely to exist in C++ before C++20.
It is amazing the lengths people have gone to in order to get introspection types of functions.
We don't really need it to that extent. All we need are the descriptions of the fields of the parameter structure.

**So, here is a proposal:**

Place the following in htm/encoders/BaseEncoder.hpp
[code]

Plac

[2019-08-15 20:51] dkeeney commented on #637
Correction: macro looks like:
[code]

[2019-08-16 02:32] dkeeney commented on #637
Sorry this topic is getting so long...

As I start to build this EncoderRegion class and I am having a problem with BaseEncoder.
I need a pointer to a generic  encoder class, regardless of the encoder; to be used in my factory. Normally this would be a pointer to the BaseEncoder class.  However, the BaseEncoder class is templated so all references to the BaseEncoder class must include the input ty

[2019-08-16 13:40] breznak commented on #637
a simplest solution I had in mind is the user would pass an instance of the encoder (means the params are dealt with) to the EncRegion.

How many encoders do we have now, RDSE & Scalar? We could unify their params.

What I thought this could work with is JSON-params as constructor argument, so you could call `EncoderRegion( "RDSE", "{JSON params: for rdse}") `

Can't the Region be templated as wel

[2019-08-16 14:19] dkeeney commented on #637
Enjoy your trip and we can discuss this more when you return.

I am beginning to think that the real problem designing a generic region is figuring out how to pass arbitrary input data to the encoder.  For the parameters the Region does use JSON but the data to be encoded for each cycle is the problem. The `input` in the call to `encode(input, output)`.   Each encoder could be expecting a differen

[2019-08-16 14:53] breznak commented on #637
true, feeding in the date is more of a problem. So should this be part of the VectorFileSensor, and just make it more generic to choose arbitrary encoder..?

[2019-08-16 14:53] breznak commented on #19
How did the testing PYPI uploading work out?

[2019-08-16 16:42] dkeeney commented on #637
I don't think so.   The VectorFileSensor does not output an SDR.  It outputs an array of data (like one record) for each cycle.  At the moment its output is an Array object containing an array of Real32 but with a little magic we could make that any of our types.  The Link can pass any of the data types in the Array object and the values do not have to be just 1.0 and 0.0.

We could pipe that into

[2019-08-16 20:00] dkeeney commented on #19
Well, I set a tag (2.0.5) on the master and the master now shows the new tag.  The GitHub distribution is there although the filenames have the long id rather than the m.m.p style version.  But PYPI did not show up at all.

There is probably a log someplace but I have no idea where to look.

[2019-08-17 05:12] breznak commented on #19
this is the one I was wondering about. Log should be on Travis about the command execution, rrest maybe on the PYPI test servers?

[2019-08-17 15:47] dkeeney commented on #19
Cool, did not know I had access to that...
There is an error in the changes I made to the script.  And the version numbers are not coming out quite right in the deployment packages.   Working on it today.

[2019-08-19 16:51] Sedom9 opened #641 "Saving Spatial Pooler"
Hello!

I want to migrate from Python2 to Python3. That’s why I use htm.core( community fork). And I don’t understand about serialization in htm.core. I want to save Spatial Pooler, but I get error: AttributeError: ‘htm.bindings.algorithms.SpaialPooler’ object has no attribute ‘save’

[2019-08-19 17:05] dkeeney commented on #641
Thanks for the post @Sedom9

I am also repeating the forum post from @1111 because it also has some hints.
[code]
.

[2019-08-19 17:07] Sedom9 commented on #641
Thanks. I hope you can solve this problem. Because without saving I can't use this for fork.

[2019-08-19 17:12] dkeeney commented on #641
In looking at this I see that the save() and load() functions were not implemented so I will have to do some work on this.

pickle was implemented on both the SP and TM but apparently there seems to be a problem with it as indicated by @1111

There is are functions loadFromString( string) and writeToString( ) that should have been a JSON representation of the SP but I think it is binary.  So that

[2019-08-19 17:14] Sedom9 commented on #641
Thanks a lot. I will wait

[2019-08-19 17:15] breznak commented on #641
@Sedom9 have a look at test bindings/py/tests/algorithms/spatial_pooler_test.py
hint, have python >= 3.6, it would help if you can provide a test-case that crashes for you, ideally a PR.

[2019-08-19 17:41] Sedom9 commented on #641
[code]

[2019-08-19 17:45] breznak commented on #641
If you look at the tests, it uses pickle to serialize a (basic) SP. What is your scenario that is failing?

[2019-08-19 18:13] dkeeney commented on #641
@breznak The test is not very extensive.  It does not actually check if the restored SP is the same as the original.  The original SP contained no data and has all default parameters (other than the dimensions).  We should be able to do a little better.

[2019-08-19 18:15] dkeeney commented on #641
Also, save(filename) and load(filename) was not implemented as far as I can tell.  Should we implement them?

[2019-08-20 12:57] Thanh-Binh opened #643 "C++ Region and parameters in Specs?"
@dkeeney: In Region (implemented by users), all user-defined parameters of a region are defined and assigned by a default value in the Specs. Users can change a parameter in run-time by using something like
params.getScalarT<parameter_data_type>("parameter_name")
in the constructor, e.g.
MyRegion(const ValueMap& params, Region *region) : RegionImpl(region)

But there is a small difference between

[2019-08-20 13:35] breznak commented on #361
@dkeeney we still have a problem with the releases:
- OSX CI does not seem to run on master tag
- Travis gets timed-out waiting for Win CI to finish
  - How do we go about that?

[2019-08-20 14:05] breznak commented on #641
yeah, I know. A good test would be eg running a SP for 1000 random inputs, serializing, computing the next iteration from the original and a restored SP and see if those are the same. That's why I'm asking OP for usecase where this fails, ideally a PR with test case.

Depends, we should be compatible with `Serializable.hpp`, I'm not sure if we pulled through and switched to save/load, or kept usin

[2019-08-20 15:18] dkeeney commented on #643
This should work exactly like nupic.core.

There are two types of objects here.
- Region  which is a generic object that represents the region
- RegionImpl subclasses which are implementations of the region.  I will refer to this as the "plugin" because these can be written in either C++ or python even if the app is not the same language.  The plugins can be user written or they may be the buillt-

[2019-08-20 15:42] dkeeney commented on #361
Hmmm, I have no idea.  You know more about this than I  :-(
Keep in mind that what we are trying to do is probably also being done by a lot of other people so this problem has most likely already been solved in some way or another.

Maybe we need to re-think all of this.
If there was a way to use the last PR build then we would know that all artifacts are already present at merge time.  If we coul

[2019-08-20 16:21] dkeeney commented on #641
We are 100% on Cereal.  The save/load calls are in Serializable and get converted into Cereal calls save_ar and load_ar which pass the ar argument.

For C++ users we do have
- save(stream) and load(stream) and
- saveToFile(filename) and loadFromFile(filename) on the Serializable base class.

All of these can have the optional flag to set the format (Binary, JSON, etc).

For Python we have
- pickle

[2019-08-20 16:34] dkeeney commented on #641
@breznak ,The problem I am trying to fix with pickle:

I have found the problem although I am not sure how to fix it yet.
The pickle.load( ) is implemented in the bindings as a call to load( ) we do this:
[code]
I added the cout << to see if the SP is restored correctly and it is.  So the passing of the byte array did work.  However, when we return the sp object, we are returning it by value.  pyb

[2019-08-20 16:47] Thanh-Binh commented on #643
@dkeeney:
Yes, I use the plugin constructor as you mentioned, but the behavior is not the same. Maybe it is a bug here?
I prefer to use default value for some parameters, than use setParameter()

[2019-08-20 17:21] dkeeney commented on #643
If you passed a " " in the third argument to the `addRegion(name, type, "") `  Then `params.getScalarT<parameter_data_type>("parameter_name") ` **will return the default value from Spec.**

You do not have to use the params.getScalarT function at all, you can assign your own defaults in the body of your plugin if you choose.  It is up to you if you wish to use the values that were prepared for you

[2019-08-20 20:14] dkeeney commented on #641
Found the problem with pickling.  The bindings for pickling on SP was broken because it could not handle returning the created SP object by value during deserialization.  Probably due to a problem with the copy constructor.  We don't really want it to be copied anyway so it works returning it in a unique_ptr object.

[2019-08-20 20:53] breznak commented on #361
what limits you in AppV if you login with GH account? I'd like to make you able to see as much as you need

[2019-08-20 21:51] dkeeney commented on #361
I login with GH account.   That part works.  The drop down list in upper right shows my name (for my own projects) and numenta-ci.  htm-community is not listed.  If I select numenta-ci I can see their projects but there is no way to select htm-community.  It is like it does not know that I am a member of htm-community.   Very strange.

If I go over to CircleCI or Travis and login I then can see ht

[2019-08-20 23:49] dkeeney opened #645 "Possible Serialization problem in JSON mode."
In bindings\py\tests\algorithms\temporal_memory_test.py, line 58
I marked this py unit test as skipped.  It is giving me an error that comes from Cereal. It is an error I have see before with JSON output and it may indicate some bad Cereal serialization code someplace.

This happens when deserializing the TM using the loadFromString(s) function.

[2019-08-21 07:48] breznak commented on #361
@dkeeney can you try again, please? I've changed AppV authorization, we're now using (recommended) "AppV Github App" which I installed under htm-community. Things should work now.

[2019-08-21 08:01] breznak commented on #645
oh, so just in TM? Do you think we do something non-standard we could be doing in TM serialization, or a bug in JSON used by PyBind11?
Q:
- file a bug at pybind?
- is there a newer release to use?

[2019-08-21 08:47] breznak commented on #641
Resolved in #644, thank you David!

[2019-08-21 12:54] dkeeney commented on #361
No, did not help.
I even cleared all cookies on my browser and tried again.
IF I go to the Security settings on the AppVeyor, under "my accounts" I see
- dkeeney
- numenta-ci

If I go to my profile page on github, I see that I am members of both numenta-ci and htm-community.

I suspect AppVeyor has me messed up in its database.

[2019-08-21 13:23] dkeeney commented on #641
@Sedom9   If you pull a fresh repository from htm.core you should find that SP can now be saved and restored with pickle.  It can also be saved and restored using saveToFile(filename) and loadFromFile(filename ).

The save( ) and load( ) functions work with C++ but because the argument is a stream they cannot be used directly from python.

I hope this works for you.   Thank you for submitting the

[2019-08-21 13:47] Sedom9 commented on #641
Thanx a lot for your help!  I will pull fresh repository from htm.core. I will try to save my Spatial Pooler. And I will write posts here about my testing.

[2019-08-21 18:04] Thanh-Binh commented on #643
@dkeeney thanks for your information.
In my test, I have 2 parameters in Specs: "parameter1" with UInt32 and "parameter2" with data type Real32 and the default value 1.5. Both parameters are ReadWriteAccess.
I want to use the default value of "parameter2", and pass only "parameters1" via
```addRegion(name, type, "{parameter1: 100}")```
and get it by using
[code]
In consol, I see parameter2 has the

[2019-08-21 18:58] dkeeney commented on #643
Hmmm, that does sound like a bug.
Let me see if I can reproduce this.

[2019-08-21 20:02] dkeeney commented on #643
Ok I setup a test to confirm that it is working as it should.

In the constructor of the region TestNode.cpp are the following lines:
[code]

In the Spec of TestNode.cpp are:
[code]

My test looks like this:   (I appened this to the end of NetworkTest.cpp)
[code]

The test passes.

[2019-08-21 20:03] dkeeney commented on #643
I am getting expected behavior.  So I must not be understanding your question properly.

[2019-08-21 20:33] Thanh-Binh commented on #643
@dkeeney
I am very interested in knowing the value of „parameter2“ by internal use (within class like my test). In this case , no getParameter() Need!
Other question:
Do I have to declare the class member „parameter2“? like
Real32 parameter2;

[2019-08-21 21:16] dkeeney commented on #643
From within your App, (like the test program) the only way to find out the value of any parameter in your region is via  `getParameterReal32("parameter2")`
I am assuming that your Region code contains a getParameterReal32(name, index) function and it will match the name "parameter2" and return that value.

From within your Region code, yes you need a variable for your parameter so `Real32 paramete

[2019-08-21 22:42] breznak commented on #361
It should be working now, I've added htm-community/htm.core , and you're member of that team. Please let me know

[2019-08-21 22:58] dkeeney commented on #361
YES! That worked.  Thanks.

I will take a look at this and see if this helps me any.

[2019-08-22 13:43] hirarinNakalab commented on #641
@dkeeney Thank you for your quick response!
I am account @1111 of htm forum.
I was thinking of using sp and tm saving, so it was very helpful.

[2019-08-22 14:34] Thanh-Binh commented on #643
@dkeeney:
I understood you all. But I am 100% sure that for each parameter in Specs we have to call
```params.getScalarT<parameter_data_type>("parameter_name")```
in the constructor.
If we did do this without passing parameters over addRegion(), the default value of all parameters will be 0, INDEPENDENT on what you set in Specs.
For testing it with your TestNode, you can put std::cout before and a

[2019-08-22 14:56] Thanh-Binh opened #646 "SDRClasifier for Prediction?"
Hi David @ctrl-z-9000-times
I am looking at your Predictor now.
If I understood you well, this function will be used for prediction any data, based on SDR-pattern.
I really do not understand what does "recordNum" mean exactly for infer and learn?
[code]
if I have 1D data like a vector v = {1.1, 5, 3, 9 ...}.
Is it a data index, or frame index? e.g. SDR for v[0] = 1.1, recordNum = 0?

Secondly:
If

[2019-08-22 17:35] dkeeney commented on #643
No, I just proved that if you DID call `params.getScalarT<parameter_data_type>("parameter_name")` it WOULD have the default value from the Spec.

If you do `std::cout << "before: " << real64Param_ << std::endl;` before the assignment to real64Param_ it would output garbage because nothing has been assigned to the variable.  Some compilers would even give you a warning.

Now, if you are getting 0,

[2019-08-23 13:35] ctrl-z-9000-times commented on #646
Hi Thanh-Binh,

The `Predictor` class is used for time-series data, and it needs to know the record num to know how to process a data sample.  If you don't want time-based functions you should use the `Classifier` which is like the `Predictor` but does not have any concept of time.  Internally, the `Predictor` contains several `Classifier`s, a time-delay queue, and logic to sort out which classifi

[2019-08-23 14:35] Thanh-Binh commented on #646
@ctrl-z-9000-times thanks for your answer.
In the meantime, I think we can use
1. your Predictor
2. exponential moving average of the recently given inputs
3. statistics on data.
for estimating the predicted values ...
Thanks.

[2019-08-23 16:42] dkeeney commented on #539
I am going to use this issue to continue the discussion about our Release project since the PR's go away each time we try something.

I must confess that I am having a problem being motivated on this project for some reason.  I understand so little about how these tools work that reading the docs don't make since.  Every time I start a search on deployment strategies I end up reading about elabora

[2019-08-23 16:58] dkeeney commented on #539
Today I stumbled on "Github Releases".  I am sure I saw it before but I thought this was a generic term related to the process of downloading the releases that were created by a CI.  But this is a different approach where we initiate with Github rather than by setting a tag.

There is a "Draft a new Release" button in the Github releases page https://github.com/htm-community/htm.core/releases   No

[2019-08-23 22:30] breznak commented on #539
all points correct

yes, it's a "special" term, for releases done on GH.

yes, yes, but this one no.

The "manual release" (let's call it that), does the above 2 steps as you say, but then does nothing (the release is empty, resp with sources zip only). There's no logic telling the CIs to upload anything (the CI are 3rd party to GH anyway). What actually happens is the CI will generate artifacts o

[2019-08-23 23:06] dkeeney commented on #539
I went to "GitHub Releases" and Clicked the "Draft a new Release" button and created release v2.0.8  to see what happens.  Waited a while... then checked each CI.
- CircleCI showed no new jobs.
- Travis started a full build on the master.  Successful build. Package generated locally. The Job is timed out because nothing from AppVeyor.  Never even got to the point it checked CircleCI.
- AppVeyor st

[2019-08-23 23:20] dkeeney commented on #539
But giving the script longer to run is not going to help because the API request to download from AppVeyor did not work even though the artifact was generated and waiting.

[2019-08-23 23:44] breznak commented on #539
that's a good 1st step, so the AppV API is not working?

[2019-08-24 14:32] Thanh-Binh commented on #646
@ctr-z-9000-times
I am testing Predictor for predicting bucket Index of a sinus wave data like
Data-> rdse encoder-> predictor-> bucketIdx
I compare the bucket index of encoder with index provided by predictor, but they are very different even after long learning.
Please note that SDRClassifier of nupic.core provides very good results.
Do you have any idea? Thanks

[2019-08-24 20:09] dkeeney commented on #539
for CircleCI, tagged master builds are not ran by default.  So we need a special job to run tagged master builds. Probably does not need the debug build to run in this case.

Artifacts can be uploaded independently from each CI, (at least the GitHub API supports it).
- For CircleCI, I have to run a go script (or run our own curl command) to do the artifact uploads.
- For Travis, it has `deploy` wi

[2019-08-25 20:52] dkeeney commented on #539
Current status:  All three CI's are kicking off builds triggered on a merge of a PR. It does not hurt anything I guess but probably not necessary.  We don't need the artifacts until after the tag of the master which should start yet another build.

The merge build's for Travis and Appveyor were successful and did not perform the deployment.  However CircleCI did try to deploy so needed to add the

[2019-08-26 10:15] breznak commented on #646
@Thanh-Binh have you seen

esp the `def testMultiStepPredictions(self)` test? That coud help you with your tests.

[2019-08-26 14:05] Thanh-Binh commented on #646
@breznak no, i Found this issue from my c++ frameworks. I analyze the likelihood and the weight update too. I have no idea for improving

[2019-08-27 17:28] Thanh-Binh commented on #646
Hi all, finally I found a reason for false classification is a limited computing precision by using data type Real for PDF and weight matrix. If you change from Real to Real64, then you can solve this problem

[2019-08-27 18:02] breznak commented on #646
Thanks @Thanh-Binh  :+1:
that should be easy to fix. Do you have an example of code that would be broken by this, so we can add a unit test?

[2019-08-29 11:04] breznak commented on #539
@dkeeney the VERSION seems to be broken. What I get running cmake:

[code]

[code]

[2019-08-29 13:12] dkeeney commented on #539
yep, I broke it.

[2019-08-30 03:15] dkeeney commented on #539
I built a script to perform the PYPI upload and ran it locally here on my machine.  I got this error:
[code]

Google on his gives:  https://github.com/pypa/pypi-legacy/issues/120

Here is a work-around
https://github.com/pypa/manylinux

[2019-08-30 03:20] dkeeney commented on #539
That may be why the travis-ci builds never deployed to PYPI.

[2019-08-30 04:53] breznak commented on #539
oh, that sucks. If I understand it, for deployment we'd have to use Docker with manylinux to build?

[2019-08-30 13:11] dkeeney commented on #539
- I have a fix for the version number scrambling thing.
- All three seem to be triggering on tagged master now.
- The merge-to-master build is still running on travis and circleci.  Not needed but probably ok.
- The deploy sections of all three fail.  For travis it was probably the linux problem on PYPI.  The other two do not seem to have a GITHUB_TOKEN in the environment.
- I made a script that a

[2019-08-30 13:13] dkeeney commented on #539
I will continue to work on this today but I will not be available during this weekend. (my kids are coming to visit).

[2019-08-30 15:44] fcr opened #651 "Python bindings Region.getOutputArray() always returns an empty array"
As part of my Python3  port of selected htm research code, I need to access the output data of the regions defined in Python.
In the binding code, py_Engine.cpp Region.getOutputArray() just returns an empty array.

Without a functional getOutputArray(), there doesn't seem to be a way to access the output of a region from Python.

[2019-08-31 02:42] dkeeney commented on #651
Hmmm, that should give you a numpy array.
I cannot look into it until next week but I will definitely check this out.
Thanks for reporting it.

[2019-08-31 20:27] fcr commented on #651
C++ is not my comfort zone otherwise I would have tried to fix it myself.
I am stuck until this is working. :-(

[2019-08-31 21:55] breznak commented on #651
@fcr could you post a snip of a test-case, so I can add it to the API tests? And thanks for reporting!

[2019-09-01 10:14] fcr commented on #651
[@breznak ](https://github.com/breznak) I have extended the bindings network_tests to test the getInputArray() and getOutputArray(), since both are currently not working. As a bonus this tests whether the network is indeed transferring the data between regions.
[network_test.py.zip](https://github.com/htm-community/htm.core/files/3563344/network_test.py.zip)

[2019-09-01 13:50] dkeeney commented on #651
I will not have access to a computer until tomorrow but I remember now that
this accepts and returns a python array object rather than a numpy array.
GetParameterArray() requires the array to exist before calling and it will
get populated during the call.

See bindings/py/cpp_src/bindings/engine/py_Engine.cpp lime 90.

I do not know what the original API did.

On Sun, Sep 1, 2019 at 3:14 AM Fred R

[2019-09-01 14:28] fcr commented on #651
What you describe is correct for getParameterArray but not getOutputArray (nor getInputArray).
This is the current implementation in py_Engine.cpp:

        py_Region.def("getOutputArray", [](const Region& self, const std::string& name)
        {
            auto array_ref = self.getOutputData(name);

            return py::array_t<htm::Byte>();
        });

[2019-09-02 15:18] Thanh-Binh opened #654 "no PredictiveCells found by TemporalMemory"
By testing TM for anomaly detection with a simple sinus wave data, I found the raw anomaly score is always 1. TM calculates the anomaly using predictive cells internally.
If I check for predictive cells, then I found that no cell is predicted for very long time period. So that it explain me, why the raw anomaly scores are always 1.

I am wondering, why TM can not find any predictive cell?
Any idea

[2019-09-02 16:49] ctrl-z-9000-times commented on #654
4 active inputs is far too few active inputs.  The TM needs enough active mini-columns such that if a single cell per mini-column activates, that it has enough active cells to meet the activationThreshold, which is 13 in this scenario.  I ran this scenario with 20 active inputs and the anomaly significantly decreases.

[code]

HTH

[2019-09-02 17:06] breznak commented on #654
Thanks Binh for reporting!

this should part of the #536, is there some stable method we'd check for sensible settings in this case? We cannot require that always SP's active output count > activation threshold, but we could run some statistics and make the check for a long-term? The outcome would be to catch incorrect user's settings, as shown here. These problems are tricky, as there's no failur

[2019-09-02 18:53] dkeeney commented on #651
Ok, now that I am back at a computer I can see what you are asking for.

The bindings for getOutputArray() and getInputArray() are not right.  These should be giving access to the input and output buffers (or a copy of them).

The original nupic API documentation did not mention these functions.
http://nupic.docs.numenta.org/stable/api/network/regions.html
But obviously they are needed and in fact

[2019-09-02 18:58] dkeeney commented on #651
As a side note, there seems to be several other Region function calls related to dimensions on Input and Output buffers that did not have bindings.  I will add some of those as well.
[code]

[2019-09-02 20:43] Thanh-Binh commented on #654
Thanks all for your Feedback.
Ít ít clear that works with more active bits.
But not clear for me that we go further outside the limit of 2% SDR. In your test even with 20%.
My question: what is happend when I use 2% active bits of larger sdr length?
Exactly, here n=1000 instead of 128
And w=20
What do you think?

[2019-09-02 22:14] dkeeney commented on #651
Am I missing something or were NONE of the python implemented regions in the nupic repository ported to Python3 in nupic.core?

I am looking in the py folder in htm.core and I don't find any in there.  The reason I asked is that as I started to use the unit tests network_test.py I discovered that none of the tests actually tested calling the compute() on a python implemented region implementation.

[2019-09-03 04:20] fcr commented on #651
getInputDimensions and getOutputDimensions are normally implemented by the Region subclass as you can see in the unit tests I sent you earlier.

I have Python regions working but just cannot get the output data from them.
I had to add  .def("executeCommand", &Region::executeCommand) and some other minor additions to the Python bindings but have not made a push request for this yet.
I have attached

[2019-09-03 12:49] breznak commented on #651
In numenta's nupic.core, there's nothing for py3, our community nupic (nupic.py) is almost all ported to python3, so if there are py regions of interest, it's the place to grab them from.
Of your htm.core, what was in nupic.core, is here, we didn't port anything from nupic to here (we could)

I'd suggest to fix first what's blocking @fcr , and later keep adding additional py compatibility/regions.

[2019-09-03 13:08] fcr commented on #651
As I wrote earlier I am porting all the pieces of htmresearch that implement the location_network which BTW includes the ColumnPoolerRegion, GridCellLocationRegion, the RawSensor region and the RawValues - all very useful regions in their own right.

I am nearly there.

How about I just submit a push request with the whole shabang with unit tests once I see that it is stable (with a wrapup, of cou

[2019-09-03 13:31] dkeeney commented on #651
Oh, I thought we were going to put the python3 code in htm.core.
So, Ok I know where to look now.

Sure.  It does not all have to work before you push.  But that would give me something to code against.  Thanks.

[2019-09-03 13:44] fcr commented on #651
Just give me the missing piece first :-) - getInput/OutputArray()

[2019-09-03 14:54] dkeeney commented on #651
Sure.  It is easy to go down a rabbit hole and forget the original objective.

[2019-09-03 23:48] dkeeney commented on #651
My fix is in PR #655.  This adds the getOutputArray() and getInputArray() as requested.

As I was constructing the unit tests for this it became apparent that there was no way to directly populate an input buffer from python.  Normally there is some sort of encoder that does this.  But for testing it would be useful to force an array of data into an input buffer so I added the function setInputArr

[2019-09-03 23:56] dkeeney commented on #651
Another discovery was that, unlike C++ region implementations, Python region implementations do not have access to it's corresponding Region object.  This means that within the region implementation it cannot access the input or output buffers or dimensions except in the compute( ) function where the input and outputs are explicitly passed in.  That means that it cannot do buffer related things in

[2019-09-04 08:52] fcr commented on #651
Thank you [@dkeeney](https://github.com/dkeeney). It works as advertised.
Now I can go ahead and get my code to work. :-)

[2019-09-04 09:47] #600 closed

[2019-09-04 10:12] #651 closed

[2019-09-04 11:20] breznak commented on #646
@Thanh-Binh do you have a test-case, so we can replicate the bug, please?

[2019-09-04 15:32] Thanh-Binh commented on #646
@breznak No, I do not have any test case here. It was also my short observation and report, ... and found quickly a solution for it...

[2019-09-04 15:35] Thanh-Binh commented on #654
I think, my last question is only a parameter-tuning for specific tasks, so that I'd like to close it....

[2019-09-04 15:35] #654 closed

[2019-09-04 15:56] Thanh-Binh opened #656 "possibility to clone TM?"
I think for higher prediction and robuster anomaly detection, we need something like a chain of 10 TMs for 10 steps prediction: TM0->TM1->TM2->...-->TM9, where the predicted cells of the previous TM (e.g. TM1) will be inputed into the next TM (e.g. TM2) and so on.
It can be realized by using an array of TM with fixed size, I say variant 1,
But it can be also by using only 2 TMs: TM0 and TMworker,

[2019-09-04 19:04] dkeeney commented on #539
Ok, back to addressing the deployment issues...

With that last push, #652, I added our own script for uploading artifacts using the GitHub and PYPI APIs.  However, these will not actually work because the Login Tokens need to be created and set in the environment for each CI and that needs to be performed by someone with admin privs.

Once we have the Tokens in place I should be able to get the G

[2019-09-04 20:13] breznak commented on #539
I'll do the tokens in a day or 2, sorry for delays.

[2019-09-04 20:18] breznak commented on #539
ok, this sucks. So that's why Numenta has the "manylinux" docker images for deployment. I'd like to suggest something similar as with the docker ARM, keep normal (linux) PRs on modern compilers,c++,... and on release do an extra docker build on an old compiler.

Q: (std)libC is the component that has to be same or older for the PYPI to work for our linux users? So we need a docker image with recen

[2019-09-04 21:10] dkeeney commented on #539
My feeling is that we should do a "manylinux" for whatever we happen to be building on travis and everyone else for which that does not work will need to build from sources.

If you really do want to build one that works for everyone, there is a base Docker image that PYPI maintains for that purpose.   Don't know if that supports the newer compilers.

[2019-09-04 21:13] dkeeney commented on #539
I was wondering if we should convert to using Docker for all builds.
... of course, this again is another thing I know absolutely nothing about.

[2019-09-04 21:53] breznak commented on #539
this could be interesting, iff the image is recent enough for our c++11/17 compilers. I'd like to keep the CI as close to a modern, real platform, and have the docker only for the releases.
That way we catch compiler errs and other incompatibilities, our source build is now really lean, so I want to keep it that way.

likely no for performance reasons..

[2019-09-05 08:43] breznak commented on #656
So the task is to do multi-step predictions? (predict Nth step, instead of the current next).

this is the __hierarchical__ in HTM, and I think it's the correct approach. Note you should also use SP at each (middle) layer, because the output of a TM is not a valid SDR.

if I understand this approach, TMworker would be like a short-term memory, but for planning. I don't know if that's biological, b

[2019-09-05 10:05] Thanh-Binh commented on #656
@breznak thanks for your comments:
In all experiments of Mine, i do not use SP for data prediction due to very bad prediction performance. I like to hear other experience from community!

If we turn off learning and run TM 10 Times for 10 steps prediction. After that turn learning on. I am not sure that TM has the same states as before turn-off learning?
Do you have any experiment on it?

For that

[2019-09-08 15:03] Zbysekz opened #658 "getPredictiveCells empty"
I want to retrieve what cells are predictive, but i am getting SDR with just zeros.

Can be replicated by hotgym python example, instead of calling
[code]
call functions separately like following (must be called like this because in other points in program segments are not valid)
[code]
and you will got predictiveCellsSDR with zeros all the time...

Any hints? Can i kindly ask maybe @breznak ? you

[2019-09-09 02:33] pepedocs opened #659 "build error in python-alpine"
I was trying to build htm.core using the python installation instructions. But I encountered some errors below. The build was executed in;

docker image: python-alpine
python: 3.7.4
gcc: 8.3.0

Am I missing something?

[code]

[2019-09-09 09:25] breznak commented on #659
[code]

Thanks @pepedocs for reporting the err!
Interesting problem, our CI uses the same compiler (gcc 8.3, python is irrelevant) and does not encounter the error.

The code is part of an (rarely used) IFDEF,
[code]

It'll be good to have our build tested on Alpine, as I think it uses a different libC (?)

- is Alpine 32bit, or why didn't you fall into the "Linux 64b" (NTA_ARCH_64) bracket?

[2019-09-09 10:24] breznak commented on #658
Thanks @Zbysekz for reporting!

- This indeed seems like a bug in the py bindings (such construction works in c++).
- it is a valid use-case to replace `tm.compute` with separate `tm.activateDendrites()` for reasons as you mention
- Could you create a PY unit test for this?

I'll try, but maybe I'll get to this only at Wed.

[2019-09-09 15:51] #659 closed

[2019-09-09 16:07] dkeeney commented on #659
Hmmm, good you pointed this out.  I was going to use this function in something I am working on.

The linux man page for strerror_r( ) says:
[code]
XSI complient version returns an int.  The GNU-specific version returns char*.

The std:: lib has strerror( ) but it is not thread-safe.   There is stderror_s( ) which returns the int which might be more universal (C++11) and is thread-safe.
[code]

[2019-09-09 16:09] dkeeney commented on #659
I will create a PR to change strerror_r( ) to stderror_s everyplace.

[2019-09-09 16:41] dkeeney commented on #659
Hmmm, strerrorlen_s( ) is not available in MSVC 2017.  But the length is never more than 94 characters so a fixed sized buffer of 100 or so would be ok.

[2019-09-09 16:47] dkeeney commented on #659
Oh, strerror_r is used only in OSUnix.cpp  in the function getErrorMessageFromErrorCode( ).  There is one of these for Windows and one for Unix.  BUT getErrorMessageFromErrorCode( ) is never used by anyone.

So, I am just going of get rid of it entirely. :-)

[2019-09-09 16:55] breznak commented on #659
Please note OS*.cpp have been removed in the recent PR, if there is
confusion about that

--
Marek Otahal :o)

[2019-09-09 17:39] Zbysekz commented on #658
There is the python test... i was too hasty, it works correctly. For the hotgym it takes approx 28 steps before i get some prediction with default params and that is probably fine. Sorry for false alert :) But we can merge the test, it is simple but at least something.

[2019-09-09 18:15] dkeeney commented on #659
Oh, you beat me to it :)
I will get rid of my PR's.

[2019-09-09 18:29] breznak commented on #658
this is the optimal resolution, the problem is gone/none, and I get the test :wink:

[2019-09-10 18:16] #658 closed

[2019-09-10 20:30] dkeeney opened #664 "Parsing region parameters without requiring the Spec."
I have been working on a generic EncoderRegion for NetworkAPI which can use C++ and python encoder modules as plugins.

**Problem**
The problem is how to get the parameters from the Yaml or JSON strings into a format that can be used to create the encoder modules.

**Details**
Currently we parse the parameter string and then match it up with the region's spec so we know the data type of each item

[2019-09-10 20:49] breznak commented on #664
or, if things are getting complicated.. would it help to just have some abstract EncoderRegion and derived XYEncoderRegion for each needed enc?

follow up to the above, can you have a GenericEncReg, that takes a Spec as its argument, and derived class XYEncReg which has its specific Spec...or that does not help any?

To make this work, the ValueMap that is passed to the regions needs to hold strin

[2019-09-10 21:11] dkeeney commented on #664
After spending three days rewriting the ValueMap class I got to thinking about the parser.  We are using the yaml-cpp parser which has some problems.  See Issue #218.  But this builds a structure that is basically what I was developing...a container of parsed strings with templated functions to extract values in whatever format is needed.

In Cereal, our serialization package, contains a JSON pars

[2019-09-10 21:18] dkeeney commented on #664
Yes, but the class has functions that can perform the conversion as part of the extract.
For example.  Here is the current code inside the SP constructor.
[code]
values is our ValueMap that is passed to the constructor.
What I am saying is that if the ValueMap justs contains a map of strings, the conversion can occur when the getScalarT<type>( name) function is called.  Right now they are already

[2019-09-10 21:21] dkeeney commented on #664
I was hoping to avoid having a wrapper around encoders like we do around the other algorithms.  It makes for a lot of code to maintain.  Although, maybe that is simpler.

[2019-09-11 07:30] breznak commented on #218
There's a new cpp YAML parsing library, actively developed. Might be worth looking at:
https://github.com/biojppm/rapidyaml

[2019-09-11 07:40] breznak commented on #664
that would be a nice idea to use DOM,

I was surprised, a quick search on "cpp yaml json parser" didn't give me any library

which would allow you to have different encoders (more precisely encoder region) with different Specs.
But wouldn't there still be the same code needed for "if exists "this param for encoder X", then convert int pX = getScalar<Int>(xxx); if exists "param for enc Y", then par

[2019-09-11 14:20] dkeeney commented on #218
Oh, this is perfect.  Well spotted.

[2019-09-11 14:29] dkeeney commented on #664
Yes that needs to be someplace.  So this does not solve my problem of making a generic encoder region.  It does make my code cleaner however.

[2019-09-12 14:36] Thanh-Binh opened #665 "Anomaly Likelihood does not work correctly!"
Hi all,
I have just tested anomaly detection with sinus waves by using
1. TM with embedded Anomaly Likelihood
2. TM with embedded Anomaly disable + external AnomalyLikelihood class
For both cases, I used default values of AnomalyLikelihood.

In my observation:
1. one-step-prediction provides very good prediction data, (good)
2. raw anomaly has more and more small anomaly scores ...(good)
3. BUT an

[2019-09-13 16:21] Thanh-Binh commented on #665
By comparing my codes ported originally from python version, this version is totally different! This explains me!
I see that TM.anomaly seems to be likelihood, the anomaly score should be
1.0 - TM.anomaly

[2019-09-13 16:28] Thanh-Binh commented on #664
@dkeeney from my point of view, our implementation of region should be small and clear as possible. Parameter passing is user-depending.
In SPRegion, for example, we have too much getXXX and setXXX for parameters, that makes our codes not so clear!
What do you think?

[2019-09-13 16:38] Thanh-Binh commented on #656
I have some tests on each solution and want to share with you:
1. Using TMworker and clone TM in every step is to slowly and bad performance
2. Array of TM is the best
3. Current version of SDRClassifier uses soft max and select one bucket with highest likelihood. Even for one-step prediction with sinus waves it does not provide a good result for all my tests (different frequencies and amplitudes)

[2019-09-13 19:56] dkeeney commented on #664
I absolutely agree.   The Region implementations require way too much work to create and maintain.

However I am working under the following constraints:
- Must not break the API for NetworkAPI interfaces.
- Parameters are provided in two ways.
1) via the JSON or YAML string in the  third argument of the addRegion( ) call.  These are at configuration time.
2) via the getters and setters.  These ar

[2019-09-13 20:12] Thanh-Binh commented on #664
@dkeenney understood and hope you will finish it soon

[2019-09-16 16:26] breznak commented on #665
Related to review of anomaly likelihood #469

@Thanh-Binh could you share your simple experimentation code for sine waves? I'd like to integrate it to our tests as quality benchmark for different anomaly modes.

[2019-09-16 16:35] breznak commented on #646
I compare the bucket index of encoder with index provided by predictor, but they are very different even after long learning.

@Thanh-Binh could you please share this code, or at least describe the details (encoders precision etc) to replicate? I'd like to resolve this issue (using Real64 is your found fix), but I need a test to replicate and validate the problem.

[2019-09-16 18:39] Thanh-Binh commented on #665
@breznak I will share it asap...

[2019-09-16 18:40] Thanh-Binh commented on #646
@breznak I will share it asap

[2019-09-16 20:42] breznak opened #668 "Provide effective way to query presynaptic cells from Connections"
Newly added code from #609 introduces python `htm.advanced.algorithms.Connections` which is a wrapper to `bindings`' Connections with a few extra methods.

- [ ] review and port useful methods to C++ Connections (and bindings)
  - [ ] and optionally remove the htm.advanced Connections if no longer needed
- [ ] for speedup, an effective way to query `presynaptic cells` from Connections is needed:

[2019-09-16 22:19] breznak opened #669 "Regions in htm.advanced should use CreateAccess where applicable"
instead of `ReadWrite`, to allow the params be set during initializer-time, but read-only afterwards.
See https://github.com/htm-community/htm.core/pull/609#discussion_r324906032 for explanation and David's solution:

Follow up to #609

[2019-09-16 22:26] fcr commented on #669
I am not clear on this. Should I do this before #609 is accepted or after?

[2019-09-16 22:58] fcr commented on #669
I tried using "CreateAccess" in Python and it crashed the bindings.
I tried using "Create". It was accepted as valid but prevented the values being initialized. i.e acted the same as "Read".

[2019-09-16 23:45] dkeeney commented on #669
hmmm, sounds like a bug.  Go back to what you had before for this PR and we can deal with this problem in a later PR.

[2019-09-17 07:01] fcr commented on #669
Have done. The PR that is waiting for you is without this change.

[2019-09-17 07:39] breznak opened #671 "executeCommand should be exposed in Python Regions"
see https://github.com/htm-community/htm.core/pull/609#discussion_r324820486
`executeCommand` is currently available in c++, and in `htm.advanced.regions`, it should be exposed to all py regions

[2019-09-17 08:00] #671 closed

[2019-09-17 08:02] breznak commented on #669
Adding as a bug in our engine, as https://github.com/htm-community/htm.core/issues/669#issuecomment-531990007 indicates a crash when using `CreateAccess` access modifier for Regions' params.

[2019-09-17 08:20] Thanh-Binh commented on #646
@breznak I am trying to port my test codes into htm.core, but see some problems because no bucket information is available in the new encoders of htm.core.
In my framework, I also use my own encoder, which can provide bucket ID of the current signal value, so that the validating SDRClassifier will be done easily.

[2019-09-17 09:15] breznak commented on #646
Does `SDRClassifier.hpp` help a bit with how-to obtain the buckets?:

[code]

[2019-09-18 06:05] breznak commented on #643
Is this issue still relevant? it seems @dkeeney was not able to replicate the issue. So far it looks the problem is in (an incorrect?) user's setup.

So we either need a better explanation, reproducible of the problem; or this can be closed.

[2019-09-18 06:08] breznak commented on #641
@hirarinNakalab @Sedom9 can you confirm the issue was fixed by the merged PR, so we can close this?

[2019-09-18 06:16] breznak commented on #596
Thanks for the review and note, @david-pfx . I'm going to close the issue, as from your points, 3. is the only supported setup (and that works). Please reopen if you want to extend/improve the Installation on Windows README section.

[2019-09-18 06:16] #596 closed

[2019-09-18 06:20] breznak commented on #665
This could likely be joined with #646 , as the experiment on sines is the same, and we'd do both predictions & anomaly.

AFAIK the hotgym runs sine wave, @Thanh-Binh if you have problems porting your codes, can you explain on the existing hotgym where the problems are?

[2019-09-18 07:20] hirarinNakalab commented on #641
Cloned the updated Repository to verify that the SP and TM can successfully save load. I think there is no problem closing this issue.

[2019-09-18 07:36] breznak commented on #641
Thanks for testing! Issue successfully resolved.

[2019-09-18 07:36] #641 closed

[2019-09-18 08:42] breznak commented on #665
1.0 - TM.anomaly

I was able to confirm this, escalating to a bug. Thank you for reporting!

I was confused by "likelihood of anomaly" (which would imply high likelihood => anomaly), but it is a likelihood of a score (anomaly score). And we want to detect unlikely scores -> `1.0 - likelihood` is correct anomaly interpretation here.

[2019-09-18 12:11] breznak commented on #612
:tada: we've been selected to Github Actions (=GH's CI) beta!

I'm really excited about the current (free) limits:
https://help.github.com/en/articles/workflow-syntax-for-github-actions#usage-limits

- GH Actions should allow us to build on all 3 (OSX, Linux, Win) platforms (+ setup docker for ARM64) https://help.github.com/en/articles/virtual-environments-for-github-actions#supported-virtual-envi

[2019-09-18 12:21] breznak commented on #55
FYI https://github.com/gulrak/filesystem if we wanted to use `std::filesystem` but prefered to stay on c++11 (not switching to c++17) ?

[2019-09-18 13:41] dkeeney commented on #612
This does look interesting.  It would solve our deployment problems if it works.
I want to finish my Yaml PR before I look into this further.  But feel free to set it up.

[2019-09-18 13:48] dkeeney commented on #55
This would be better than including boost in those cases that we need it.
I did notice that they wanted windows users to use wstring( ) for paths rather than UTF8.  That might be a problem.

[2019-09-18 13:50] fcr commented on #668
If you are in the middle of this I will also need an implementation of SparseMatrixConnections.growSynapses().
Until then, I am adding it to htm.advanced.algorithms.Connections. You will probably get a PR connected (pun intended) to this soon.

[2019-09-18 13:59] breznak commented on #55
I'd still prefer the native c++17 when it's available (on 20th Sep. Apple releases new iOS with XCode11 out of beta) then all our platforms should be c++17 conformant.

What I'm considering is if we want to keep boost support optionally(!) around? It was a pain to setup (link) properly, and albeit we now only use it for boost::filesystem, boost has vast usages.. (??)

[2019-09-18 14:05] breznak commented on #668
this will need some sensible work. `SparseMatrix*` is a no-no, we got rid of that backend and rewrote all our codebase to use `Connections`. So for `growSynapses` - I think we do have such method (?), or if not: ok if we can implement it using the existing Connections.

Overall, with this porting work, I'd like to stress more focus on as lean as possible code. The front-facing algorithms (as Apica

[2019-09-18 14:11] fcr commented on #668
I am porting the latest thalamus code from HTMResearch and this uses growSynapses.
For the moment I have implemented it in Python as I did for growSynapsesToSample.
If you don't think the thalamus is a generally useful contribution, I will keep it private. I need it.
BTW I don't know if you noticed, but I only ported support code that was absolutely needed.

[2019-09-18 14:39] breznak commented on #668
it is, and I'll be happy for your contribution.

..all I wanted to say is it should not use SparseMatrix, rather a re-implementation using connections. If done similarily as the prev. PR, all is :+1:

[2019-09-18 14:41] breznak commented on #668
could you make us a wrap-up of what's new in HTM.research and what is ported here?

Btw, I'm curious what your plans with thalamus+gridcells are? :)

[2019-09-18 14:58] fcr commented on #668
HTMResearch is huge and covers most of the research over the years until Numenta switched to nupic.research. The last projects there are the start of their work with sparse inputs for deep neural nets. Before that, are the location framework followed by the thalamus. These are the last and the pinnacle of their actual HTM research.
Essentially I have ported the location framework and all its suppo

[2019-09-18 15:04] breznak commented on #668
cool, I've done some early steps in that direction too. We'll all benefit if you're building your solution on htm.core, so I'll try to support any changes you need for the development.

[2019-09-18 15:07] fcr commented on #668
Thanks. I appreciate the support.

[2019-09-18 17:03] Thanh-Binh commented on #646
@ctrl-z-9000-times
If I look at the likelihood distribution provided by Predictor::infer() for sinus wave, I found that it is uniform distribution (all catergories have the same likelihood) after a given time period.
I really do not understand it, but think more about an overestimation effect.
What do you think?
Thanks

[2019-09-18 17:25] dkeeney commented on #55
We can do that.  I agree it has usages but it comes at a price .. that of the download time and shear size.  But if it is for use by the apps (not our library) then it would probably be better for them to download and install it separately rather than blot our library with a copy of boost that we don't really use.

[2019-09-18 17:30] breznak commented on #55
true, we might drop it. Just boost is now downloaded only optionally (eg non of the CI actually uses it) and via cmake, so it does not really bloat the repo (anymore)

[2019-09-18 17:34] breznak commented on #646
@Thanh-Binh please help review #675 , I'm running into some Predictor issue in c++

[2019-09-19 09:16] breznak commented on #469
As discussed in #666 (that number indeed does bring problems! :imp: ) there may be problems in how Likelihood is implemented.

From hinsight, I see 2 generic problems:

1. Likelihood may not handle similar,but not same, values well (needs verification):

anomaly scores: `1.0, 1.0, 1.0, 1.0` -> likelihood (`anomalyProbability()`) goes down, that is the purpose of AnLikelihood. Same for a sequence o

[2019-09-19 09:20] breznak commented on #665
See https://github.com/htm-community/htm.core/issues/469#issuecomment-533043553 for some high level ideas about anomaly likelihood.

[2019-09-19 14:05] breznak commented on #514
alternative to consider is
https://pypi.org/project/tensorflow-datasets/

see if any of the 2 libraries is better (more datasets, nicer API, ...) TF seems pretty active.

[2019-09-19 18:04] breznak commented on #643
Closing, please reopen if you still have this problem.

[2019-09-19 18:04] #643 closed

[2019-09-19 18:18] breznak commented on #575
this issue got stuck, but I'd like to highlight `growSynapses()` which is now used in
- Thalamus (L6) from htm.research by @fcr, implemented in #676
- in ColumnPooler #285
- similar(?) method already in c++ `TM.growSynapses_()`

- Can we unite their API?
- make a c++ + py bindings implementation in Connections

[2019-09-19 18:22] breznak commented on #563
@cyberslam would you describe your steps to install htm.core in google colab?
I'd love to have an online iPython notebook on Collab for htm.core! :bulb:

[2019-09-19 18:24] breznak commented on #563
Sorry for "stealing" the issue, but with the information, I'll turn this into an optional "HTM on Collab" issue.

[2019-09-19 18:26] breznak opened #679 "README: document recent acquisitions"
- [ ] htm.research (grids, column pooler, thalamus) by @fcr
- [ ] SimHash document encoder for NLP by @brev (TODO move to `encoders.extra.nlp`)
- [ ] TODO integrate rest of nupic.vision

[2019-09-19 18:27] breznak commented on #668
See #575 for `growSynapses` discussion

[2019-09-19 20:15] #514 closed

[2019-09-19 21:15] cyberslam commented on #563
Hi Ben,          Sorry to tell you that I was unable to install the htm.core under colab.Cheers,SamuelSent from my Samsung Galaxy smartphone.
-------- Original message --------From: breznak <notifications@github.com> Date: 2019-09-19  11:22 a.m.  (GMT-08:00) To: "htm-community/htm.core" <htm.core@noreply.github.com> Cc: cyberslam <sflam168@gmail.com>, Mention <mention@noreply.github.com> Subject:

[2019-09-19 21:46] breznak commented on #563
Thanks for the message.

ok, this will be easily possible once we get to pip installable package #19

[2019-09-19 21:49] breznak commented on #19
...this effort got stuck (partly on waiting until I setup the secrets for the repo), a relevant issue is trying to switch all of our CI to GH Actions: #612 .

Pip would allow us easily to run on Google Collab #563 , which would be quite cool.

[2019-09-19 22:32] ctrl-z-9000-times commented on #259
I wrote a vision encoder which may be added to this repo.  It needs some cleanup & modification before it will be ready, and I don't know when I will get around to it.  Currently it is a research prototype.

It is written in python, and uses opencv.  The Opencv library has functions which do log-polar transforms, and Parvo/Magno-cellular transforms.  Open-CV works well and it looks pretty well res

[2019-09-19 23:56] breznak commented on #259
This is amazing!!

I'll need to refresh my knowledge, this is a good starter:
https://foundationsofvision.stanford.edu/chapter-5-the-retinal-representation/#visualinformation

I cite:

= image classification type of tasks

= video processing in vision tasks. motion detection/tracking.

So you needed to produce several SDRs from the image.
- do you use some **saccadic movements** (to generate a few

[2019-09-20 01:57] ctrl-z-9000-times commented on #259
That looks like a good source.  My model is wrong with regards to many details, including the relative densities of magnocellular and parvocellular neurons.

No, this is TODO.  Currently I move the eye by a small random amount between each compute cycle.  Controlling where the eye looks is an open issue, and it involves action selection and motor control.

I'm keeping my latest work on the eye enc

[2019-09-20 07:12] #646 closed

[2019-09-20 11:36] breznak commented on #259
yes, according to the literature, these modifications could apply:
- magno-/parvo-cellular neurons in 70:30 proportion ( = this is "Retina")
- force abstraction by 1:10 compression (in retina to optical nerve neuron counts), SP could do that.
- then starts the (large in size) visual cortex (HTM, SP+TM)
- Q:
  - for image classification, use only parvo cells?

would the saccadic moves wrongly trigg

[2019-09-20 12:04] breznak opened #681 "Add new NLP encoder Google's Universal Sentence Encoder"
See
https://towardsdatascience.com/use-cases-of-googles-universal-sentence-encoder-in-production-dd5aaab4fc15

https://www.learnopencv.com/universal-sentence-encoder/

For #259 , #634

[2019-09-20 12:05] breznak commented on #681
FYI @brev

[2019-09-20 12:07] breznak opened #682 "Add new Vision encoder EYE"
See https://github.com/htm-community/htm.core/issues/259#issuecomment-533333336
by @ctrl-z-9000-times

For #259 and #678

[2019-09-20 12:27] breznak opened #683 "HTM tasks, capabilities - What you can do"
Review of encoders' coverage of sensory modalities https://github.com/htm-community/htm.core/issues/259
Here we look at possibilities of HTM networks:

### Tasks:

- [x] prediction
  - [ ] multi-step ahead prediction:
    - TODO: instead of current "for N-steps ahead prediction, look at N-1-th classifier in predictor and feed it TM(time)", instead do N steps of TM(time+1).predict. Then classify th

[2019-09-20 12:27] breznak commented on #683
FYI @ctrl-z-9000-times @fcr if you find other category or have more details, I'd like to keep collecting the info here.

[2019-09-20 13:53] breznak commented on #656
this is a good point! I am not sure, TM will not learn (that we want) but the context will be likely different.

so `TM->TM->TM->Classifier` for 3-step prediction? Could you share some results how much better it is to the current Predictor?

This is also the most biological approach, using hierarchy. I'd expect it to perform the best.

I'll do similar experiments in #683

[2019-09-20 14:46] Thanh-Binh commented on #656
@breznak current SDRclassifier is also good ONLY for 1-step prediction, but not so robust. I even test it for bucket 1-step-prediction, but does not provide good results.
For that reason, I use my old encoder with bucket outputs for analysing.
Using TM-chain TM->TM->TM....you can do better high-order prediction (see below for 4-step prediction)
![Screenshot from 2019-09-20 16-45-18](https://user-i

[2019-09-20 15:10] breznak commented on #656
Thanks Binh!
What is the 3rd plot?

you are using that instead of the Classifier? Or how?

- one more thing to try would be a feedback loop: `TM(input(t), TM(t-1))`

[2019-09-20 15:32] Thanh-Binh commented on #656
@breznak the 3rd plot is experimental result of current anomaly score, calculated by all TMs: that means overlapping score of SDR, provided by each TM 4-step, Tm3-step,tm2-step and tm1-step at each time instance t

[2019-09-20 15:35] Thanh-Binh commented on #656
No I do not use sdrclassifier.
But results look like the same if for each TM you use SDRClassifier with 1-step prediction

[2019-09-21 03:06] marty1885 opened #684 "Build error due to Eigen warning on gcc 9"
Hi, I'm building HTM.core on my Arch box using the python script and failed.

[code]

With the error message

[code]

Am I doing anything wrong? What can I do to fix this?

commit: HEAD
compiler: GCC 9.1.0
OS: Linux x64

[2019-09-22 19:27] breznak commented on #684
no, you're fine, I'll try to fix it tmr.
It's that now we use Eigen, and that being header-only does not benefit the exception that we don't care for warnings in 3rd party dependencies. So it triggers a warning on newer gcc, which triggers the error.

I'll have a look if there's a newer release for eigen possibly fixing that.

Thanks for reporting and sorry for the inconvenience!

[2019-09-22 19:34] breznak commented on #684
So Eigen 3.3.7 (from Dec/2018) is the latest release, I can confirm this also on gcc-9.1 on ubuntu.

[2019-09-23 05:31] Liang-GQ opened #685 "Parameter "dataWidth" can't be set!"
**when i run the test file in htm.core/bindings/py/test/network_test.py , i got the error :**

ERROR: testSerializationWithPyRegion (__main__.NetworkTest)
Test  (de)serialization of network containing a python region
----------------------------------------------------------------------
Traceback (most recent call last):
  File "network_test.py", line 107, in testSerializationWithPyRegion
    "ran

[2019-09-23 23:01] dkeeney commented on #685
@Liang-GQ,  I added the bindings for the second argument.  The second argument in saveToFile( ) and loadFromFile( ) should default to `SerializableFormat.BINARY`.

BINARY - A binary format which is the fastest but not portable between platforms (default).
PORTABLE - Another Binary format, not quite as fast but is portable between platforms.
JSON - Human readable JSON text format. Slow.
XML - Human

[2019-09-24 10:37] breznak commented on #55
https://discuss.circleci.com/t/macos-10-15-as-container/32548
XCode11 with c++17 and `<filesystem>` released, waiting for CircleCI to offer macOS 10.15 images so we can turn this on, (and remove boost)

[2019-09-24 13:57] dkeeney commented on #55
I am inclined to keep the minimum at C++11 for a while.  I suspect that there are people that have not or can not upgrade to C++17 yet.  Some may not be allowed to upgrade due to company policy.

We just want to be sure if the they do have a compiler that supports <filesystem> that we do not use boost.

[2019-09-24 14:28] #684 closed

[2019-09-24 14:58] breznak commented on #19
After GH Actions PR #688 , this could be interesting
https://github.com/pypa/gh-action-pypi-publish

[2019-09-24 16:22] dkeeney commented on #19
Oh, very interesting.

[2019-09-24 16:57] breznak commented on #19
The question is, if we can now (easily?) get the PYPI running, do we need Binary releases #361 at all? Developers will build from source, users will install from pip, ...so is there still a need?

[2019-09-25 13:59] breznak commented on #685
The fixup code has been merged, thanks David.
@Liang-GQ please confirm if this resolves your issue, so we can close this task.

[2019-09-25 21:20] dkeeney commented on #612
testCppLinkingFanIn sometimes caused problems even locally, but in the CI it's now consistent.

Sure,

[2019-09-26 10:57] #612 closed

[2019-09-26 11:52] Sedom9 commented on #641
Sorry, I forgot confirm my testing. Thanx a lot, after updating repository. Everything is ok.

[2019-09-26 12:13] breznak commented on #19
https://github.com/pypa/gh-action-pypi-publish

runs nicely! But currently only for Linux host. Reported upstream:
https://github.com/pypa/gh-action-pypi-publish/issues/15

Let's see, alternatively we can use `twine` from PYPI

[2019-09-26 12:23] breznak commented on #361
Binary releases are now available!
https://github.com/htm-community/htm.core/releases

@dkeeney would you please check that
- [ ] the release contains all needed files? What should be there?
  - `distr/dist` contains only requirements.txt
  - [ ] on my localhost there's also an `.egg`
  - [ ] `.whl` is in `py/`, shouldn't be in dist too?
- [ ] Windows binary is missing
  - (I cannot currently see

[2019-09-26 13:56] breznak commented on #19
@dkeeney my test.pypi.org has trouble registering project `htm.core`, this is likely due to the fact that you've registered that with previous attempts.
Could you please either:
- send me the unencrypted (`pypi-...`) token by email/forums PM?
- or unregister,delete your htmcore project on pypi?

[2019-09-26 13:59] breznak commented on #361
this is because Windows build gets terminated early by failing PYPI upload on Linux, so non-issue here. See https://github.com/htm-community/htm.core/issues/19#issuecomment-535513783

[2019-09-26 15:28] dkeeney commented on #361
I think I told you wrong.  The requrements.txt file needs to be in the same folder as setup.py ... which is distr/ not distr/dist  AND setup.py needs to be looking there to find it.

I am looking at https://packaging.python.org/tutorials/packaging-projects/,  In the section on "Generating distribution archives".  This is all very confusing as to where things go.

If I understand correctly, when pi

[2019-09-26 15:35] breznak commented on #361
requirements cannot be in distr/ literally, as the folder is being created. It can be relative to setup.py (./requirements.txt, which is the case now)
And I'll place it to distr/, from distr/dist/.

ok, the /setup.py is the one called..but the path is relative to the packaging/setup.py,...

[2019-09-26 15:53] dkeeney commented on #361
Oh, I just discovered that I am telling you wrong again....
I unpacked the wheel.... it is just a Zip file with the extension changed.

setup.py is NOT included in the wheel, but requirements.txt is included.

[2019-09-26 16:04] breznak commented on #361
since you are studying the setup now, would you mind making the changes if you run into them? What we need is a `whl` that one can pip install, once that is working, we will use that for PYPI #19

[2019-09-26 16:06] dkeeney commented on #19
Oh, I should have known that might cause a conflict.
I deleted htm.core project from my account.
You should be able to use it now.

[2019-09-26 16:07] breznak commented on #612
Our main setup is now on GH Actions. I've deactivated the Web service hooks for other CI (Travis, CircleCI, AppVeyor) in github settings. So those don't run uselessly, but are still available and set-up in case we decide to switch back.
Later, when the switch is definite, remove access tokens and permissions for those CIs.

[2019-09-26 16:08] breznak commented on #165
Not needed due to #612 . Closing.

[2019-09-26 16:08] #165 closed

[2019-09-26 16:10] breznak commented on #243
Closing, as this has been merged sometime already.

[2019-09-26 16:10] #243 closed

[2019-09-26 16:14] breznak commented on #66
Closing, most of these have been addressed.

[2019-09-26 16:14] #66 closed

[2019-09-26 16:23] dkeeney commented on #361
Sure, That is one way I can help.  I cannot be much help with the rest of this deployment thing.

[2019-09-26 16:43] breznak commented on #19
one step done, that is working!

Now a new problem,
https://github.com/htm-community/htm.core/runs/237586188#step:14:17

seems the platform is encoded in the package name, so we'll have to change that correctly.

[2019-09-26 16:51] breznak commented on #19
In parallel we could start with this.
@rhyolight would you please?
- setup a `htm-community` account on PYPI
- optionally add me as a maintainer
- create and send me by mall/PM a token for project `htm.core`
  - this would be the string `pypi-some_hash`
- so I can add it to our github secrets and we'd have working PYPI releases

TODO: fix for other platforms, see https://github.com/htm-community/h

[2019-09-26 17:08] #266 closed

[2019-09-26 17:17] dkeeney commented on #19
yes, that is the bug I looked into some time back.  Binary wheels cannot be made for linux in general because they cannot be guaranteed to work.  The work-around was to build on a version of linux that is older (or as old) as anyone that would currently use it.  There is a different syntax for the platform tag that contains the date of that OS.

Could not find a link to the issue or PR where I rep

[2019-09-26 18:56] breznak commented on #19
yes, I remember, this is the `manylinux` docker builds. But I thought the inability to run on older toolchain is only a consequence, not requirement by PYPI (so I could publish pypi from our CI, but people would need the same/newer toolchain.)
- what is the correct format of the filename? (isn't it only `.x86_64.` ,)
- how do we deal with it (manylinux)? I'll have a look at Numenta's builds. We pr

[2019-09-26 19:11] breznak commented on #19
Our setu.py will need some work.
This looks like a good tutorial:
https://python-packaging.readthedocs.io/en/latest/minimal.html

I'm failing already on the first step: `pip install .`

[2019-09-26 20:14] breznak commented on #19
Two interesting guides on publishing:
https://github.com/pypa/packaging.python.org/pull/647
https://www.python.org/dev/peps/pep-0517/

[2019-09-26 21:11] dkeeney commented on #19
@breznak  sorry I did not get back right away....life getting in the way.
Ok, I took the wheel file that is generated and tried to pip install from it.  It gives me some errors but says it installed.  And indeed it is in the installed packages list.

Now I just need to figure out how to run the py tests.

[2019-09-27 06:47] breznak commented on #19
Update:
- CI now stores artifacts (now I'm saving `dist/`) after each "push tag" build. You can access the artifacts on top right corner of the CI in "Publish to PYPI" job.

[code]

Now I'm trying to figure if `dist/` can contain multiple whl/egg files (from each platform)?

[2019-09-27 06:56] breznak commented on #361
Our 90th release `v2.0.16` finally contains binaries for all 3 platforms!

- thanks David for working on validating the `whl` pip files!
- [ ] next thing we should check is running c++ tests,examples and linking the htm library to a program on all platforms.
  - OSX is suspiciously thin, 10MB, for others the size is ~90MB (?)

[2019-09-27 12:04] Zbysekz opened #695 "How to get distal connections"
Hello, can i ask for help about getting "distal" connections from TM? It is for the visualisation tool that i am working on. I have hard time to understanding encapsulation in src/htm/algorithms/Connections.cpp

To be able to do this:
![image](https://user-images.githubusercontent.com/23330229/65767596-966d4700-e12e-11e9-9b04-3893ae82dff0.png)

What i basically need is to get from python temporal

[2019-09-27 12:07] Zbysekz commented on #695
Maybe i can use
`segmentsForCell(const CellIdx cell)`
and for each segment call `synapsesForSegment(const Segment segment)`
But then i need to call `dataForSynapse(const Synapse synapse)` to get data and then
get from synapseData the presynapticCell ? I am not sure...

[2019-09-27 14:21] dkeeney commented on #19
I think the wheel files replace the egg.  So do we need to create the eggs?

[2019-09-27 15:43] Thanh-Binh opened #696 "Concatenate() Method of SDR class"
Hi all, currently this method uses as input a vector of const SDR*
We use it as follows
vector<const SDR*> all;
For I=1:2
   SDR local({5});
   all.push_back(&local);

SDR c({10});
C.concatenate(all);
Unfortunately, it fails to run because the dimension of SDR after the for-loop is zero.

I really do not understand why did not you use a simple SDR instead of pointer, I.e. vector<const SDR>.
It wor

[2019-09-27 17:00] ctrl-z-9000-times commented on #696
SDR.Concatenate uses pointers because: Pushing data into the a `vector<SDR>` will copy the data, but using pointers avoids copying the data into the vector.

You say it fails?  Can provide a snippet of source code which demonstrates the failure, for debugging this issue?

[2019-09-27 18:12] Thanh-Binh commented on #696
@ctrl-z-9000-times
here is my source code:
[code]

[2019-09-27 20:49] dkeeney commented on #664
yaml_cpp just did a new release.  v0.6.3
We were pulling from the master because v0.6.2 release was broken.
Now the master is broken but the new v0.6.3 seems to be ok so far.

[2019-09-27 21:53] breznak commented on #19
yep, we should use only wheels:

[2019-09-27 21:57] breznak commented on #19
The linux pypi package will be a pain,
we'll want to use the manylinux docker image,
- which comes only with gcc-4.8, so we'd have to update/build a newer (8.3) gcc there...!
This is a good article
https://thomastrapp.com/blog/building-a-pypi-package-for-a-modern-cpp-project/

On the possitive side, `cmake` is available on PYPI, so we could install from there and drop it as dependency (c++ users w

[2019-09-27 22:06] breznak opened #698 "Replace cmake dependency with cmake from pip"
So people basically need to install only python and compiler, and rest will be installed from `pip`.
https://pypi.org/project/cmake/

- on the other hand, c++ developers/users only need `cmake, gcc` and don't need to install python (for bindings).

[2019-09-27 22:10] breznak commented on #664
guess it still does not resolve the issue on linux & Debug #218 , still great there's finally a new release

[2019-09-27 23:12] dkeeney commented on #698
But if we provide a pre-built binary wheels, why do python users need CMake?  I thought the objective of pip installs was that it did not require building the package.

[2019-09-28 01:59] brev commented on #681
@breznak great find!  I'll be pondering, and will be thinking about related topics (semantic folding, ordering, etc.). thanks.

[2019-09-28 04:38] ctrl-z-9000-times commented on #696
The problem with this code is that SDR `A` is allocated on the stack and so it dies at the end of the for loop.  SDR A is created and destroyed 3 times.  Then after the loop ends the memory on the stack which held `A` is repurposed to hold variable `sdr`.  Try using this code instead:
[code]

[2019-09-28 08:41] breznak commented on #698
yes, I was talking about source-build users, you're right binary users who install through pip do not need any of the dependencies (except python)

[2019-09-28 09:41] Thanh-Binh commented on #696
Thanks David for your explain!

[2019-09-28 09:41] #696 closed

[2019-09-28 09:52] breznak opened #700 "Faster Windows builds on CI"
The windows CI build is the slowest from all the platforms (about 2-3x), which slows down the PR acceptance/check process.

Here are some ideas for optimization:
- [ ] build only in `Release` mode in CI
  - we need the "both Release/Debug" mode for source-builds, developers.
  - can we add a flag, or determine if `setup.py` is ran in CI, and then build only in Release mode?
- [ ] use `/MT` (which

[2019-09-28 09:53] breznak commented on #700
CC @dkeeney this is a low priority, but would be nice to have. If you can look at that?

[2019-09-28 13:39] dkeeney commented on #700
/MT means the compiled program supports multi-threading.  /MD means mult-threaded shared library.     Has nothing to do with the number of threads used by the compiler.

We don't need both debug mode binaries for the CI.

[2019-09-28 14:46] breznak commented on #700
I see about /MT, still, only "Release" for CI would cut the time in half :+1:

[2019-10-01 11:29] Zbysekz commented on #695
Any toughts @breznak @ctrl-z-9000-times ?

[2019-10-01 15:14] ctrl-z-9000-times commented on #695
Yes, your approach is correct.  You need to get the `connections` object from within the TM and then query the `connections` object, first to find the segment you're looking for and then to find the synapse you're looking for.  Finally you will need to extract the permanence value from the `connections` object either using method `permanenceForSynapse` or using method `dataForSynapse`.

BTW: The C

[2019-10-01 15:41] breznak commented on #695
...and you might have a look at `py/htm.advanced.algorithms.connections` there's some additional functionality

[2019-10-01 18:27] breznak commented on #19
I have been thinking how we deal with the "common baseline" for Linux - `manylinux`.
Manylinux is based on CentOS 5 (with gcc 4.8) (manylinux 2010, 2014 are in TODO pipeline)
https://github.com/pypa/manylinux/issues/118

- we could try building on antient `gcc 4.8` in c++11, and use original manylinux PYPI
  - we want to retry/reevaluate when manylinux 2010, 2014 are released
  - another option is

[2019-10-03 07:26] RDaneelOlivav opened #701 "Error while compiling Python"

[2019-10-03 07:26] #701 closed

[2019-10-03 07:26] RDaneelOlivav commented on #701
Error

[2019-10-03 07:36] RDaneelOlivav opened #702 "Python modules Compilation fails"
I'm trying to get the htm-2d-object-modeling example working, which I need the nupic.cpp compiled as far aas I see.
But when I compile I had to Upgrade the CMake to higher than 3.7 and add in /home/rdaneel/RI/nupic.cpp/external/common.cmake the line SET(CMAKE_CXX_FLAGS "-std=c++11 -O3")
to fix error when compiling.

Now when I execute the command:
python setup.py install --user --force

It gives t

[2019-10-03 08:08] breznak commented on #702
to fix error when compiling.

you shouldn't have to do that. I don't know if the subsequent err you're seeing is a cause of externals being forced to c++11, and rest possibly c++17.

does your code need to be c++11?, htm.core can be both c++11/17. See `CommonCompilerConfig.cmake` file.

virtualenv is a good idea, you should set it up yourself, see `python -m venv`.

yes, the simple, work-for-all i

[2019-10-03 10:00] Zbysekz commented on #695
Wasn't so hard afterall :)

[code]

I can probably include this code in `py/htm.advanced.algorithms.connections` when i got more code like this if you agree.

[2019-10-03 10:49] breznak commented on #695
please do, this will be a useful method :+1:
-  add some doc
- write if from connections' perspective

[2019-10-03 12:37] breznak opened #704 "Provide bindings for BaseEncoder for python encoders"
So py-only encoders can derive from that class (same as c++).

Needed for: #691 , #259

- [ ] GridCellEncoder
- [ ] RetinaEncoder TBD #691

[2019-10-03 13:00] breznak commented on #704
@dkeeney would you mind looking at this, when you have time, please?

[2019-10-03 13:15] dkeeney commented on #704
Ok, I will take a look this weekend when I return.

[2019-10-03 13:18] breznak commented on #19
YES :tada: we have PYPI release!
https://github.com/htm-community/htm.core/runs/246384722

[2019-10-03 13:28] breznak commented on #19
we have a first PYPI release! at
https://test.pypi.org/project/htm.core/2.0.18/

I follow the install instructions:
`pip install -i https://test.pypi.org/simple/ htm.core==2.0.18`

but getting an error

Looking in indexes: https://test.pypi.org/simple/
Collecting htm.core==2.0.18
ERROR: Could not find a version that satisfies the requirement htm.core==2.0.18 (from versions: none)
ERROR: No matchin

[2019-10-03 13:55] pradyunsg commented on #19
Ah, that's because pip's got an aggressive caching strategy that's not being managed properly. Can you check what it shows with `--verbose`?

[2019-10-03 14:21] breznak commented on #19
Sure, thanks for the hint, @pradyunsg !

[code]

1 location(s) to search for versions of htm.core:
* https://test.pypi.org/simple/htm-core/
Getting page https://test.pypi.org/simple/htm-core/
Found index url https://test.pypi.org/simple/
Looking up "https://test.pypi.org/simple/htm-core/" in the cache
Request header has "max_age" as 0, cache bypassed

seems the package exists on PyPI and `pip` is

[2019-10-03 15:37] breznak commented on #19
Ok, I figured this!

the CI package is compiled with `python 3.7` (cp37) while on my machine only py 3.6 was available.
After installing locally python 3.7, the pip install works fine!

OT: @pradyunsg maybe pip could be more verbose on which condition was not met?

So the workaround would be to compile in CI with a least possible py3 version.
@dkeeney what is the oldest `python 3.x` version we sho

[2019-10-04 01:33] #19 closed

[2019-10-04 01:33] #361 closed

[2019-10-04 07:34] breznak opened #707 "Alpine build (musl) fails on determinism checks"
I have briefly tested Alpine build on Docker (alpine:amd64-latest-stable) and
- [x] builds fine
- [ ] tests fail on determinism checks in `SpatialPoolerTest.ExactOutput`

Related #659

[2019-10-04 07:34] breznak commented on #707
CC @pepedocs

[2019-10-04 10:53] breznak commented on #707
Alpine build is now provided by our Dockerfile

[2019-10-04 11:14] pradyunsg commented on #19
https://github.com/pypa/pip/issues/4649#issuecomment-333675745
https://github.com/pypa/pip/issues/6526

[2019-10-04 19:24] breznak commented on #707
ExactOutput failing also on Arm (on Alpine using musl C)
[code]

So apparently our C++-fu is not yet 100% deterministically secure.
@dkeeney how did you pin-point the stuff in your former c++ SP investigations?

[2019-10-05 06:40] RDaneelOlivav commented on #702
Reseted everything from scratch, and at least in a virtual env for pythn 3.7, this errors occues when executing the following command:

Any ideas? Is because I tried to install through binaries and for python 3.7 worked ( 3.6 and 3.5 gave the None error:

(ri_venv3.6) rdaneel (master) htm.core $ python -m pip install -i https://test.pypi.org/simple/ htm.core
Looking in indexes: https://test.pypi.o

[2019-10-05 09:26] breznak commented on #702
this is expected, for now `pip` requires python3.7 for htm.core

it looks like you're using some old compiler? What's your OS, compiler?

any problem? can you work with the py3.7 binaries, then?

[2019-10-05 13:17] dkeeney commented on #707
With a great deal of difficulty...

I first located the point (the cycle number) when they started to diverge. Then I inserted debug trace statements to try and identify the function in which they diverged in that cycle number (actually it turned out to be in the previous cycle).  Lots of debug trace statements into a log file and performed a diff.  Then I had some good luck in that I hit on the c

[2019-10-06 03:32] be4pro opened #712 "AttributeError of SP getOverlaps"
After installing htm.core from PyPI into my win7,
I ran `py -m htm.examples.sp.sp_tutorial` and get

Is something I was missing? I can run `py -m htm.examples.sp.hello_sp` OK.

[2019-10-06 17:02] RDaneelOlivav commented on #702
Hi, thanks for the fats answers. Lets go by parts:

So binaries afterwards seem to give me some issues when executing htm-2d-object-modeling git, I executed the python/main.py and got this error:

    (ri_venv3.7) rdaneel (master) python $ python main.py
    Traceback (most recent call last):
    File "main.py", line 14, in
    from htm.bindings.algorithms import SpatialPooler
    ImportError: /li

[2019-10-06 22:20] breznak commented on #702
this is likely because the glibc on your machine is older than the one at compiler (CI) machine. @dkeeney I thought we link `stdlibc++` statically, and that that would be enough, not causing this problem?
Sorry, we got to build the `pip` packages only recently and the process is not fine-tuned yet.

Please see details for the minimal versions of software in Readme, for cmake I think it's 3.7/3.8 a

[2019-10-06 22:23] breznak commented on #702
please also post versions of python, g++

[2019-10-06 22:40] breznak commented on #707
hmm.. this will be pain, could be a bug in libstdc, compiler,... I'm not sure how far do we want to pursue the multiplatform deterministic builds (well, identical builds, we could just have "deterministic results per platform") I suspect the problem in glibc/musl C, as the same err happens on amd64/arm64 on musl

[2019-10-07 05:21] breznak commented on #712
Hi David,

thanks for reporting! this is indeed a bug (which slipped through as the example is not run automated by the CI), the `getOverlaps()` has been replaced, now `compute()` returns that info.

[code]

- [ ] the example should be fixed
- [ ] add getOverlaps removal to Changelog

[2019-10-07 06:26] be4pro commented on #712
Hi breznak,

thanks for your reply. I'm new to programming and would like to make sure I understand it correctly. Does that mean I need to change codes in SpatialPooler.cpp and recompile a new algorithms.pyd to solve the issue? Given I don't know about coding cpp, what could I do?

Also, I got issues running hotgym example. I got this output while running `python -m htm.examples.hotgym`

    1. (s

[2019-10-07 06:52] breznak commented on #712
no, we'll make a simple fix to the examples for the bugs you've discovered.

looks like another deprecation change. I'll look into that, thanks.

no, that would not be the case,

[2019-10-07 08:08] RDaneelOlivav commented on #702
(ri_venv3.7) rdaneel RI $ python --version
Python 3.7.4

(ri_venv3.7) rdaneel RI $ gcc --version
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

Ok I'll try to set a different CMake version at l