[2019-10-07 10:37] breznak commented on #702
that gcc should be fine, so only the cmake. Let us know.

I'll try to install on ubuntu16.04 as an excercise for compatibility, but yes, our CI and devs use ubuntu18.04, so that version would be problem free.

[2019-10-07 11:07] RDaneelOlivav commented on #702
Ok let me try ASAP

[2019-10-07 12:15] #695 closed

[2019-10-07 16:33] t0n8 commented on #712
Just tried https://github.com/htm-community/htm.core/blob/79d88da1456c955b00325c7928a297c3ac294347/py/htm/examples/hotgym.py and was wondering if line 234 needs to be changed to
             `np.arange(len(anomaly)), anomaly, 'blue',)`
instead of
             np.arange(len(inputs)), anomaly, 'blue',)

Cheers

[2019-10-08 04:23] be4pro commented on #712
Thank you for the quick hotgym fix.

[2019-10-08 07:06] breznak commented on #712
Thanks for reviewing the code, @t0n8 !

not necessarily, it could be. But inputs & anomaly are the same length. Feel free to comment directly on the PR for the code changes, or push a commit with improvement. Thanks

[2019-10-08 07:44] RDaneelOlivav commented on #702
cmake version 3.13.3

CMake suite maintained and supported by Kitware (kitware.com/cmake).

cmake version 3.5.1

CMake suite maintained and supported by Kitware (kitware.com/cmake).

It seems that although I upgraded in Ubuntu to 3.13, the 3.5 is used when executing the command:

Python version: 3.7.4 (default, Sep  2 2019, 20:44:09)
[GCC 5.4.0 20160609]

Dont know if anyone has any idea of how to

[2019-10-08 08:38] breznak commented on #702
yes, your paths or something is not set up correctly. You can do this though:
[code]

/usr/include/c++/5/bits/c++0x_warning.h:32:2: error: #error This file requires compiler and library support for the ISO C++ 2011 standard. This support must be enabled with the -std=c++11 or -std=gnu++11 compiler options.

I'll have a look at this

[2019-10-08 11:05] cyberslam commented on #563
Hi there!

 Find your next opportunity at an event of your interest

 10times is the world's largest business event platform to find events,
business conferences, trade shows, global seminars, networking meets and
workshops.

 Events near me

 Connect with 40m+ event goers world wide.

 300k business events from around the globe.

 Professionals from more than 100 industries.

 Network with event-

[2019-10-08 20:42] #712 closed

[2019-10-09 08:38] RDaneelOlivav commented on #702
I tried changing with the same result.

I then created a VirtualMachine with stock Ubuntu 18 installed and everything worked inside a venv of python 3.7.

[2019-10-09 08:45] breznak commented on #702
glad it works for you!
So the takeaway is, Ubuntu 18.04 is fine, 16.04 is problematic. I don't know if it's worth pursuing 16.04, if there's already another newer LTS, and 20.04 LTS coming soon.

[2019-10-09 09:02] RDaneelOlivav commented on #702
I totally agree. We should just state that as requirement Ubuntu 18 minimum and when 20 comes out then work with that ;). Thanks a lot for the help @breznak . Lets see if I can now spend a bit of time getting to know again the htm system and work on the 2d object project ;).

[2019-10-09 09:15] #702 closed

[2019-10-09 09:59] breznak opened #714 "Python setup.py develop broken"
I think the `develop` mode is broken, as it links to `build/Release/distr/src`
while the changes should be "live" on source files.
Intention of 'develop' py install is that you can make changes to the python files and the package (is linked) will immediately reflect that.

[2019-10-09 10:00] breznak commented on #714
from `pip list`

[2019-10-12 22:43] be4pro opened #716 "Python setup.py Help"
Hi,
I followed Simple Python build in Readme with `python setup.py install` and met the following error

...
running build_ext
building 'htm.dummy' extension
error: Unable to find a compatible Visual Studio installation.

I assume there are setting issues on my computer but I don't know what they are. I've installed VS 2019, got `C:\Program Files (x86)\Microsoft Visual Studio\Installer` in PATH, a

[2019-10-13 18:38] dkeeney commented on #716
Hmmm, this should have worked.
I am using the command:  `python3 setup.py install --user --force`
You can use just `python` in that command if `python --version` gives you version 3.6 or better.
Anacondra python is not officially supported for htm.core but may work.  I think it is the one installed by MSVC.  Try the latest python from python.org.

The error in the DirectoryTest is one that I have

[2019-10-14 11:18] be4pro commented on #716
`python --version` is 3.7.4
I try your suggestion `python setup.py install --user --force`, the error goes

building 'htm.dummy' extension
error: Unable to find a compatible Visual Studio installation.

I'm still looking for the reasons that got me these errors.

[2019-10-14 19:14] dkeeney commented on #716
As far as I can tell, the error is coming from the setup() function in setup.py when it tries to compile dummy.c which is part of the .egg package.  But I cannot determine why it cannot find the MSVC compiler.

Something to try:
Use `pip list` to see if you already have htm.core installed from some other installation.  If you do, try removing it by running a command prompt as 'admin' and then give

[2019-10-15 18:07] dkeeney commented on #716
I don't know if this applies to your situation or not but thought I would mention it anyway...
I have both MSVC 2017 and MSVC 2019 installed.  If I run the command `python setup.py install --user --force` in a command prompt for MSVC 2017 it will fail with strange error messages that say something about incompatibility of tool set because it is trying to use MSVC 2019.

If I really want to use MSV

[2019-10-16 02:36] be4pro commented on #716
Following your suggestions.
1. `pip uninstall htm.core`, then `python setup.py install --user --force`. Same error

...
running build_py
running build_ext
building 'htm.dummy' extension
error: Unable to find a compatible Visual Studio installation.

2. Delete `build/` folder, click `startupMSVC.bat`, press any key to start MSVC, follow the Readme instructions to build everything under `release`, `

[2019-10-16 13:32] dkeeney commented on #716
Wow, you tried everything.

The only variable that seems different from my own installation is that you have VS Code.  I cannot see how that would affect it.

There are no env variables that need to be set or anything to install other than to make sure you have python3, CMake, and Visual Studio installed.   The installation CMake script downloads and installs all of the other dependencies.

I just

[2019-10-16 14:04] be4pro commented on #716
Thanks, @dkeeney. I'll update it once I found the solution.

[2019-10-21 03:37] be4pro opened #717 "Hotgym.py quiz"
In hotgym.py, are they `initialPermanence`, `maxNewSynapseCount`, `permanenceDecrement`, `permanenceIncrement`, rather than `initialPerm`, `newSynapseCount`, `permanenceDec`, `permanenceInc` in default_parameters 'tm'?

[2019-10-21 03:49] be4pro commented on #717
They're just var names. They're right in TemporalMemory()

[2019-10-21 03:49] #717 closed

[2019-10-21 13:04] breznak commented on #218
Fixed in #715 by using a different yaml parser backend - libyaml.

[2019-10-21 13:04] #218 closed

[2019-10-22 00:03] dkeeney commented on #716
@be4pro, sorry I did not see your post until just now...
The `python setup.py configure` will only do the configure step and build the dependencies but will not build the htm.core libraries or install them for use by python.

To do that we need to do `python setup.py install --user --force`  in order to get the rest of the build.
which is what was giving you the error...

I tried installing `Visua

[2019-10-22 06:55] be4pro commented on #716
I copied the htm folder from Release/disr/ to Python's site-package, and it seems to work OK. Will that lead to some issues?

The output of `C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe -legacy -prerelease -format "json"` goes

  {
    "instanceId": "f3be3794",
    "installDate": "2019-10-05T21:10:38Z",
    "installationName": "VisualStudio/16.3.5+29411.108",
    "installat

[2019-10-22 16:01] dkeeney commented on #716
Thank you for the output of vswhere.  It looks very much like the one I get from my system. The script is looking for "VisualStudio.16" when determining if Visual Studio 2019 is installed and it definitely should find it.  So unfortunately this gives us no clues.

I have to think about what else to try...

[2019-10-22 16:15] dkeeney opened #719 "Implement a C# interface to htm.core"
This is a place to re-start discussions about a C# interface to htm.core.

[2019-10-22 16:48] dkeeney commented on #719
I am thinking that the C# interface should be similar to the Python interface.
- There will be a set of bindings for C# written in C++/cli managed code that are linked with the the core library.  This will be a shared library.
- There can be two types of interfaces.
 -- Those that directly call the algorithms in the C++ library.  For these we will need a C++/cli wrapper for each of the algorithms.

[2019-10-22 16:51] dkeeney commented on #719
Let me start by creating a Pull Request and I will add the code I have into it.
Then we can discuss the details of our new C# bindings.

[2019-10-22 19:10] be4pro commented on #716
Thank you for your help, @dkeeney. So I can run `configure` fine means setup.py did find MSVC C++ and C compiler on my computer. It's just something wrong while running setup(). Did I understand it correctly?

Also as mentioned, I copied the htm folder from Release/disr/build/ to Python's site-package, and it seems to work OK. Will this lead to some issues?

I want to build it instead of installin

[2019-10-22 21:30] dkeeney commented on #716
Yes, that is correct.  Inside setup.py it calls CMake to perform the configure, build, and install of the core library and then CMake will build the extension shared libraries from that.  It is the setup( ) function within setup.py that takes the extension libraries, and other things, and packages them into a .egg file that can be added to your site-package.  The building of the .egg with an exten

[2019-10-23 08:46] breznak opened #722 "Broken ARM build: Value.cpp"
Recent changes in Value,
https://github.com/htm-community/htm.core/commit/0fa85d805254c18df309ec84a0ad6c6526b367f3/checks?check_suite_id=276967312#step:4:537

[2019-10-23 18:09] #722 closed

[2019-10-24 12:50] dkeeney commented on #716
OH!!! That explains a lot.
Very good job 🥇

So now, how do we fix this...
- We could tell new users to install Visual Studio 2017 in addition to 2019.
- We could tell them to add the patches to change the paths as you suggest.
- We could include some sort of code in setup.py that changes the paths... Then back it all out when distutils gets updated.

Let me do some research and see if this change

[2019-10-24 17:04] dkeeney commented on #716
Thanks to @be4pro who pointed me in the right direction.... I discovered that we should be using setuptools rather than distutils to do the installation and packaging.  I thought we WERE using setuptools but maybe I am not calling it correctly since he is getting that error in _msvccompiler.py which is part of distutils.  https://setuptools.readthedocs.io/en/latest/setuptools.html

I suspect that

[2019-10-24 18:39] dkeeney commented on #716
@be4pro may I impose on you to try something for me...
Please edit setup.py, line 30 and change it from
[code]

See # see https://stackoverflow.com/questions/44323474/distutils-core-vs-setuptools-with-c-extension

I don't see any indication in `C:\Program Files\Python37\Lib\site-packages\setuptools\msvc.py` that it supports anything newer that Visual Studio 2017 but it is worth a try to see if it

[2019-10-24 21:32] dkeeney commented on #716
Here MSVC 2019 is mentioned as working with setuptools:
https://wiki.python.org/moin/WindowsCompilers

setuptools package must be at least version 34.4.0
[code]

[2019-10-24 23:34] be4pro commented on #716
@dkeeney it worked perfectly well! So happy that you found out an elegant solution!

[2019-10-25 01:41] dkeeney commented on #716
Ok, I will push this to the master.
Thanks for helping me find this.

[2019-10-25 02:01] dkeeney commented on #716
@breznak I will be taking the weekend off.

[2019-10-25 07:46] breznak commented on #590
Master for Windows recently became silently failing without us knowingly force-pushing anything broken!

I am suspecting it is this issue, ie some of the deps using directly `master` silently updated.

[2019-10-25 07:51] breznak commented on #590
@dkeeney this is how you download a specific commit SHA instead of master from github,

`set(URL https://github.com/kerukuro/digestpp/archive/36fa6ca2b85808bd171b13b65a345130dbe1d774.zip)`

[2019-10-25 12:34] breznak commented on #716
@be4pro should be now fixed in master, could you please re-test?

[2019-10-25 12:50] dkeeney commented on #590
Ah, ok, we should change all of our downloads from master.  I did not know we could do that.

[2019-10-25 13:53] breznak commented on #590
done in #727

[2019-10-25 13:53] marty1885 opened #729 "How should I cite HTM.core?"
Hi,
I'm currently writing a report for my graduation project. How should I cite HTM.core in the report? Do you have a preferred way for me to do so?

[2019-10-25 14:20] breznak commented on #729
Hi @marty1885 ,

congratulations!  and thank you for reaching out to us about this.

I would prefer the 2nd answer in here: https://academia.stackexchange.com/questions/14010/how-do-you-cite-a-github-repository
It suggests a bibtex entry as (I esp. like that there's commit SHA to make research replicable)

[code]

It appears it's now possible to get a DOI for a github repo:
https://github.blog/201

[2019-10-25 14:32] marty1885 commented on #729
@breznak My report is due in a month or two. Please take your time :smile:

Congrats to you too! You are awesome!

[2019-10-25 14:40] breznak commented on #729
ok, with students (and me too) I'm used to that it could have been very well due today :D

[2019-10-25 14:57] marty1885 commented on #729
Having good a good task scheduler made my life easier. :P
May you publish the information over at the forums when finished? I know a few there are also doing research but never posts.

[2019-10-25 15:01] breznak commented on #729
I'm writing up the new stuff, slowly. Got locked in an NDA, so I cannot publish my prev work.

it'll be nice to get a "room" on the forums for students/researchers currently writing academic papers on HTM, we could collaborate! :+1:

[2019-10-25 15:25] marty1885 commented on #729
Oops. I mean the fact that HTM.core have a BibTex entry. Inactive members might have problem finding the information.

Sounds like a cool idea! I'll ask Matt and see what we can do.

[2019-10-25 15:26] breznak opened #730 "Obtain a DOI for our repo"
For scientific research, DOI is an important id,

it could be possible to get a DOI for a GH repo,
https://guides.github.com/activities/citable-code/

but I'm currently unwilling to do so due to security precautions:
https://github.com/zenodo/zenodo/issues/1899

Ref. #729

[2019-10-25 15:30] breznak commented on #729
Proposed BibTex entry:
[code]
Thoughts?

good point, I'll make a PR and then post it on the forums.

[2019-10-25 15:59] marty1885 commented on #729
Looks good to me! I'm think weather a DOI is a good idea. Looks like the process is quite manual and needs to be done for each release. And a commit hash is a lot more useful.

[2019-10-25 20:46] breznak commented on #730
true, I'm also a little hesistant. Definitely for us, a github SHA is all we need, sometimes a "results with assigned DOI" are evaluated better by universities.

My current problem with the service is

zenodo/zenodo#1899

[2019-10-25 21:49] breznak commented on #730
Closing, likely not worth without a paper. For quoting open-science reproducible results we can use git commit in this repo.

[2019-10-25 21:49] #730 closed

[2019-10-26 03:01] be4pro commented on #716
It works. :+1:

[2019-10-26 11:51] breznak commented on #716
Thanks for both of you working hard on this! :+1: Closing as successfully resolved.

[2019-10-26 11:51] #716 closed

[2019-10-27 17:59] #669 closed

[2019-10-27 18:02] breznak commented on #714
@dkeeney could you look at this, please? I've recently struggeled with some py code until I realized I was working on an outdated code.

[2019-10-27 22:01] mrpitts52 commented on #719
@dkeeney is the plan to merge your PR into master, or to continue working on that branch?

Also, down the road when the C# interface is ready, will it be possible to build both the Python interface and the C# interface in the same location? I'm wondering if it makes sense to have 2 separate local copies of the repo if I want to be able to use both. Thanks!

[2019-10-27 22:49] dkeeney commented on #719
@mrpitts52 welcome to htm.core.  I was hoping that you would join us.

The way this works is that we clone the repository and check out the branch (or create a new one) for each project.   We work on the branch until we are satisfied with the code and it passes all of the unit tests locally.   For any new code we must include new documentation (usually comments in code) to explain how it works and

[2019-10-27 23:04] dkeeney commented on #719
@mrcslws I will let you drive this project.  I am here to answer questions and explain how the interface needs to work - or you can tell me how you think it should work.  If there is a part of it that you do not feel comfortable with you can pass it to me.  Once we have a plan, and know what all of the parts are and who is doing what, we can go build it.

You said you were a C# developer.  That is

[2019-10-27 23:32] dkeeney commented on #664
With PR #715 we fixed the yaml parser problem by switching to libyaml.  We also accomplished most of the things being talked about here.  I still do not have a universal encoder plugin (EncoderRegion) but that can be a separate issue.  So closing this issue.

[2019-10-27 23:32] #664 closed

[2019-10-27 23:40] #590 closed

[2019-10-27 23:46] dkeeney commented on #704
I am looking to see what to do next and this seems like a reasonable choice.
But I want input from everyone else...

Here are the things I am considering, in no particular order:
- Base class for python encoders  (this issue)
- C# interface design
- EncoderRegion in C++, a general encoder Region plugin.
- A new Region for plots in C++  (for C++ and C# apps)
- A Hot Gym example using NetworkAPI.
-

[2019-10-28 12:10] fcr opened #732 "Python pickle fails for Regions and Network"
I would like to multiprocess several parallel networks, in
particular the location framework, but this fails on pickle errors for networks and regions.
I added pickle tests to the Python bindings unit tests for region and network to check if the problem is me, or is the bindings.
It seems it is the bindings unless I am missing something.
I have attached the modified unit tests for your convenience

[2019-10-28 13:37] dkeeney commented on #732
Good catch.

Serialization of the network is performed by calling network.saveToFile(filename) or save(stream).
However, from the Python side a pickle of a network should result in save( ) being called. The stream would need to be captured and copied into the pickle stream. All of this would need to be performed by the bindings.   PyBindRegion has code to perform the pickle in the other direction

[2019-10-28 13:43] fcr commented on #732
@dkeeney if I was comfortable enough with C++ I would have been happy to.
But it is way too far out of my comfort zone so I must decline.

[2019-10-28 13:46] dkeeney commented on #732
ok, let me see what I can do.

[2019-10-28 13:50] dkeeney commented on #704
Well, it looks like I will be doing the pickle fix next instead.  Issue #732
But that should not take too long, then I can get back to one of these projects.

[2019-10-28 13:51] fcr commented on #732
Thanks. It would be much appreciated.

[2019-10-28 13:57] fcr commented on #732
BTW this is part of my efforts to get around the performance bottleneck of the ColumnPooler.

[2019-10-28 15:44] breznak commented on #704
Of those ideas, for me..

this would be a nice to have :+1: a visualization of SDR + time-series plots. Although we don't want to get too complicated, there are other great tools for that here..hinting at the HTMpandaVis (?) tool discussed at the forums.

I think this would be great! Followed by

although not sure if feasible.

:+1:

I'm not sure we need this, since `TM.anomaly` is now a part of T

[2019-10-28 16:56] dkeeney commented on #704
Thanks for helping me prioritize.

I do need to fix the pickle thing for @fcr first.
Then I will take a look at doing the plots.  I would not have guessed that that would be your top pick.

#714 needs to be fixed too. As you know I don't do much Python work but this caught me once as well.

The base class for python encoders project should be done by someone with lots of python experience although

[2019-10-28 20:22] breznak commented on #704
it is needed for tuning/understanding the models in RL problems. But thinking about it, not sure if there's a good enough c++ toolkit (opencv2 would likely do the job, but isn't that too much to include as a dep?), so we might want that only in python (?)..but that I'm thinking too much ahead, let's discuss when it's on plate.

[2019-10-28 20:34] dkeeney commented on #704
Agreed.  I am thinking that for Python we have a nice tool already.  But for C++ and eventually C#  apps trying out the HotGym example, we have nothing.  opencv2 is too much.  I was thinking we should be able to find a simple plotting tool for C++ someplace.

[2019-10-28 21:11] breznak commented on #704
on the other take, cv2 would be well supported and ported to all platforms

[2019-10-28 23:00] dkeeney commented on #719
oops @mrcslws, I was targeting @mrpitts52

[2019-10-29 00:34] mrpitts52 commented on #719
@dkeeney that sounds great.

I actually don't have any prior experience with C++/CLI, but moving between languages hasn't been an issue in the past so it's a challenge I'm happy to tackle.

This one's a no, the cross platform stuff will be all new to me.

Not with exactly what appears to be going on here. I do have experience setting up network APIs, so hopefully some of that experience helps.

So

[2019-10-29 00:43] mrpitts52 commented on #719
I just cloned the repo the other day and got everything building successfully. The readme is great for setup and some info on running test and examples. Is there anywhere in the docs that gives kind of a high level architectural overview, both for the core code and the existing Python interface? A basic overview that indicates what the various 3rd party dependencies are used for and maybe a genera

[2019-10-29 05:07] breznak commented on #719
Hi Mike, great to see another soul joining us!

I'm happy the process worked smoothly for you.

code-wise, or in generel HTM-wise? Actually, I think we're lacking on the general "what the heck is an HTM and why is it so good then?"-side. Not that we should do all that, but we should like to introductory papers and forum posts to help get people into the picture.

this is a good point, thank you! :

[2019-10-29 13:12] dkeeney commented on #719
Ok, as he said, we don't have good overview documentation.  But there are some things you can look at to get some idea of what is going on.

@breznak feels that the in-code documentation is adequate.  And for figuring out the calling arguments for the algorithms I agree.  But for overall understanding I would start with [HTM School](https://numenta.org/htm-school/).  Start at the first video and w

[2019-10-29 13:32] dkeeney commented on #719
One of my TODO list items is to re-write the old NuPic API for our library as it is today.  Perhaps not all at the calling argument detail but at least much of the overview.  I hope someone would show up that has a passion for documentation and can help us out. :-)

[2019-10-29 14:21] mrpitts52 commented on #719
Thank you both so much!

The good news is that I have read On Intelligence and I've watched all the HTM School videos, but looks like there is still plenty for me to go through both in the code and over on the HTM Forum. By the way I'm mtopper over there, I like to have different IDs to be unnecessarily confusing.

As I go through the code and inevitably have questions, what's the most logical pla

[2019-10-29 18:22] dkeeney commented on #719
I guess I did not answer that.  I normally just use my current issue or PR.  If the topic is too far off maybe it is worth adding a new issue.

It might be nice to have an on-going open channel where we can just chat.  Like when I like to let everyone know I am going to be traveling the next week, etc.  Or when I am trying to figure out what to do next.  But we don't have that right now.

[2019-10-29 22:56] dkeeney opened #734 "Unable to install numpy from source on Python 3.8"
I just installed Python 3.8 on windows 10.   I set my system environment path to include the path to Python 3.8.  This seemed to be a good time to install with a 'virgin' system.
So I then tried a python build, i.e.  `python setup.py install --user --force`

It seemed to find setuptools without having to install before hand. So perhaps setuptools is now part of the core.

While building the egg, i

[2019-10-29 23:37] dkeeney commented on #734
I then used
[code]
And it installed numpy 1.17.3

Then running the python build again `python setup.py install --user --force`  it found:
- found numpy 1.17.3
- downloaded and installed wheel 0.33.6
- downloaded and installed six 1.12.0
- downloaded and installed wcwidth 0.1.7
- downloaded and installed pluggy 0.13.0
- downloaded and installed packaging 19.2
- downloaded and installed more-itertoo

[2019-10-29 23:54] dkeeney commented on #734
Ran `python setup.py test`

Failed in `SdrTest.testDenseInplace`
[code]
The 'time' module was imported.  In the python docs I found:
[code]

[2019-10-30 08:57] #729 closed

[2019-10-30 09:44] breznak commented on #734
yes, we've added the setuptools to requirements.txt in one of the recent issues.

I've encountered this err, I think on ARM, I believe it's when numpy does not provide the binary package for your combination yet (here Win10, Py3.8, ...) and pip tries to build it from source for you.

Strange..can you uninstall numpy and try again? Either both should fail, or the requirements should pass as well.

[2019-10-30 12:37] dkeeney commented on #734
The point was that setuptools is imported at the top of setup.py and would not be able to run if it was not already installed.  When setup.py finally got to the point where it was installing prerequisites it did find a newer version of setuptools, but there must have been one already installed as part of the core Python 3.8 package.

So, the things we need to address are
- the depecated time.clock

[2019-10-30 23:54] breznak commented on #668
@fcr I cannot find it now, but you've written somewhere that the bottleneck in `advanced.connections` is mainly in one method. Is it `growSynapses`?
Could you please comment (maybe here) on https://github.com/htm-community/htm.core/issues/575#issuecomment-533249619

- it seems to me that `TM.growSynapses_()` could be used here, and moved to Connections.
- I wonder if the change will actually make

[2019-10-31 03:38] mrpitts52 commented on #719
I love the idea of a general chat channel for this group.

[2019-10-31 06:16] breznak commented on #325
A high level documentation in a form "what is HTM and what does this repo do?" was mentioned in the thread above, and I'd like to improve that as a part of submission to  JOSS paper https://joss.readthedocs.io/en/latest/submitting.html which is a follow-up to #729

[2019-10-31 06:33] breznak commented on #707
With #736 all tests (incl. determinism) are passing on CI for MUSL (added its custom results), but the results are not the same for GLIBC and MUSL libc.

[2019-10-31 11:32] fcr commented on #668
@breznak The comment is the iniitial post of [#724](https://github.com/htm-community/htm.core/pull/724).
The bottleneck is in listing all the presynaptic cells of a segment which I implemented as `presynamptic_cells = np.array([permanences.presynapticCellForSynapse(synapse) for synapse in permanences.synapsesForSegment(segment)]`

[2019-10-31 13:28] dkeeney commented on #325
That would be a cool thing to have but that is not what I am thinking of here.  I think we need something that describes how to use this software.  The 'How' not the 'Why'.  Thinking of our repo as a tool, what are the mechanics of using it.  Specifically the NetworkAPI.

The mechanics of using the algorithms are rather straight-forward.  You call an entry point with some parameters and it perform

[2019-10-31 14:01] breznak commented on #325
yes, what I intend is a slightly OT, as a more high level intro/doc.
I think we need 3 sections/types of documentation for:
- researcher : mostly links to htm papers, and examples of active research topic in the repo
- newcomer : description of what are we about here. My intend for the first JOSS paper
- app developer: (I know enough of what HTM does), how do I use it in my cool project X?

I thin

[2019-10-31 14:07] breznak commented on #668
This is called many, many times and hence takes 25% of the run time. Any improvement of this will greatly help.

thanks, I'll look more. But I'm sceptical, seems those methods are already in Connections, you're simply calling expensive methods manytime (ie rewrite from py to c++ won't give much speedup?).

guess you cannot reuse the data, as it changes ..

[2019-10-31 17:05] fcr commented on #668
I figured as much, but was hoping that you could implement internally in a better way. Getting the presynaptic cells is widely used in all the advanced (i.e. htm_research) stuff.

Good guess :-)

[2019-11-01 07:30] breznak commented on #668
ok, that's what I wanted to figure. So just porting to cpp won't be good enough, so we need to find a good way (or change connections to work so) to get presyn cells easily. (the title then was misleading)

[2019-11-01 08:06] fcr commented on #668
That would be ideal. Any new learning algorithm will need to access the presynamptic cells.

[2019-11-01 08:26] breznak commented on #668
OT: if that'll be still effective, we're getting to a more biologically accurate representation (each cell runs autonomously/async, and handles its input field), I've needed similar for parallelizing the computations.

[2019-11-01 08:46] fcr commented on #668
I wonder if the communication overhead would wipe out any advantage of having a separate process for each cell (unless this is happening on a dedicated chip).
Since we are discussing this, I am trying to parallelize the system by running each cortical column in its own process, but have been stymied by the lack of pickle support for region and network.

[2019-11-01 08:56] breznak commented on #668
not for cells, but seems to be what happened in my parallel PR attempt #559

column? (imho too much threads, see above), or a layer (that would make sense), I'd like this to be enabled generally #255 where each "main class" (SP,TM,CP,..) could run in its thread.

Btw, is #253 parallel NetworkAPI your thing?
(let's further continue the discussion about parallelization in one of its issues)

[2019-11-01 08:57] breznak commented on #668
not for cells, but seems to be what happened in my parallel PR attempt #559

column? (imho too much threads, see above), or a layer (that would make sense), I'd like this to be enabled generally #255 where each "main class" (SP,TM,CP,..) could run in its thread.

Btw, is #253 parallel NetworkAPI your thing?
(let's further continue the discussion about parallelization in one of its issues)

[2019-11-01 09:24] fcr commented on #253
Continuing discussion from #668.

By column I mean a single network of multiple regions (layers) such as a a single column location framework. If you externalize the lateral connection between the L2 layers, in this case, then each column can run in its own process.
Profiling the location framework identifies the column pooler as using the lions share of the processing resources. Hence, in my case

[2019-11-01 11:10] Zbysekz opened #740 "Bug in predictive cells?"
https://github.com/htm-community/htm.core/blob/7e3d439cbb37a5953dad8bafb81288d635677eca/src/htm/algorithms/TemporalMemory.cpp#L597

I just want to discuss code in getPredictiveCells in TM.
I am not sure about this, but "better close issue then to have hidden bug" :)

` for (auto segment = activeSegments_.cbegin(); segment != activeSegments_.cend();      segment++) {`
There should be `++segment` in

[2019-11-01 12:52] dkeeney commented on #253
I have been working on that.  Found that serializing from C++ to Python was not working.  That is needed to pickle a network that has regions written in Python.

[2019-11-01 13:16] fcr commented on #253
@dkeeney thanks for the update.
In case that this turns out to be intractable, as insurance, I have just started investigating whether I can use  [Ray](https://ray.readthedocs.io/en/latest/index.html) which does not depend on pickle.

[2019-11-02 07:54] fcr commented on #253
After looking at Ray, though it may work, @dkeeney I really hope that you do get pickle working. Futures or Dask are a much easier path to multiprocessing the htm.

[2019-11-02 13:18] dkeeney commented on #253
We will get it working.

[2019-11-03 00:17] mrpitts52 commented on #719
@dkeeney @breznak I finally got some free time to dig through the code a bit, and I have a few questions I'm hoping you can help with.

1.) Let me try to restate this so you can tell me if I'm off base:
We already have some 'regions' implemented in Python, which we can do because we have Python bindings for the C++ region building classes. The Network API allows us to expose any number of defined

[2019-11-03 00:40] breznak commented on #719
c++ (+ py bindings) regions are in `src/htm/regions/`, there are a few py-only now, see `py/htm/advanced/regions/`

it's in `bindings/py/` somewhere, if you grep for Network, you should find it

[2019-11-03 00:49] breznak commented on #740
Thanks for pointing out to a complicated code, please keep doing so while you dig through the codebase! :+1:

I think that one was correct.

literally yes, but why/what's that supposed to mean? See linked PR #743 which should explain it.

[2019-11-03 19:48] dkeeney commented on #719
The regions that are most important are those that are implemented in C++.
See `htm.core/src/htm/regions`.  These are plugins that are automatically registered in RegionImplFactory.  The Python and C# regions would need to be registered before they could be used.

network.addRegion( .. ) is the way you identify which regions you want to assign to a network as part of an application.

[2019-11-04 04:55] mrpitts52 commented on #719
Got it, and I see that the py_Network implementation is in py_Engine.cpp.

Right now the biggest blind spot for me is the build process, I've never worked with CMake before.  I see each project has a CMakeLists file. Are these files manually created or auto-generated?

[2019-11-04 08:22] breznak commented on #719
cmakelists.txt are written by us, makefiles are then autogenerated. We'll try to help you setting a cmake section for compiling the new code

[2019-11-05 07:02] #740 closed

[2019-11-05 08:54] be4pro opened #744 "What should I do to get python build faster if I modify some cpp files?"
If I only modify a few lines in SpatialPooler.cpp, for example, do I have to build htm.core all over again running `python setup.py install`? It took quite some time. I guess there's an easier way to do it?

Sorry for this non-issue post, but I don't know how to ask in other forums. Thanks for your understanding.

[2019-11-05 10:51] be4pro commented on #744
If I delete algorithms.xxxxxx.pyd from src/ and run `python setup.py install`, it will not only build a new one but also other pyd files.

[2019-11-05 13:58] breznak commented on #744
First, you'd need to use `python setup.py install --force`

I don't think it rebuilds it ALL, only the needed/related parts (which is still quite a lot since SP is a core part).
You might have a look at the "Developer build" in Readme, the one with `cmake , make -j8 etc` if that'd be faster.

PS: ok to ask here.

[2019-11-05 15:16] marty1885 opened #745 "Temporal Memory extreamly slow when benchmarking with random inputs"
Hi,

Since @breznak mentioned about TM performance in #680 - I was benchmarking HTM.core's TM implementation vs mine and got really weird results.

## Methodology

I adopted the `tmbench.cpp` code from [here](https://github.com/etaler/Etaler/blob/master/examples/tmbench.cpp). The idea is to:

1. Set both TM's parameter to run in the same condition
2. Generate an array of 1000 random SDR with 10% d

[2019-11-05 15:48] breznak commented on #745
Thanks a lot @marty1885 for benchmarking and reporting back!
- The methodology looks sound.
  - (I haven't reviewed the TM params if there's some hiccup there, but still fair as all implementations use the same setting)
- is your cmake correct?

My current best results (on branch `speedup_comparison` (I'll update it with progress soon) which we used for the comparison on the forums before, it is i

[2019-11-05 16:04] dkeeney commented on #744
There is a known problem with CMake in that if the sources for only one of the pyd files changes it still re-construct all pyd libraries.  There is something about the dependencies that is not quite right. I have looked for his bug several times without success.  Perhaps someone with a fresh eye will see something I have missed.

 Also, if you don't delete at least one of the pyd files it will not

[2019-11-06 00:01] be4pro commented on #744
Much appreciated for your help and time, @breznak and @dkeeney. I'll close this post and simply take the time to rebuild the libraries for now.

[2019-11-06 00:01] #744 closed

[2019-11-06 03:27] marty1885 commented on #745
What you you mean? I'm using a Release build of HTM.core/linked to the shared lib. The benchmarking code is compiled with `c++ tm_benchmark_htmcore.cpp -o tm_benchmark_htmcore -O3 -flto -march=native -lhtm_core -std=c++17`

Something have to be horribly wrong. The 95ms/iter is for 1000 bits/SDR. It grows to 1500ms/iter at 4000 bits/SDR.

May you check my bencharking code when you have time? I want

[2019-11-06 15:10] dkeeney commented on #732
I am able to reproduce your error:
[code]

I don't know the cause yet but I will setup another PR to address this.

[2019-11-06 23:22] mrpitts52 commented on #719
Are there existing unit tests for the Python bindings? It would be great if we had some to leverage when we add the C# bindings.

[2019-11-07 01:04] dkeeney commented on #719
yes, the unit tests for the bindings are in  `htm.core/bindings/py/tests`
We also run the full py unit tests: `htm.core/py/tests`

[2019-11-07 01:30] mrpitts52 commented on #719
Ok, that's on me, that should have been obvious, haha.

[2019-11-07 01:32] mrpitts52 commented on #719
@dkeeney @breznak
Seems like there are two general options for starting off. We could start with the C# network interface, or we could start with the C# bindings for the main algorithm classes. The Network interface would give access to more functionality more quickly for anyone wanting to build a C# app, but unless anyone is really chomping at the bit to do that I think I'm inclined to start with

[2019-11-07 02:26] dkeeney commented on #719
Yes, but the algorithm API changed quite a lot since I did my original code.  We will need a new wrapper for the SDR for one thing.

The NetworkAPI is more stable and much of my original code might be usable but that API is more complicated.  It flows in both directions.  A C# app can call into the Network object to setup and start a run, but if there are Regions implemented in C# then the Network

[2019-11-07 03:50] mrpitts52 commented on #719
Excellent! I can create a new branch for this, then just manually grab things from your PR as we go. Just FYI I am out of town this whole weekend, so probably won't be able to start this in earnest until next week.

[2019-11-07 13:56] dkeeney commented on #719
Sounds good!

[2019-11-07 23:18] dkeeney commented on #714
PR #747 may fix this.  There is a change to setup.py which does a touch of `htm.core/bindings/py/cpp_src/CMakeFiles.txt` which causes the configure step to re-run before a build. That results in the files being copied into distr/src.  There may be a better way to do this but this seems to work without too much additional time for a build.

It still requires at least one of the expansion libs to be

[2019-11-08 00:04] dkeeney commented on #160
I think the last of the pickle serialization problems is covered in PR #747.
...at least until another pickle serialization problem comes up.

[2019-11-08 00:04] #160 closed

[2019-11-08 00:11] dkeeney opened #748 "A new Region for plots in C++ (for C++ and C# apps)"
The objective is to have a Region that is accessible by C++ (and eventually C#) users that can perform plots, much like Matplotlib which we have for Python.

[2019-11-08 00:32] dkeeney commented on #748
My first impression was to search for plot library package written entirely in standard C++11 that can be linked into the htm.core library.  However, the downside (in addition to license issues) is that it blots the library.

We are not looking for a super fast package, just something that can provide the capability enjoyed by Python users with Matplotlib.  So, why not just call Matplotlib from C+

[2019-11-08 10:37] breznak commented on #714
Thanks!

if that would not slow down the build process too much, we should do this.

The idea of `develop` is to allow changes to py-only files to be appplied without calling anything. I'm not sure if we can still achieve that in which case we could just remove the develop call.

[2019-11-08 13:21] breznak commented on #748
I agree on the matplotlib based package.

Do we even need this in c++? PyRegion would be much simpler, and yes it would require python to be installed on the machine (but for machines that will do graphical outputs, I think it's an OK requirement for on optional functionality)

[2019-11-08 13:46] dkeeney commented on #748
Good point.  That would be much easier...

I got to thinking about how we would link up a .py Region for an app that its main is in C++.  In order to do embedded python we need the python library to be linked in.   The C++ app would also need PyBindRegion and RegisteredRegionImplPy classes.  And to be general it would also need all of the python bindings so that the .py classes it calls can call b

[2019-11-08 14:11] dkeeney commented on #714
Hmmm, I think what is happening is that the develop call is re-packaging the .py code that is already in `htm.core/Release/distr/src`, not the .py code that might have changed.  Somehow we need to copy that code again.

[2019-11-08 14:41] breznak commented on #748
I think what you're trying to figure is if c++ only app could use our code written in py (with python statically linked etc).
What I meant was simpler, just offer the functionality if the system provides python and has htm.core installed with Py extensions on.

[2019-11-08 14:44] Thanh-Binh commented on #748
@dkeeney I do not know what kind of plot/visualization this region should have? @marty1995 and I usually use SFML library for visualizing some important visualization tasks related to HTM (ploting curves, Cells/Layers-Visualization). I think it is good for all we need...

[2019-11-08 14:50] breznak commented on #748
Another way would be to get in touch with @Zbysekz and `HTMpandaVis`, if it would make sense to just output the data to a file with some readable format for the visualizer, and let the graphics be on them.

But I think the 2 projects are about something else, HTMpandaVis plots the connections etc, while we want simple graphs here and maybe a visualization of a SDR.

[2019-11-08 15:11] dkeeney commented on #748
I was trying to keep it all within one C++ process...as a plugin for NetworkAPI.  Spawning out to the shell to call python would work I guess.  Is that what you are suggesting?

[2019-11-11 10:14] Zbysekz commented on #714
So if this will work, i can call something like 'python develop install --user --force' and pyfiles will be reflected immediately?

Since now, i was deleting "distr" folder every time and running 'python install --user --force'

[2019-11-11 12:50] be4pro opened #749 "Training process of example Mnist"
Hey guys,

I'm curious. In mnist.py, why do we go for `img, lbl = random.choice(training_data)`, rather than `img, lbl = training_data[i]`, given [training_data has already been shuffled](https://github.com/htm-community/htm.core/blob/f6d97c90ab30a4823431ba446a01cf506f3ebf4f/py/htm/examples/mnist.py#L90)?

[2019-11-11 13:55] breznak commented on #749
you're right, either of them is enough :+1:

[2019-11-11 14:06] be4pro commented on #749
I felt like shuffle + `img, lbl = training_data[i]` is more suitable. If we cancel the shuffle and only use `random.choice()` in the for loop, it might pick up some data points repeatedly.

[2019-11-15 05:07] #749 closed

[2019-11-15 08:21] breznak commented on #749
@be4pro will you make a PR with a fix?

[2019-11-16 05:12] be4pro commented on #749
OK, I will. :+1:

[2019-11-17 00:02] dkeeney opened #753 "Streaming values into NTA_THROW does not work."
After the Exception code cleanup PR #742  the error messages streamed into NTA_THROW no longer work.

[code]
I added this to the end of ExceptionTest.hpp and it fails.  e.getMessage() is empty.
Tried this on Windows 10 using MSVC 2019.

But what I really want is something like: `e.what()` to return
[code]
It is not obvious to me what changed that broke it.

[2019-11-17 07:17] breznak commented on #753
Thanks David for finding this and sorry for the bug!

[2019-11-17 14:53] dkeeney commented on #753
Found the problem.  The copy constructor should be something like:
[code]

Could use std::move( ) on those assignments I guess but this is not a high use function.

[2019-11-18 09:22] #753 closed

[2019-11-20 22:26] dkeeney opened #761 "Classifier Region"
I started looking at what it will take to build a Predictor Region.
The Predictor class is in SDRClassifier.cpp along with the Classifier class.

It looks like the Predictor class usage is quite different from the Classifier.  Perhaps different enough that perhaps I should have a PredictorRegion and a separate ClassifierRegion.

[2019-11-21 00:38] dkeeney commented on #761
Looking just at the PredictorRegion:  The comments in the code are not much help in figuring out how to use this thing.  I am having to do a lot of guessing and I am not sure I have it right.

This is what I have so far for the Spec
[code]

- infer, learn flags indicate if the infer or learn steps are to happen respectively.
- The predictions parameter should be a map containing a vector of Reals

[2019-11-22 09:35] Thanh-Binh commented on #569
Hi all,
currently we have python version for parameter optimizations.
I want to use it for optimizing my framework in C++ but I do not know
1. how to call my framework from python for running it multiple times?
2. or how can we rewrite optimization framework of @ctrl-z-9000-times in pure C++?
Any idea and hint? Thanks

[2019-11-22 09:54] breznak commented on #569
the current way is to optimize parameters in python (all code has a py wrapper/equivalent). Find the best params, then apply them to your c++ only code.

If you have a custom c++ code, you're out of luck and need to do one of:
- write a py wrapper for such code to be used by the param opt framework.
- call c++ program from py (and fix all the requirements of the framework: main method,...)
- rewri

[2019-11-22 10:19] breznak commented on #761
@dkeeney I'll try to answer the questions.

I'd start with a ClassifierRegion and then we'll see. But Likely yes.

"Array of n-steps ahead we want to learn and predict" (value 0 makes no sense for a Predictor, it degrades it to a Classifier)

the learning should be quite simple for the MLP given SDR, so users typically don't need to fiddle with that.

I think this should not be a param of the Regi

[2019-11-22 12:26] Thanh-Binh commented on #569
@breznak writing a python wrapper for such codes, which have to be optimized, is not an intelligent way. I think, the optimization procedure, independent on which programming languages it is written, should work like that:
1. given a set of parameters
2. set those parameters into your framework, which will be optimized
3. run your framework with those parameters and assign the results as a score
4

[2019-11-22 12:58] breznak commented on #569
I think python is a pretty good choice for the optimization framework. This repo does C++ & Python, and we have a Py wrapper for all of the c++ code; py is a good prototyping language; param optimization is not a main goal of this repo, so the code is "just" a helper/side project; and the code is rather lean&clean written in py and is flexible to change. And most of all, in the parameter optimizat

[2019-11-22 14:51] dkeeney commented on #761
Thanks for your comments.

I think you are right.  I will do that first.
Basically a classifier is something like this:
[code]

[2019-11-23 16:08] Thanh-Binh commented on #569
@breznak thank for your explain! I am sure that python is good for automation. But I really do not understand why we need it for optimizing because writing python wrapper is unnecessary double works for c++ user!

[2019-11-23 21:48] breznak commented on #569
it would be the same the other way around. If we had optimization in c++, someone would have to write a wrapper/bindings for python.

The explanation why is simple, someone (David) wrote it in Py, and it was imho the better language to choose for a prototyping task.

[2019-11-26 03:23] mrpitts52 commented on #719
@dkeeney Just wanted to provide an update since it's been a while. Unfortunately I haven't had nearly as much free time as I'd like in the last couple weeks, but the time I've had I've reading up on C++/CLI and the whole unmanaged/managed paradigm, as this is my first real foray into that. I have to say the existing code (and the comments) make a lot more sense to me now.

So basically I finally f

[2019-11-26 13:52] dkeeney commented on #719
Hi Mike,
I understand about not finding as much time as expected.  That seems to be the way life is.  But we will be happy with whatever time you can find.  Have a great Thanksgiving week.

[2019-11-27 23:36] be4pro opened #762 "Typo in date encoder"
https://github.com/htm-community/htm.core/blob/abe0a39e62d3b3ba1b89b821bada619247063cc2/py/htm/encoders/date.py#L306
Should this line be `if diff.days == 1`?
or
<pre>
if diff.days == 0:
    val = 1
    break
elif diff.days == 1:
    val = 1.0 - (float(diff.seconds) / 86400)
</pre>

[2019-11-29 15:54] dkeeney commented on #761
Unless I am missing something, the SDRClassifier depends on knowing all of the buckets that were used by the original encoding.  It needs the list of titles, indexed by the bucket index.   It output is an array giving the probability for each of the bucket indexes.

The RDSE encoder cannot give us the buckets. So that encoder would not be directly usable with the SDRClassifier.  However, I got to

[2019-11-30 23:14] dkeeney commented on #761
I was reading the comments on PR #680 and it sounds like I was evolving in that same direction.  A map in the SDRClassifier to use in mapping patterns back to their original values...which in my case were doubles from the RDSE encoder.  Perhaps with a little more thought we could come up with a way that decodes multiple decodings when multiple encoders are used (i.e. date encoder, etc).

[2019-12-06 14:58] kkaraoglan opened #764 "HTM.core clone error. Setup.py cannot be installed and import.sdr is not working"
I use pycharm.
I have both python 3.7.5 (x64 and x86) as interpreter on win10

I clone HTM.core files from the repository and loaded all the requirements. There is no error at this stage.

However, when I install with setup.py --user - force, I get an error and cannot proceed.

I use pycharm instead of Anaconda platform now .:slight_smile:
I have both python 3.7.5 (x64 and x86) as interpreter.

I

[2019-12-06 20:36] dkeeney commented on #764
Thanks for adding this problem to the issues so we can track it.

I assume that by ` setup.py --user - force` you really mean ` python setup.py install --user --force`.   The --force is to force the install to replace whatever was there before from a previous load that might not have completed.  Alternatively you can use `pip uninstall  htm.core` to make sure nothing is already there.

I was setti

[2019-12-06 21:02] dkeeney commented on #764
So I have standard python3.7 and python3.8 running under virtualenv now.

Oh, by the way, we don't support 32bit python (x86), it only works with the 64bit python (x64).

The first thing I discovered is that when using virtualenv is that we don't need to use "--user --force" in our build command.  An you probably don't need to use it with pycharm either.

Ok, now let me see if I can get Anacondra

[2019-12-06 21:08] dkeeney commented on #764
This might be helpful in setting up multiple pythons:  https://www.freecodecamp.org/news/installing-multiple-python-versions-on-windows-using-virtualenv/

[2019-12-06 22:40] dkeeney commented on #764
Ok, got it working with Anaconda python under Windows.  I think we were trying to make this more complicated than it should have been.  There is no need for virtualenv or pycharm since the `Anaconda Prompt` does the same thing for Anaconda python.

You will have to build from sources because the pre-built packages are for standard python3.7.  So you need to download the repository or clone it.

1)

[2019-12-10 13:14] kkaraoglan commented on #764
Thank you so much. Problem is solved. I can code on both anaconda and pycharm.

[2019-12-10 13:41] #764 closed

[2019-12-12 23:00] dkeeney commented on #762
I think this is correct.
line 306 is in the logic  where the input time is before or equal to the beginning of the holiday.  So, if the diff.days == 0 it would mean the input time is exactly at midnight or less than a day BEFORE the holiday start time.

 If it happens to be exactly on the holiday start (at midnight) then diff.days == 0 but 'val' ends up being 1.0 because diff.seconds would also be

[2019-12-12 23:39] dkeeney commented on #762
I did find something that is not quite right in the date.py  DateEncoder.

In the DayOfWeek section (line 115 of date.py)
[code]
The minimum and maximum should be 'inclusive' per the parameter descriptions.  So, this implies that the program will allow  8 days in a week.  But if I change the maximum to 6 as it should be, the computed size of the output buffer only allows room for 6 sets of bits ra

[2019-12-16 22:57] dkeeney commented on #762
After finishing my port of the DateEncoder to C++, what I found was that there is an error in the holiday encoding.  What the existing code was doing was encoding the smooth ramp up correctly but the smooth ramp down down was the same as the ramp up and it should be a wrap in the other direction:
[code]

It probably makes no difference in the semantics of the pattern but to me his makes more since

[2019-12-16 23:04] dkeeney commented on #762
Also note that what I thought was a bug in the ScalarEncoder was more of an error in documentation. The documentation states that the minimum and maximum configuration parameters are 'inclusive'. However, in periodic mode, the minimum is 'inclusive' but the maximum is 'exclusive'.  That is why it ranges from 0 to 7 in the DayOfWeek encoder and 0 to 2 in the Holiday Encoder.   So I added some comme

[2020-01-29 02:58] breznak commented on #762
..so, is this still an issue, or fixed in the PR above? (thx btw :) )

[2020-01-29 15:23] dkeeney commented on #762
Welcome back @breznak
No, this is working fine.  It just needed some clarification of what the end-points should be in that case.

[2020-02-04 17:27] #762 closed

[2020-02-11 16:16] Sedom9 commented on #641
@breznak  @dkeeney. Last time, when I  tested save and load, I didn't notice about loading. Now I come back to loading my Spatial Pooler, and I have some questions.  When I tried to load my Spatial Pooler in this manner:
`			self.sp = SpatialPooler.loadFromFile(self.sp_file_path)
`
I got this error:
`TypeError: loadFromFile(): incompatible function arguments. The following argument types are suppo

[2020-02-11 16:34] breznak commented on #641
yes, it's not a static function, you need a dummy SP first.

[code]

[2020-02-12 10:43] LucaCerina opened #770 "Little bug in MSVC build"
Hello,
I had a problem in which MSVC version was not recognized because vswhere returned an empty array (see also #https://github.com/Microsoft/vswhere/issues/103)

Adding `-products *` to the arguments of vswhere solves the problem

[2020-02-12 10:56] breznak commented on #770
Hi, thanks for the report and finding a solution :+1:
Would make for a nice first PR? :wink:

[2020-02-12 11:18] LucaCerina commented on #770
Added on #771

[2020-02-12 12:03] #770 closed

[2020-02-14 14:34] dkeeney opened #773 "A REST interface for NetworkAPI"
With the latest discussions on the forum about a REST interface to htm.core I thought I would take a look at what it would take to build it.  It seems rather simple...

The first step would be to add a configure( ) function to the Network class that accepted a YAML string that could be used to configure everything.
[code]

The 'registerRegion' would need to be able to register a Python class or a

[2020-02-14 14:55] breznak commented on #773
I'd love this!

I'll have to look at it deeper later but the idea is great!
Would this go with an additional constructor that accepts JSON?
[code]
That would be useful for param optimization and API compatibility imho.

[2020-02-14 17:27] dkeeney commented on #773
yes, the same parser can handle both YAML and JSON.

A key part to this is the ability to load either a Python or C++ plugin at runtime.  So that may be the first step in completing the REST interface.

[2020-02-15 20:00] dkeeney commented on #773
My initial investigation of this project I found that doing the "RegisterRegion" operation to load a non built-in C++ plugin is going to take quite a significant amount of work.  Doable, but it would delay doing the rest of the REST interface.  So, what I thought I would do is set that part aside for now.  We would still be able to use all of the built-in plugins and any Python plugin that you mig

[2020-02-15 23:44] dkeeney commented on #773
I wanted to use an off-the-shelf REST server library.  The two really good ones are [boost::Beast](https://www.boost.org/doc/libs/1_72_0/libs/beast/doc/html/index.html) and [cpprestsdk](https://github.com/Microsoft/cpprestsdk) both use boost.

There is nothing wrong with the Boost library but it takes so long to download and is huge.  We don't want to include Boost inside htm.core.  But what we ca

[2020-02-16 10:30] Thanh-Binh commented on #773
sorry for my long inactive time. For now, our htm.core includes many new extensions, so that I really do not know if everything is controllable. I have a feeling that we should maintain the main C++ core (or I say the lowest level in htm/algorithms, NetworkAPI) as minimum as possible, after compiling we have a core library like "libhtmcore.so". Others for better configuration /easy-to-use interfac

[2020-02-16 15:12] dkeeney commented on #773
Not sure I follow what you are saying.
The lowest level are the htm algorithms.
A wrapper on those is NetworkAPI
The REST interface I am proposing is just an alternative way to invoke NetworkAPI.

The htm algorithms and NetworkAPI components are in the htm.core library and I agree we should keep that small as possible.

What I am proposing for the REST api is to make a few minor additions to Netwo

[2020-02-16 15:29] dkeeney commented on #773
Lets take a look at the HelloSPTP example.  This is an example implemented using only low level algorithm calls.  It configures a sequence of an encoder, an SP, and a TM.  The data for this example is a set of points on a sine wave.  After a few iterations it tries to predict the likelyhood of the next point on the sine wave.

The examle napi_sine tries to do the same thing using the NetworkAPI.

[2020-02-16 16:59] dkeeney commented on #773
I should point out that the predicted output of the TM is not a point on the sine wave but an SDR that contains the semantics of that point.  To get back to a real predicted point on the sine wave we would also need to call a classifier that has been trained on mapping the result SDR to the physical point.

So to be useful to the REST api in this case we might want to add a ClassifierRegion compon

[2020-02-16 18:45] dkeeney commented on #773
Lets look at how we might configure the Network class.

[code]
Note that I added a Classifier region to the napi_sine example.  This is so we can pass back a real point on the sine wave rather than a serialized SDR.

Rather than performing individual calls to addRegion( ) and Link( ), lets put this in a text string so it can be passed in one REST request to setup the run.  In JSON syntax it might

[2020-02-16 18:55] dkeeney commented on #773
Now, lets say we have a REST client that wants to run something like the napi_sine.cpp example.  Lets assume there is a server.exe built from code I will have in the examples.  It is started with the port number it will be listening on.  The REST client would need to configure itself with the ip address and port of the server we just started.

The client then sends its first message to configure a

[2020-02-16 19:27] dkeeney commented on #773
Now we want to run this with some data.  We need to pass it two values for each iteration.  The first is the handle of the Network class and the second is the data to be passed to the encoder (along with some type indicator).  In our example, we are passing points on the sine wave.  So in a loop we iterate the sine wave.

Again with a command line curl it might be something like:
[code]
the value

[2020-02-16 23:51] dkeeney commented on #773
Rather than curl, I would expect a real application to use one of the REST client packages to send and receive messages.

[2020-02-17 18:37] indy-3rdman opened #774 "Parameter optimization not working on Windows?"
Hi!
Just tried to run the example from [https://github.com/htm-community/htm.core/tree/master/py/htm/optimization](https://github.com/htm-community/htm.core/tree/master/py/htm/optimization) on Windows:

`python -m htm.optimization.ae -n 7 --memory_limit 14 -v --swarming 100 mnist.py`

Unfortunately it throws the following error:
ModuleNotFoundError: No module named 'resource'

It is executing fine

[2020-02-17 19:07] ctrl-z-9000-times commented on #774
Hello,

I think this issue has come up before...
I don't know of any cross platform replacement for the `resources` module.

Sorry

[2020-02-17 21:50] indy-3rdman commented on #774
How about this one?

[code]
At least allows me to execute it on windows as well.

[2020-02-18 14:29] ctrl-z-9000-times commented on #774
That looks fine!
Could you open a Pull Request with this diff?  Then we can comment on it, and I can accept these changes into the code base.

Thank you

[2020-02-18 16:45] Thanh-Binh commented on #774
@ctrl-z-9000-times how can you find the minimum and maximum values of SP or TM Parameters?

[2020-02-18 19:24] ctrl-z-9000-times commented on #774
@Thanh-Binh
If I recall correctly, invalid parameters cause the SP & TM to crash the process, and the optimizer program detects the crash and marks the parameters as invalid.  It then resets the optimizing process to a known-good state.

[2020-02-19 08:05] Thanh-Binh commented on #774
@ctrl-z-9000-times
I will give a simple sample.
Suggest, you want to find the min and max value of 2 SP parameters.
If you run SP everytime by changing only P1 from the default value in the negative/positive direction untils process is crashed, so you can estimate the min and max value by given P2.
After that you can find out a valid 2D-region of P1, P2.
In the 2nd step of optimization, you find t

[2020-02-19 08:54] breznak commented on #774
this would be a generic question about multidimensional optimization, parameter optimization. I think here are implemented methods GridSearch (brute force) and particle swarm optimization (PSO). But let's discuss further questions separately and keep this topic focused on the OP's windows compatibility issue.

[2020-02-20 17:29] breznak commented on #123
Thanks to PR #769 local inhibition (only for `wrapAround=true`) is now 2x faster!

which equals to improvement and it's now only 10x slower than global inh!

[2020-02-21 09:56] LucaCerina opened #777 "RDSE non-overlap with differences => resolution is not guaranteed"
Hello,
I am trying to use the Random Distributed Encoder to encode a set of scalar values. Then I am using the SDRClassifier to decode encoded values.

The problem arises when I try to optimize the sparsity to limit bitsize or number of activeBits.
On a Windows machine with MSVC2019, I am encoding values from 75 to 140 with resolution of 0.25.
Values are transformed in categories before encoding a

[2020-02-21 10:26] breznak commented on #777
Thanks for reporting the issue!

I wouldn't think this is a platform problem, but please try. Also check that on the HW that has the problem, you pass all the unit tests (`./build/Release/unit_tests`)
Also you can try running the code in Debug, there are extra asserts there.

Can you give me a code of a reproducible test-case?

we used to have another approach than MurMur, I'm not sure if it's sti

[2020-02-21 10:38] LucaCerina commented on #777
Another partial solution I see would be to accept 1-2 parameters for the range (like the regular Scalar Encoder) and calculate a priori the hash collision probability and output a warning if it's too high, or automatically increase size to fit a threshold.

I'll polish a bit the code and attach it here for reproducibility

[2020-02-21 10:44] breznak commented on #777
I recall David commenting that it's the users responsibility to use reasonable settings to avoid collistions.
- is this happening in some demo code?
- can you reproduce with ("normal") large sizes?
- and yes, warning that "your settings might not be right" would be great!

[2020-02-21 12:14] LucaCerina commented on #777
[testcode.zip](https://github.com/htm-community/htm.core/files/4235938/testcode.zip)
This is the code I used.

- The minimum setup that provides few errors is 260 with 2 active bits (260 is the number of unique combinations I need). But even in this case, the number of unique encodings is not always 260. it goes non-deterministically between 254 and 260.

- With very large values like 2048 and 40

[2020-02-21 13:02] breznak commented on #777
I'll try to see the example, but based on the above, this is likely expected behavior. If we figure how to detect and warn on an insufficient config, it'd be good. (Maybe just warn when size > 500?)

[2020-02-21 15:12] #774 closed

[2020-02-29 23:41] dkeeney opened #779 "boost download is failing"
For some reason, the boost download is now not working for the builds.
These are the macOS builds.

[2020-03-01 00:56] dkeeney commented on #779
I cannot download manually from the web site so this problem appears to be the vendor.
I will wait until Monday and see if it fixes itself.

[2020-03-01 17:05] dkeeney commented on #773
As I start to document this I realize that perhaps I don't have the resources defined quite right.
I think perhaps the hierarchy of resource should be something like this:
[code]

So the RISK key structure would be something like...
[code]

So, I think I should modify the server to match this.

[2020-03-02 16:51] breznak commented on #779
I'd just wait for it to be fixed. Alternatively, I can investigate the status of c++17 on xcode, so we could drop boost once for all.

[2020-03-02 16:53] breznak commented on #777
Have you been able to automate some of the check logic somehow?

Reclassifing as enhancement.

[2020-03-02 16:55] breznak commented on #773
@dkeeney sorry it takes me that long to review, I'm keeping an eye on the mails and PR but I didn't have time to do a proper review yet. Promise to do it during Tue, Wed.

[2020-03-02 20:58] dkeeney commented on #779
Boost download is now working.

[2020-03-02 20:58] #779 closed

[2020-03-02 21:06] dkeeney commented on #773
No problem.  I want to add more documentation anyway.

[2020-03-09 18:46] RDaneelOlivav opened #781 "ERROR: ERROR: Could not find a version that matches htm-core[examples]"
Hi,

When installing it through this command with pipenv:
pipenv install -i https://test.pypi.org/simple/ htm.core[examples]

It apperas this error:

ERROR: ERROR: Could not find a version that matches htm-core[examples]
No versions found

Is there some way to get rif of this error? Do we have to specify the version somewhere?
Thanks

[2020-03-09 21:41] dkeeney commented on #781
On Linux pypi is very picky.  The package for release 2.0.22 was built for Python 3.7.6 and Ubuntu 7.4 or later.  If you don't have a match I suggest downloading the sources from https://github.com/htm-community/htm.core/releases  htm_core-v2.0.22-linux64.tar.gz  and then do a full build.  It does not take very long. The instructions are in README.md

Sorry.

[2020-03-14 04:33] aamir-gmail opened #782 "How to encode large vector as input to SP and HTM"
I have a large feature vector (128, 300, 600 and 1200 D), is there a way to encode them using RSDE
for input to SP.

[2020-03-16 09:25] canepan commented on #734
The same happens to me with Python 3.7 or Python 3.6 (both on ARM).
The message is:

[2020-03-16 11:42] dizcza commented on #297
I wanted to ask a question and noticed this topic.
So there is no way in htm.core python bindings to reconstruct the input from SDR as in https://github.com/tehtechguy/mHTM/blob/master/src/region.py#L953?

[2020-03-16 12:57] ctrl-z-9000-times commented on #297
Hi dicza,

You can always access the synapse data and decode it, but it is not built into the library.  I think the best way to do these sorts of things is to train a classifier to translate from SDR to the input category.

[2020-03-16 15:01] dizcza commented on #297
@ctrl-z-9000-times could you please point to examples where SDRClassifier is trained to reconstruct input images?
I'm trying to adapt https://github.com/htm-community/htm.core/blob/master/py/htm/examples/mnist.py such that Classifier learns input images. But `classifier.infer()` always outputs an array of shape 2 instead of 784 after I've changed  the learning to `sdrc.learn(columns, enc.dense.fla

[2020-03-16 21:14] ctrl-z-9000-times commented on #297
The SDR classifier outputs a category, not an image.

[2020-03-17 14:50] breznak commented on #734
@canepan yours seems a different issue. This is about py3.8, you've confirmed on all py3, but on ARM. So you can move the discussion to a separate issue.
Btw, if the problem is in installing dependencies on ARM I'm not sure we'll support that. But you can have a look at our ARM builds that manage to install everything needed and build.

[2020-03-17 14:56] breznak commented on #781
you may also try without the `[examples]`, so
` pip install -i https://test.pypi.org/simple/ htm.core`
(and may manually install the dependencies for examples, if needed)

Closing, please reopen if you still have troubles.

[2020-03-17 14:56] #781 closed

[2020-03-17 14:59] breznak commented on #782
do you mean n-dimensional vector, or 1D with that many elements?
If 1D, and each element means a feature. Make a SDR for each element (and it's RDSE encoder). Then `concatenate()` the SDRs into one, feed it to SP.

[2020-03-17 19:19] breznak commented on #773
Fixed on #778 :champagne:

[2020-03-17 19:19] #773 closed

[2020-03-17 21:57] dkeeney opened #784 "Region name changes"
Change the names of the following regions.
RDSERegion --> RDSEEncoderRegion
ScalarSensor --> ScalarEncoderRegion
VectorFileEffector --> FileOutputRegion
VectorFileSensor --> FileInputRegion

While we are at it,
src/examples/hotgym has nothing to do with the python hotgym example so it should be called HelloSPTP. Then we should build C++ and NetworkAPI versions of the python hotgym example.

[2020-03-17 22:03] dkeeney commented on #784
I am starting a new PR for this issue.

I am starting to question if it is correct to change this:  RDSERegion --> RDSEEncoderRegion
The encoder is "RDSE" or "RandomDistributedScalarEncoder".
So should the region name be
- RDSERegion
- RDSEEncoderRegion
- RandomDistributedScalarEncoderRegion

Remember this is both the class name and the name that is entered as text in the configurations.

@breznak

[2020-03-17 22:07] dkeeney opened #785 "Python example for REST is not complete"
The REST example given for Python was not finished.
This is a placeholder to remind me that I need to go finish that...
Of course, if anyone else wants to take care of this, help your self.

[2020-03-17 22:35] aamir-gmail commented on #782
I have 128 elements (1D with many elements) vector as in [x1,x2,x3,............], currently, I am using TSNE dimensional reduction to 3 1D elements. s with many dimensional reductions techniques I am sure some of the original properties are last in this reduction. I want to get your opinion on the best way forward.

[2020-03-17 22:46] dkeeney commented on #784
Renames for the examples:
src/examples/hotgym  =>  src/examples/hello
src/examples/napi_sine => src/examples/napi_hello

hopefully we will eventually add
- Python version of hotgym   (we have this one)
- C++ version of hotgym.
- NetworkAPI version of hotgym
- REST version of hotgym

[2020-03-17 23:52] breznak commented on #784
I see your point (it's the same as LED diodes :) ),
- my idea was for input/encoder regions to show that in the name, thus `*EncoderRegion` (same as `*Encoder` for the encoder classes)
- I think the shorter RDSEEncoderRegion is fine (but not strong opinion if you dont like the duplicit E)

[2020-04-10 15:04] breznak commented on #782
You'll need to test this for your specific task. In general. HTM's SpatialPooler should perform well in that matter.
Please let us know your results, it'll be interesting.

[2020-04-10 15:05] #782 closed

[2020-04-10 15:15] breznak opened #788 "Gcc-10 build fails"
I'm testing build on Ubuntu 20.04 (soon to come LTS) with `gcc-10`.

`cmake` stage fails on `Release` :

[code]

interesting passes OK with `Debug`.

[2020-04-10 15:16] breznak commented on #788
CC @dkeeney if you have better idea where the err originates, I'm a bit confused by the message.

[2020-04-10 15:41] breznak commented on #788
Edit: gcc-10 is still experimental, ubuntu 20.04 comes with `gcc-9` as default which builds just fine. So we're good :+1:

[2020-04-10 15:47] dkeeney commented on #788
Welcome back @breznak
The merge static libraries is a script that combines static libraries into one library.
I will look at it and see if I can figure out what is going wrong.

[2020-04-10 15:52] breznak commented on #785
Fixed in #787

[2020-04-10 15:52] #785 closed

[2020-04-10 15:56] breznak commented on #788
OT: yep, I took a break, now full back IN. How are you doing?
Some of my on-plate now is to see (benefits) of the new compilers, gcc-9/10, and if we can switch to c++17 on all platforms. Then look at multithreading.
I'd also be interested in performance comparison (overhead) in "native c++" hotgym, (`hello`), NetworkAPI (`hello_napi`) and REST (`hello_rest`). What I'm (just unverified thought) thi

[2020-04-10 16:01] dkeeney commented on #788
I am doing fine.  I also slowed down a little while you were away.

Sounds good.

Hmmm, that would be a cool idea.

[2020-04-10 16:15] dkeeney commented on #788
[code]
It appears that it is not finding libyaml.a
This is one of those third-party libraries that we download and is build as part of the dependency processing.   If you have ubuntu 20 running, can you check `build/ThirdParty/libyaml/libyaml-build`.  There should be a log there someplace that explains why the library does not get built.

[2020-04-10 16:33] breznak commented on #788
I was checking for the `libyaml.a` and it exists ...
oh, turns out the binary was a remainer fron older gcc version build. I needed to `git clean -xdf` from the repo dir, and rebuild the dependencies again.
My mistake, sorry for the noice, David.

[2020-04-10 16:33] #788 closed

[2020-04-10 16:45] breznak commented on #788
Btw, gcc-10 works well too!

[2020-04-10 16:50] dkeeney commented on #788
Oh, glad that was all it was. 👍

[2020-04-13 16:35] steinroe opened #792 "Performance Comparison to nupic"
Hi everyone,

thanks for the great work on htm.core! I am doing some research on leveraging HTM for anomaly detection and I am wondering wether I should use htm.core or nupic. Is there any comparison in terms of performance?

@breznak You described some issues in [PR #15](https://github.com/htm-community/NAB/pull/15). What would you say - continue with htm.core or rather get nupic running? Its jus

[2020-04-13 17:26] dkeeney commented on #792
htm.core is a rework of NuPic so that it will work.  I think you will find that nearly everything you want to do with NuPic should be covered by htm.core.  NuPic on the otherhand is basically broken.

@breznak will have to address performance of htm.core but I expect it to be comparable (or perhaps even better) than NuPic.

[2020-04-13 17:44] breznak commented on #792
@steinroe glad for your interest!

 In terms of feature-fullness and active support, htm.core has now much surpased its parent, numenta's nupic(.core).

yes, this is an open problem. Theoretically htm.core should be better/or same/or slightly worse to Numenta's nupic. We did a couple of improvements as well as a couple of "regressions" in the name of biological plausibility. You could start by loo

[2020-04-14 03:53] aamir-gmail commented on #782
The way I have gone about doing this is available  in my GitHub repository

FYI  https://github.com/aamir-gmail/htm-vision-encoder

I have used TSNE  to reduce the dimensions of 128 D vector to 3  and 4th
dimension is the norm of the  128 D vector, so we have 4 inputs to SP
encoded VIA RDSE

Cheers

Aamir

On Sat, Apr 11, 2020 at 1:05 AM breznak <notifications@github.com> wrote:

--
Kind Regards

[2020-04-14 08:52] breznak commented on #782
thanks for the heads up, Aamir!

do you have a compirasion of tSNE (or other dimensionality reduction methods, PCA) to HTM's spatial-pooler?

Btw, for images, you could try a biological RetinaEncoder (as a working PR in this repo)

[2020-04-14 09:51] aamir-gmail commented on #782
Yes, I tried PCA as well as UMAP, however, TSNE worded best, please clone
the GitHub repo see for your self. However, the problem I faced with TSNE
is that it is slow and there is very much
an upper limit on TNSE on how much data can be encoded.

On Tue, Apr 14, 2020 at 6:52 PM breznak <notifications@github.com> wrote:

--
Kind Regards

Aamir Mirza

[2020-04-14 13:54] aamir-gmail commented on #782
Hi,

Along with TSNE, the 4th dimension is the norm ( magnitude ) of the 128 dim
original vectors. That is the one which makes all the difference, so the
final SDR as input to SP is,
6000 bits for the original 3D ( TSNE reduced ) vector plus 2000 bits for
the norm of the 128 bit.

Finally an SP with ( 8000,) and input at (8000,) bit SDR.

I was looking for an eye encoder I could not find in the ma

[2020-04-14 14:44] breznak commented on #782
you have a link with some examples on how to use it please let me know.

the retina encoder is here, in an almost working state.
https://github.com/htm-community/htm.core/pull/691

original vectors. That is the one which makes all the difference

thanks for these findings! If you're interested, we could include this as an image encoder in here.

actually, I was asking if you've compared tSNE (+SP)

[2020-04-15 13:30] aamir-gmail commented on #782
Hi,

I have not used the 128D  raw data on the advice received that this will be
too much for the SP to handle( Numenta discourse ) please see my original
post here
https://discourse.numenta.org/t/how-many-feature-can-be-concatenated-for-input-to-spatial-poler/7224/15
.

encoding one float32 to 1000 bit SDR would require 128000-bit input to SP.
If you think SP in HTM core could handle it I am will

[2020-04-15 18:09] steinroe commented on #792
@breznak and @dkeeney thanks for the quick replies!
I started by analysing the difference in the API and the respective parameters.

Regarding the Spatial Pooler, htm.core differentiates from nupic by three parameters: `localAreaDensity`, `potentialRadius` and `stimulusThreshold`. I tried some Bayesian Optimization to get an idea of what setting for these 3 might work well but only got a score of

[2020-04-15 22:42] breznak commented on #792
Very nice analysis @steinroe !! :+1:
Let me answer your ideas by parts.

first, let me correct my mistake, the file I wanted to point you to is `API_CHANGELOG.md`

About the API (and implementation differences):
From top of my head...
- our RDSE has slightly different representation (uses MurMur hash)
- our DateTimeEncoder fixes some bugs in the original
  - there are pure python implementations o

[2020-04-16 13:51] breznak commented on #792
@steinroe
I've added a "dataset" with only the artificial data, the results look rather good.

Update:
When running on only the artificial/synthetic labels, our results are quite good:
`python run.py -d htmcore --detect  --score --optimize --normalize --windowsFile labels/synthetic.json -n 8`

[code]

PS: also I'd suggest using the following branch, it has some nice prints and comments to it.
http

[2020-04-16 14:00] breznak commented on #792
CC @Zbysekz as the author of HTMpandaVis, do you think you could help us debugging the issue? I'd really appreciate that!

TL;DR: minor parameters and changes were surely done to htm.core. Compared to Numenta's Nupic, our results on NAB really suck now. I'm guessing it should be matter of incorrect params.

There look into the representations with the visualizer would be really helpful.
More info

[2020-04-16 14:42] steinroe commented on #792
@breznak Thanks for the detailed review!

Sorry, I forgot to mention that I turned that off for both detectors - HTMCore and Nupic.

I saw that right after I was done with my optimization. Going to try yours too very soon!

Thanks for the information on the parameters. I guess from your explanation this is very likely some parameters off. I will look into the default parameters of both to get comp

[2020-04-16 15:17] breznak commented on #792
I've confirmed that on the "nojump" data, the err still persists. HTMcore does not detect anything, numenta does have a peak.

This could be 2 things:
- low sensitivity (in params somewhere in encoder, SP, TM)
- or too quickly adapting TM (learns the flat curve too fast, so it does re-learn in the nojump region).

[2020-04-16 15:22] breznak commented on #792
This looks good! I might be interested for that for community/NAB to provide (old) numenta detectors. Numenta/NAB switched to docker for the old py2 support, and this seems a good way to interface that!

I'll try your repo, thanks :+1:

[2020-04-16 15:39] breznak commented on #792
I don't understand the plotters/summary code:
[code]
which gives
[code]

But according to the img and raw_anomaly, there should be only a few FP!
![htm_nab_nojump](https://user-images.githubusercontent.com/2166111/79476260-471e3380-7ff8-11ea-9c5f-b99521cc62d8.png)

Bottom line, is our community/NAB (scorer) correct?
We could just copy htmcore results into numenta/NAB and have them re-scored.

[2020-04-17 13:58] steinroe commented on #792
Sorry for the late reply. I am currently in progress of doing an in-depth comparison between the parameters and there are definitely some differences. You can find the table in the Readme here:
https://github.com/steinroe/htm.core-vs-nupic

While most differences could be easily resolved, I need your input on the params of the RDSE Encoder. While HTMCore does have size and sparsity, nupic has w, n

[2020-04-17 13:59] steinroe commented on #792
Nice analysis!! Sounds like a good idea to try that out. I will do that after I am done with the parameter comparison.

[2020-04-17 14:30] breznak commented on #792
That's a good idea to write such a comparison of params/API. I'd like the result to be published as a part of the repo here :+1:

I can help on those:
[code]
I'm not 100% sure about offset without looking, but it'd be used in resultion imho.

[2020-04-17 14:36] breznak commented on #792
RDSE:
- I think we could get the numenta's encoder running in py if needed. Either in history of this repo, or in the community/nupic.py repo with py3 port. Let me know if you think it'd help you and I can try to dig one up.
- in the numenta detector, you see a "cheat" I've complained about: RDSE should encode arbitrary range of numbers. Unlike ScalarEncoder which is simpler and is for limited ran

[2020-04-17 14:42] steinroe commented on #792
Thanks!

Let me try with the new parameter settings first. If that does not help, that might be another way to check wether its the encoder.

Yes I saw that and I am calculating the resolution for htmcore encoder the same way to have a fair comparison.

The second parameter that is new for htm.core is the `localAreaDensity`. Nupic also has that one but uses another param `numActiveColumnsPerInhAre

[2020-04-17 14:52] breznak commented on #792
I got the htmcore detector running with numenta/NAB.
- results are slightly different
- but still bad/ does not solve the issue.

...

[2020-04-17 14:53] steinroe commented on #792
I will create a PR once I am done :) Is the table format readable or should I rather make it textual?

[2020-04-17 14:56] breznak commented on #792
the table is good! Might decide to drop the unimportant ones (verbosity, name) for clarity. but that's just a detail.

[2020-04-17 15:03] breznak commented on #792
yes, I proposed the removal. The reasons were nice, but not crucial, and now I'm suspecting this could be a lead..

https://github.com/htm-community/htm.core/pull/549/

The motivation for `localAreaDensity` is HTM's presumption that layers produce output (SDR) with a relatively const sparsity. (+ just code cleanup).

One the other hand, "a 'strong' column's receptive field grows" is also a good bi

[2020-04-17 15:28] steinroe commented on #792
As the original sp also has localAreaDensity I would propose to first try out the original nupic detector with localAreaDensity instead of numActiveColumnsPerInhArea to see wether it has such an impact. I guess that would be faster than bringing it back.

[2020-04-17 15:33] steinroe commented on #792
Good News! Using the Numenta parameters with localAreaDensity of 0.1 I achieve a score of 49.9 on NAB. At least some improvement. Going to try out the swarm algorithm to optimise localAreaDensity now.

[code]

These are the params:
[code]

[2020-04-17 17:22] steinroe commented on #792
another thing that I wondered about:

In the detecor code there is a fixed param 999999999 defined when setting the infos for tm and sp. Shouldn't this be encodingWidth? Or is it the potentialRadius?

`self.tm_info = Metrics([self.tm.numberOfCells()], 999999999)`

[2020-04-17 19:02] breznak commented on #792
no, this is unimportant. the metric is only used of our info, does not affect the computation.
It's not related to "width"/number of bits, but rather a time/steps used of EMA in the metric

[2020-04-18 06:43] steinroe commented on #792
Alright, it seems to have a significant impact. Running the Numenta detectors with `localAreaDensity` of 0.1 instead of the `numActiveColumnsPerInhArea` results in basically the same results as with the htmcore detector.

The only question remaining is now if tuning `localAreaDensity` increases the score or if `numActiveColumnsPerInhArea` is superior in general. What do you propose how to proceed

[2020-04-18 10:04] m13953842591 opened #793 "can't install on linux"
here is my feedback:
https://discourse.numenta.org/t/cant-install-htm-core-on-linux/7443
thank you!

[2020-04-18 11:29] breznak commented on #793
Hi,
thanks for reporting!

The PyPI err is simple to fix but our pipy releases don't work reliably yet. So I'll start by the source build err.

I can't tell from the info provided.
- please clean the repo dir: run `git clean -xdf` from the repo root. (warning: will delete your all custom files if you made any in that repo)
- follow the build process
- what is the output of running `cmake`? Try fin

[2020-04-18 12:52] m13953842591 commented on #793
here is my [CMakeOutput.log](https://github.com/htm-community/htm.core/files/4496636/CMakeOutput.log)
might provide some help?

[2020-04-19 00:44] jpinezich commented on #793
I can't get that far.  I am on ubuntu-18.04.4-desktop-amd64.  I upgraded from to python3.7.5 and it complains about https://test.pypi.org/simple/hexy/

john@john-VirtualBox:~$ python -m pip install -i https://test.pypi.org/simple/ htm.core
Collecting htm.core
  Downloading https://test-files.pythonhosted.org/packages/26/d0/adff7d1cf6650d4806cfabb5451ee3f93e575116eaca5121afd7998c97c3/htm.core-2.0.1

[2020-04-19 08:37] steinroe commented on #792
Used Bayesian optimization, but nevertheless these are the results:
[code]

for the following params:
[code]

I created a PR htm-community/NAB/pull/25 for the updated params.

@breznak What would you suggest how to proceed from here?

[2020-04-19 10:10] breznak commented on #792
[code]

Wow, these are very nice results! I'm going to merge NAB.

Interestingly, this is what's claimed by the HTM theory (2%) as observed in the cortex.

compared to the Numenta results:
- this means we "beat" Numenta under the same conditions now, right?
- we have worse FP ratio (too many detections), should work on that.
- [ ] your Bayesian opt is multi-parametric? or just considering the sele

[2020-04-19 10:34] breznak commented on #793
the test.pypi URL is only for "test", seems the deps are not (all) published there. PLease try to install dependencies first:
- `pip install -r requirements.txt`
- and then follow with the pip install from test.pypi

[2020-04-19 10:40] breznak commented on #793
This is suspiciously brief. DOes it succeed, or fail? Please post the command you're running and the terminal output..I hope I could be able to help you

[code]

[2020-04-19 10:47] breznak opened #795 "Improved Conda install, dependencies"
@dkeeney I've recently been toying with our conda python install. Turns out I could be able to get most of the deps through conda (eigen, cereal, pybind11,..)

But our CMake would still try to install them from source. Would it be difficult to add a check "if exists, don't install from source"?
- I don't want to replace our cmake self-contained build. As it's really convenient and tested. Works fo

[2020-04-19 11:16] breznak commented on #792
I think we should review if NAB is conceptually correct (as the metric and methodology)!

See our current results (I made a tiny change to your recently updated params in NAB/fixing_anomaly branch)
![htmcore_nab_good](https://user-images.githubusercontent.com/2166111/79686261-9fd71180-822e-11ea-930d-b853b449cd1e.png)

That is almost perfect!
Yet in the plot:
[code]
- either just the Plot summary F

[2020-04-19 13:58] jpinezich commented on #793
After a lot of tries and messages including missing numpy and apt_pkg and other complaints i got some success with
**python -m pip install -r requirements.txt
python -m pip install -i https://test.pypi.org/simple/ htm.core**
Installing collected packages: htm.core
  **WARNING: The script htm-bindings-check is installed in '/home/john/.local/bin' which is not on PATH.**
  Consider adding this direc

[2020-04-19 14:20] breznak commented on #793
python -m pip install -i https://test.pypi.org/simple/ htm.core
...
Successfully installed htm.core-2.0.18

yes, congrats! This would be a successful install. :+1:

I'm not sure, standard ways to instrument pip to change install dir should be used.

Note that this version is a bit outdated, current is `2.1.x`. You're fine to start with the version you've installed, but use the source build to get

[2020-04-19 15:39] breznak commented on #792
Q: do we want to keep comparable params & scores. Or just aim for the best score? Or both, separately?

[2020-04-19 15:45] steinroe commented on #792
Yes, but they still win with `numActiveColumnsPerInhArea` set.

For this test I just optimised the localAreaDensity keeping the others constant but it can be multi parametric.

Alright, I will work on that. Do you have a feeling about which params may be important / optimizable?

Perfect, thanks for your work!

The "problem" is that your framework calls the optimization function in parallel, so my

[2020-04-19 16:01] breznak commented on #792
ok, I'll be able to do that. I got stuck today playing with the params.

great. Good if you can try adding more params (below for hints on which). The parameter space is with many local optima.

[sorry, I'll need to do some other work done, brb in cca 2-3hrs]

Just quickly:
- if we go for "best params / scores" :+1:
- gut: input size should be > SP size (say 1-10x, not smaller as is now)
- I think

[2020-04-19 16:33] steinroe commented on #792
Alright, I will work on that.

I would say reintroducing the numActiveColumns as (1) the multi param optimisation can right now also be done with other tools such as the bayesian optimisation and (2) I could also have a look into getting the swarm optimisation to run with NAB. Does that work for you?

[2020-04-19 17:05] breznak commented on #792
I'll do that tonight.

That would be great. Ideally if NAB can run with the current opt framework. The requirement is that "NAB" can be run as a single method (que opt's requirements) and returns a  score.

[2020-04-19 20:08] dkeeney commented on #795
Yes I was thinking about that.
It will take some research to figure out how to 'test' before 'installing' using cmake.

Let me first finish setting up my Ubuntu 18.4 environment so I can make sure that still builds.

[2020-04-19 20:19] breznak commented on #795
Something like cmake's `find_package` with conda env:
https://stackoverflow.com/questions/55934253/make-cmakes-find-packageboost-find-headers-inside-conda-environment

This is not urgent, but would be great if you could look into. As I hope we'll figure parameter optimization for NAB (#792 ) and then I'll abuse some of the university clusters for heavy computing ;)

[2020-04-20 01:32] m13953842591 commented on #793
the command I was running is simply
[code]
and the command output is
[command_out.txt](https://github.com/htm-community/htm.core/files/4500755/command_out.txt)

[2020-04-20 10:01] breznak commented on #792
@steinroe you can now use branch `sp_reintroduce_numActiveColumnsPerInhArea`  #797 for comparison with the (re-)new param.

I'll try to stir again the waters in Forums on the topic if one is better than the other(?).
I will have a look at param opt for NAB, because only than we can compare the params "by performance".

[2020-04-20 10:18] steinroe commented on #792
@breznak thanks for your work!

I am almost done with enabling swarm param opt with NAB. I just need 2 more hours.

[2020-04-20 10:20] breznak commented on #792
awesome! take your time.

Further on this front we have in progress #796 for easily running on clusters.

[2020-04-20 11:44] breznak commented on #792
ok, if you can enable the param optimization for NAB, I'll now be able to start looking into "smart params" #536 aka
- reduce number of user-required params (compute as much as possible automatically)
- check for incompatible or suboptimal combinations and fail early

[2020-04-20 12:22] steinroe commented on #792
Okay this is what I got regarding param optimisation on NAB:

### Idea and Setup
My goal was to not touch the nab codebase at all. Instead, I did a minor change to the htmcore detector (same can be done for any detector) where I read the params from a json file and set the bool params to True (as e.g. the swarm algorithm cannot deal with bool). You can see it in this branch: https://github.com/ste

[2020-04-20 14:00] jpinezich commented on #793
This is exactly the problem I have been having.  The issue is here in bold below, where it is trying to extract from a folder named 'cmake', but its just a folder, it can only extract from a library, like it is from libyaml.a on the line before.  I think there is something wrong in the call to a boost helper function b2 which is in the htm.core/build/ThirdParty/boost/Boost_download-src directory.

[2020-04-20 14:49] breznak commented on #793
oh, I missed one detail: you're both building with boost needed. All of our CI currently use c++17 capable compilers so this isn't as thouroughly tested.

- will be great if you manage to figure it out and we'll fix it here
- or if you "just make it run (tm)", then I'd suggest a) use gcc>=8 from a PPA, b) use `conda` and install gcc>=8.3

[2020-04-20 15:10] steinroe commented on #792
FYI: Running on my MacBook (with limited resources) I am at a max score of 60.907:

[code]

[2020-04-20 15:19] breznak commented on #792
Great work on the optimization! I'm going through it and will be trying it later.

A couple of questions, remarks

do we need that? We can run `htmcore` detector on community/NAB as well as numenta/NAB.

this seems smart, a least intruding solution.

Later on, I'd like to achieve the following
- merge your Bayes optimizer into the existing `htm.optimization` "framework" (currently has PSO, BruteFo

[2020-04-20 15:30] steinroe commented on #792
The whole point of using docker is that NAB heavily depends on using the file system, e.g. for writing out the results. The optimization framework runs multiple scorings in parallel, so we would have conflicting results when running on our host system. With docker, we are able to prevent that. Or am I misinterpreting your question somehow?

I can have a look into that 👍

I guess so, as it works wi

[2020-04-20 15:56] steinroe commented on #792
About integrating Bayesian Opt into your optimization framework: I think the main challenge is that  Bayes Opt requires bounds to be set while PSO as well as GridSearch only require a "starting point". I think such a change would require a change in the framework itself to be able to add bounds instead of the default_parameter dict that is currently used.

[2020-04-20 16:50] breznak commented on #792
I like this, this is a really nice trick to get it done with NAB.

good, bcs I thought it didn't run in parallel. We could do something like writing to `/tmp/$PID/results.json` but this already works good enough, so :+1:

great. I was thinking you're developing from scatch. It's better that you could be using our existing tools!

even better! this looks really convenient.

I'll try working on cons

[2020-04-20 18:04] dkeeney commented on #793
To address the problem of a source build for an environment which does require Boost, see PR #798
What happened was that our build was no longer finding the boost libraries due to a change in the boost release.

I also want to change our build to check to see if boost is installed locally before downloading and building boost.  However, the downloading occurs at configure time and the find_package

[2020-04-20 20:09] breznak commented on #793
Guys, please let us know if David's fix resolves the problem for you. It should.

[2020-04-20 20:10] breznak commented on #795
relevant snip

[2020-04-21 01:16] m13953842591 commented on #793
Unfortunately, It didn't. Here is my command output. I was using gcc-6
[code]

[2020-04-21 07:17] breznak commented on #793
constexpr Permanence getConnectedThreshold() const noexcept { return connectedThreshold_; }

This is a bug in gcc (that is fixed in later versions)
https://stackoverflow.com/questions/36489369/constexpr-non-static-member-function-with-non-constexpr-constructor-gcc-clang-d

On the other hand, constexpr is not exactly needed in this context. Can you make a PR that changes `constexpr Permanence ...`

[2020-04-21 09:32] m13953842591 commented on #793
Great, I've finally installed it. So happy!

[2020-04-21 09:50] steinroe commented on #792
We would probably still get interferences when the detector reads the params file. I think locking the parallel runs of NAB into a container is the cleanest and safest method. The only downside is probably performance, as we have to give docker host a fair share of our host resources.

Bayesian Optimization does that automatically by randomly choosing some parameters in the beginning and from time

[2020-04-21 10:04] breznak commented on #792
ok, I agree. We need to get there with minimal manhours, so this works as intended.

interesting. nice if we can "hint" to try these datapoints.

maybe not necessarily DockerHub, but a docker file in the repo (NAB) would be great :+1:

htmcore is already dependency of (our) NAB, so that's no problem.
My (optimal) idea was a script/dockerfile that the user can run (modify which params should be pro

[2020-04-21 10:10] steinroe commented on #792
Sounds good to me! Do we want to enable optimisation on NAB in general or only for htmcore?

[2020-04-21 10:18] breznak commented on #792
I'd say minimal changes first - we need to solve topic of this issue. So just HTMcore for now.

Because I'm still unsure how to proceed with
https://github.com/htm-community/NAB/issues/21

- numenta/NAB is now (finally) py3 compatible
- their numenta detectors already run in Docker
- it's "the official" repo

but
- our code offers same or better functionality (but the diff is now quite large due t

[2020-04-21 11:20] steinroe commented on #792
Alright, I will update the optimisation PR with a proposal on how to make it as user friendly as possible.

[2020-04-21 11:26] Zbysekz commented on #792
Hello, sorry for the delay.
Would it help, if i modify
[HTMdetector](https://github.com/steinroe/htm.core-vs-nupic/blob/master/detectors/HTMCoreDetector.py) in steinroe repo to use PandaVis and see particular steps live ?

I am not sure if that is the script that you guys are using to run it.

[2020-04-21 11:30] m13953842591 commented on #793
Great! I've finally installed it!

[code]
Thanks to all my friends who help me！

[2020-04-21 11:37] breznak commented on #793
I'm glad it works for you! Enjoy HTM!

I'm closing this issue, if someone else has a problem, please reopen or submit a new one.

[2020-04-21 11:37] #793 closed

[2020-04-21 11:41] breznak commented on #792
hi Zbysekz!

that'd be great step!
Actually we're merging and currently we run `community/NAB`. The file is in `nab/detectors/htmcore/htmcore_detector.py`

[2020-04-21 21:47] jpinezich commented on #793
I was able to get the C++ build installed

cd path-to-repository
mkdir -p build/scripts
cd build/scripts
cmake ../..
make -j install

but i had to use "make install" because my VM locked up.

But now the python build is failing, looking for Python.h

<pre>[ 43%] <font color="#4E9A06">Building CXX object bindings/py/cpp_src/CMakeFiles/sdr.dir/bindings/sdr/sdr_module.cpp.o</font>
In file included fr

[2020-04-21 23:07] dkeeney commented on #793
Well, not sure this is the problem, but if you start cmake that way it does not build the python interface for the library.  That is the intended procedure if you are using the htm.core library for an C++ only application (i.e. no python).

So, what I suggest is starting over with the build.
1) python --version
    check the version for python.  Should be 3.4 or greater
    The library that is bui

[2020-04-22 14:23] jpinezich commented on #793
1. python --version
   check the version for python. Should be 3.4 or greater
      - 3.7.7
   2. The library that is built will be specific to that version of Python.
   3. Make sure you have at least gcc-7 as your default compiler. gcc-8
   would be better if your OS version can use it.
      - gcc (Ubuntu 8.4.0-1ubuntu1~18.04) 8.4.0
   4. cd
   5. rm -r build
   delete the entire 'build' folder

[2020-04-22 14:26] jpinezich commented on #793
[ 45%] Linking CXX executable rest_server
/usr/bin/c++  -O3 -DNDEBUG   CMakeFiles/rest_server.dir/examples/rest/server.cpp.o  -o rest_server  -m64 -Wl,--no-undefined -O3 -flto -fno-fat-lto-objects libhtm_core.a -lpthread -ldl
**[ 46%] Building CXX object bindings/py/cpp_src/CMakeFiles/sdr.dir/bindings/sdr/sdr_module.cpp.o
In file included from /home/john/second_try_for_htmcore/htm.core/bindings/py

[2020-04-22 14:36] breznak commented on #793
#include <Python.h>

your system is unable to link to the python library. Can you post the relevant output of cmake which mentions the Python found/not found?

[2020-04-22 14:41] jpinezich commented on #793
The only place i can find Python.h is
**/usr/include/python3.6m/Python.h**

Here you can see I have a lot of different pythons installed, but I am pointing to python3.7
<pre><font color="#8AE234"><b>john@john-VirtualBox</b></font>:<font color="#729FCF"><b>~</b></font>$ ll /usr/bin/pyth*
lrwxrwxrwx 1 root root      16 Apr 18 19:59 <font color="#34E2E2"><b>/usr/bin/python</b></font> -&gt; <font colo

[2020-04-22 14:47] jpinezich commented on #793
Can you post the relevant output of cmake which mentions the Python found/not found?
- what file is this in?

[2020-04-22 14:52] breznak commented on #793
/usr/include/python3.6m/Python.h

then you don't have python 3.7 correctly set up.
I suggest you either use python 3.6 for htmcore, or fix your python installs properly.

[2020-04-22 16:21] jpinezich commented on #793
I'm going to give this another try tonight from scratch with a clean VM install.  None of the pythons 3.6, 3.7, 3.8 work.  I installed 3.7 and 3.8 using deadsnakes, which might be the problem.  I'll try a direct install from the python org.

[2020-04-22 16:40] breznak commented on #793
If you're reinstalling a VM, I strongly suggest choosing Ubuntu 18.04 if you can, and the process should be smooth!

[2020-04-23 14:41] breznak commented on #59
@dkeeney I've now noticed eg `Random` contains `operator<<` used as a serialization method, as well as tests for it.
Have we fully switched to Cereal and its `save/load , *_ar` "API", and the `<<` can be removed?

I'm trying to simplify the codebase as I'm debugging the random seed in SP.

[2020-04-23 15:32] dkeeney commented on #59
Sure, you can remove << from Random.

[2020-04-23 16:24] Zbysekz commented on #792
Ok [in this PR](https://github.com/htm-community/NAB/pull/33) is the modified htm core detector.
Don't know if this is the best setup, at the end of the script is csv loading, so here specify what from data folder you want to load.

[2020-04-23 18:46] Zbysekz commented on #792
About the jupyter notebook "Plot Result - numenta.ipynb"

As you guys, i also don't get the FP/TP... score. It is something written by https://github.com/pasindubawantha
I tried to understand the Standard score, but just from the code it is not easy at all. There is  ["Sweeper" ](https://github.com/htm-community/NAB/blob/master/nab/sweeper.py), which is also used by optimizer - it searches for bes

[2020-04-23 19:34] breznak commented on #792
true that, the code seems really hacky, and as you say, the scores are there already. Off with it.
Btw, once this is more or less done, I'll want to go stricter on the NAB paper and its methodology and implementation. Some ground-truth data seem weird to me: https://github.com/htm-community/htm.core/issues/792#issuecomment-616107054

[2020-04-23 19:35] breznak commented on #792
I'm really happy how this comes together, fixes, research, optimization, visualization,... Thanks a lot guys!! :champagne:

[2020-04-23 20:36] Zbysekz commented on #792
For the third point of https://github.com/htm-community/htm.core/issues/792#issuecomment-616107054

I agree, the expected anomaly window (aka label) have wrong values.
We can change this simply here NAB/labels/synthetic.json; each data serie has its pair "start" and "end" of this window. It's just values given by user if i am not wrong.

[2020-04-24 04:22] steinroe commented on #792
NAB has some probationary period which is used by the anomaly likelihood. It basically returns a score of 0.5 as long as this probationary period is over. Is that what you mean?

[2020-04-24 07:05] breznak commented on #792
We can change this simply here NAB/labels/synthetic.json; each data serie has its pair "start" and "end" of this window. It's just values given by user if i am not wrong.

We'll have to do it manually. First, we should see if it's a concern for other datasets (realWorld anomalies etc) and/or if we can distinguish a "proper window".
Next,
- do we reannotate it just by hand?
- or develop/find some a

[2020-04-24 07:10] breznak commented on #792
as Phillip says, anomaly is set to some predefined value (0.5) for the `probatoryPeriod` (10% most cases).
The thing is if the Scorer (Sweeper, whatever) takes that into account and
- that period is basically ignored from the anomaly score computation?
- atleast there mustn't be any anomaly windows there.

But to be fair, this might not be such an issue:
- it's fair to all detectors.
- surely you

[2020-04-24 09:54] Zbysekz commented on #792
The probationary percent starts in runner.py as hardcoded parameter of value 0.15.
Then its handed over to the scorer and finally to the sweeper. Sweeper ignores the data according to that.
there is:
[code]

Where is that weird constant 5000. Probably due to limit calculation...
But it seems that it takes it to account.. so fine.
We have two propationary percent parameters, one in runner.py and on

[2020-04-24 10:27] breznak commented on #792
thanks for pointing to the code in question.

it shouldn't be. The one in detector is basically cosmetic. It switches when we think anomaly scores start to make sense. We should set it to the 15% in NAB.

@steinroe I recall in some example you use that "probatory period" as a param to be optimized. Baisically that should be unimportant, and could be removed from (optimized) params.

Off-Topic: @Zb

[2020-04-29 15:02] steinroe commented on #792
Hi everyone,

sorry for my inactivity. I had / have to work on other stuff to get going with my thesis.

What are the open tasks at the moment?

[2020-04-30 09:07] breznak commented on #792
@steinroe no problem,

- [x] @Zbysekz just now merged the visualization for the htmcore detector. I think this can be pretty useful for us for insight into the detector, and as well as for you for cool images for your thesis :+1:
- [x] merged is your code for param optimization
- [ ] still WIP is figuring/tuning the params
  - [x] AFAIK, "with same conditions as Numenta" (=fake spatial anomaly, nu

[2020-05-20 09:13] steinroe opened #802 "pip version"
Hi,

can we get the current version to pip? We are at 2.1.0 and the latest version on pip is 2.0.18.

Best
Philipp

[2020-05-20 13:56] dkeeney commented on #802
I am trying to figure out which version you are referring to.  I must be missing something.

The latest version of pip is 20.1.1   see https://pypi.org/project/pip/

htm.core is asking for anything greater than or equal to 19.3.1 see https://github.com/htm-community/htm.core/blob/master/requirements.txt

[2020-05-20 14:34] breznak commented on #802
No, it’s us 🙂the htmcore version on pypi

--
Marek Otahal :o)

[2020-05-20 15:29] dkeeney commented on #802
Oh, you mean the htm.core version in PyPi.  I  got it.

@breznak, can you handle this one?

[2020-05-22 12:43] steinroe commented on #802
Thanks! Would be great bc I dont want to install cmake on a workstation and need the current version to run my stuff.

[2020-05-23 09:52] breznak commented on #802
sorry, I'll try to look at it over the weekend. The reelease & pipy logic isn't automated yet. Maybe we should push only the linux pips, if that works?

as a workaround, one might install cmake from pip/conda: https://pypi.org/project/cmake/

[2020-06-01 13:41] breznak commented on #734
Bump, we're still not py3.8 ready. Since it's the default python on ubuntu 20.04 LTS, we should look at it soon.

[2020-06-01 18:00] SebastianEd opened #817 "What is the parmeter externalPredictiveInputs for?"
Hello.

Currently I'm struggling with the parameter externalPredictiveInputs. I do not fully understand how it works and what it's there for. I tried to link two different TMs using the parameter, but it did not result in changing any learning behaviour, even though it connected some synapses.
Maybe you can explain the reason of existence for the parameter and tell me how to work with it properly.

[2020-06-01 18:36] breznak commented on #817
Hi @SebastianEd , can you show an example of what does not work for you?

You're right, this lets the TM to learn (link synapses) with output from "another region" which is out of scope of this TM. Another TM or some other input are good candidates.

[code]

yes, that sounds like a good usecase to me.

It's hard to say what the problem is. It seems some new synapses are connected, so this would wo

[2020-06-01 19:16] SebastianEd commented on #817
At first I should probably say that I am working on a scientific paper for my university, which analyses the parameters of the htm.core implementation. So I'll be glad for ANY information and help :)

So for my test, I try to keep the parameters and values as low as possible to more easily understand
what's happening. I chose a SDR with the size of 64 bits.

I've got two arrays with different data

[2020-06-01 19:39] breznak commented on #817
glad to hear! :+1: Be sure to read/check our tries with NAB wrt params: #205

    UInt sensor_data[8] = { 2, 2, 2, 2, 3, 3, 3, 3 };
    UInt sensor_data_two[8] = { 1, 2, 3, 2, 5, 6, 7, 8 };

just checking, are you sure what you're doing and you specificaly want to use `externalPredictiveInputs` ?
As a) that area is not that well researched/implemented, b) for "evaluating impact of params on HTM" t

[2020-06-01 21:15] SebastianEd commented on #817
I've already had a look at NAB and the Anomaly Liklehood, but am not finished, yet. :)

I've already evaluated the impact of the remaining parameters (except the anomaly mode. But I'm also working on that). So for completeness of my research I'd like to describe the externalPredictiveInputs, as well.

I did not know that the 2 sequences must be learned in one single TM. Maybe you can explain that

[2020-06-01 21:57] breznak commented on #817
It'd be great if you could share the results, or atleast methodology with us, as the params are, unfortunately, interweaved, so it's rather difficult to evaluate impact (practical/theoretical) of each (or pairs).

no, it means a single TM must (be able to) learn 2 sequences (obviously). Do put a single sequence in each TM if you know what you're doing.

it is to include external sensory data/TM to

[2020-06-02 10:50] #802 closed

[2020-06-02 10:55] breznak commented on #802
@steinroe please test, this should be now :heavy_check_mark:

[2020-06-02 11:27] breznak commented on #795
I'm wondering if I should work on this further.
PROs: simpler dependency management (our goal is not to support the install infrastructure)
CONs: dependant on `conda` -> limited platforms?. We(you) already have done the hard work and the cmake/setup dependencies works fine.

[2020-06-02 11:52] breznak commented on #698
Closing, cmake added to pip requirements.

[2020-06-02 11:52] #698 closed

[2020-06-02 11:54] breznak commented on #539
We now have automated GH & PyPI releases
https://github.com/htm-community/htm.core/releases/tag/v2.1.15
https://test.pypi.org/project/htm.core/

Closing the PyPI related issues with #819

[2020-06-02 11:54] #539 closed

[2020-06-02 11:55] breznak commented on #227
Closing, we're now using `numpy 1.18.x`

[2020-06-02 11:55] #227 closed

[2020-06-02 11:56] breznak commented on #792
FYI: We now have working pipy releases, https://github.com/htm-community/htm.core/releases/tag/v2.1.15

Is there any progress on the NAB results? @steinroe

[2020-06-02 11:59] breznak commented on #325
doxygen done in #803 , thanks @johanwiden :+1:

[2020-06-02 11:59] #325 closed

[2020-06-02 12:01] breznak commented on #216
Closing as the further merge likely won't happen, as we have extended python bindings that provide same (or more) functionality than the `nupic.py`.
Closing, please reopen if you feel some more work is to be done here.

[2020-06-02 12:01] #216 closed

[2020-06-02 12:01] #368 closed

[2020-06-02 12:02] breznak commented on #177
Are there still some py, bindings tests that are TBD?

[2020-06-02 12:10] breznak commented on #263
our `groupBy.hpp` is already rather tiny, closing this.

[2020-06-02 12:10] #263 closed

[2020-06-02 12:12] #166 closed

[2020-06-02 12:15] breznak commented on #154
TM is already using Connections. And Connections have now more sofisticated versions of Synapse,Segment, ... (still not a class, but SynapseData structure with constructor etc)

[2020-06-02 12:15] #154 closed

[2020-06-02 12:16] breznak commented on #161
Linking to Optimization #3

[2020-06-02 12:17] breznak commented on #189
I think this has been resolved (?)

[2020-06-02 12:17] #189 closed

[2020-06-02 12:19] breznak commented on #241
Bump since we now use `cibuildwheel` CIBW to automatically build wheels on `manylinux2014` image.
There are still some bugs in 32bit `i686` code, but this is feasible.

[2020-06-02 12:19] breznak commented on #241
@paulscode our CI build is now much better, will you have time to investigate this?

[2020-06-02 12:20] breznak commented on #193
I have recently fixed some bugs in SP serialization, likely fixing this. Closing, please reopen if still valid.

[2020-06-02 12:20] #193 closed

[2020-06-02 12:21] #260 closed

[2020-06-02 12:23] breznak commented on #309
This has been done by @dkeeney :+1:

[2020-06-02 12:23] #309 closed

[2020-06-02 12:26] breznak commented on #436
We do (maybe) support anaconda python and cmake is a part of pip dependencies.

[2020-06-02 12:26] #436 closed

[2020-06-02 12:28] breznak commented on #459
probably not, OPF was deprecated by numenta. We already have swarming, NAB etc running with the new htm.core codebase.

[2020-06-02 12:28] #459 closed

[2020-06-02 12:31] breznak commented on #194
ARM platform on `muslC` is not "deterministic.
TODO:
- [ ] predictor
- [ ] classifier ...add to HelloSPTP example cpp

[2020-06-02 12:37] breznak commented on #429
@dkeeney do you think we should add the `operator>>` functionality, or we have the serialization (to human readable format) which does the same?

[2020-06-02 12:39] breznak commented on #515
we have now workflow `arm.yml` which is esentially a long-running task being scheduled nightly.

[2020-06-02 12:40] #521 closed

[2020-06-02 12:44] breznak commented on #550
Related #463

[2020-06-02 12:45] breznak commented on #460
We have `napi_hello` example which does that :+1:

[2020-06-02 12:45] #460 closed

[2020-06-02 12:45] #595 closed

[2020-06-02 12:46] breznak commented on #634
@brev up to a game? We should revisit the SimHash and vision domain.

[2020-06-02 12:48] breznak commented on #637
It seems the generic encode region is not feasible, closing as Wontfix. Please reopen if you think otherwise.

[2020-06-02 12:48] #637 closed

[2020-06-02 12:52] #700 closed

[2020-06-02 12:54] breznak commented on #704
@dkeeney when you have time, would you like looking at this issue?

[2020-06-02 12:56] breznak commented on #668
@fcr do you still need this functionality? Do you have some updates on what/how should be done from your experience?

[2020-06-02 12:58] breznak commented on #59
All classes now should use only `Serializable` API for serialization

[2020-06-02 12:58] #59 closed

[2020-06-02 13:48] fcr commented on #668
@breznak I need this functionality to implement `growSynapses` and `growSynapsesToSample` which was originally provided by `nupic.core`.
If there was a direct port of `growSynapses` and `growSynapsesToSample` from `nupic.core.src.nupic.math.SparseMatrixConnections` then I would not explicitly need the presynaptic cells query functionality.
`growSynapses` and `growSynapsesToSample` are very, very h

[2020-06-02 14:00] breznak commented on #668
sounds this might be the proper solution (?)
Could you please link me the sources of the 2 methods?

[2020-06-02 14:18] fcr commented on #668
The nupic.core original code is in https://github.com/numenta/nupic.core/blob/master/src/nupic/math/SparseMatrixConnections.cpp
My Python 3 port of these methods is in: https://github.com/htm-community/htm.core/blob/master/py/htm/advanced/algorithms/connections.py.
Is that what you are asking?

[2020-06-02 14:25] breznak commented on #668
yes, I wasn't sure where the `growSynapses()` comes form:
https://github.com/htm-community/htm.core/blob/master/py/htm/advanced/algorithms/connections.py#L99

[2020-06-02 15:33] dkeeney commented on #429
I think we are covered.

[2020-06-02 15:39] breznak commented on #429
..so closing (?)

[2020-06-02 15:39] #429 closed

[2020-06-02 15:43] dkeeney commented on #704
@breznak  There seems to be more than one issue here.  The title talks about py bindings for BaseEncoder.  The text is talking about a plot package for C++.  I assume we need both.

[2020-06-02 15:48] breznak commented on #704
I'd keep this issue for py bindings for BaseEncoder.

plot tool (region?) might be useful, but we should check with exiting tools, ie with HTMPandaVis from @Zbysekz etc.. but let's keep that for a separate issue -> #748

[2020-06-02 16:05] dkeeney commented on #704
Ok, I will see what I can do for a binding for the BaseEncoder.

[2020-06-02 18:09] breznak commented on #745
Just an update: I've added TM test that runs this benchmark and "checks" for reasonable performance.

Some notes:
- py bindings TM speed: ~30ms/it (per 1000 iters, 9000 input/output size, default TM params)

- so python bindings are roughly 1.5x slower (in this case)

For large number of steps (iters) the speed decreases. So there is still that problem? Needs to be said that this scenario is somew

[2020-06-02 18:58] breznak opened #823 "TM slow down after many iterations"
followup to #745

At least with random input, average time per iteration (ms/iter) slows down after many steps of running a TM.
Some is expected due to book-keeping and cleaning, but should not be large. This is an antient issue reported for TP.
Is that the same for "meaningful" sequential inputs (ie not random)?

[2020-06-02 19:58] #784 closed

[2020-06-02 19:58] #761 closed

[2020-06-02 20:03] dkeeney commented on #112
We are going to leave this as-is.

[2020-06-02 20:03] #112 closed

[2020-06-02 20:17] dkeeney commented on #704
The BaseEncoder class has no code.  It is basically a template to force C++ sub classes to have serialization, dimensions, a reset() function, and an encode( ) function.  I don't know how to force Python code to do that since it does not have virtual functions like those in C++.

@breznak do you have any ideas?

[2020-06-02 20:52] breznak commented on #704
I think you can do
[code]
or there's ABCMeta
https://docs.python.org/2/library/abc.html

But I don;t know not to overcomplicate too much?
https://stackoverflow.com/questions/4714136/how-to-implement-virtual-methods-in-python

[2020-06-02 21:26] dkeeney commented on #704
Yes, but that would not be written in C++ as a binding but rather as pure Python.
I will try to put something for this in py/htm/encoders/BaseEncoder.py

[2020-06-03 06:01] Zbysekz commented on #748
Currently, i am working on revamp of the HTMpanda interface. Now it works through TCP sockets. But we got stuck with some execution order problems, and also execution speed is not so good for larger projects. So i decided to change this.
Basically, any script will feed data into SQLite3 database to defined table structure. (very simple)
I call this "baking".
Then HTMpandaVis can read this afterwar

[2020-06-03 08:50] breznak commented on #748
so there are 2 stages?
1. record (baking)
2. replay offline? (for that you don't need a HTM, so one could just share the recorded "image", and others can play,analyze it? :+1: :+1: )

We have serialization for Connections, can you just use that? Or it stores too much data and you need to be storage-savvy?
  - bonus would be that you don't need to serialize the internals manually, just call `connec

[2020-06-03 11:58] breznak commented on #748
Repost the API draft:
https://github.com/htm-community/NAB/pull/36#issuecomment-638144606

[2020-06-03 12:15] Zbysekz commented on #748
Yes exactly. Separated from htm.core code completely. The SQLite3 database has file with *.db extension.

If i use the `connections.save()` it will save all permanences for every cell right? If i calculate correctly, for Hotgym with these parameters:
_'columnCount': 1638, 'cellsPerColumn': 13,'maxSegmentsPerCell': 128, 'maxSynapsesPerSegment': 64_
it is something about **172M permanence values ->

[2020-06-03 12:48] breznak commented on #748
'columnCount': 1638, 'cellsPerColumn': 13,[...]
it is something about 172M permanence values -> 5,5GiB for float32 datatype considering

yes, but it's a bit smart. Stores only sparse synapses, also in binary format (possibly can even compress?).

So, I quick test: `TM(2048cols, 32 cells per col)`, ran a couple of iterations of randomized SDR. `tm.saveToFile("/tmp/tm.dump")` results in ~1MB. Which

[2020-06-03 13:04] SebastianEd commented on #817
Thank you very much. Your high-level exmaple helped me a lot to validate my understanding about the parameter. For this I made the following test (I don't use the SP, because I only want to analyse the TM):

I've got two TMs, labeld as TM-1 and TM-2, with the following parameters:

[code]
The only difference between TM-1 and TM-2 is, that TM-1s externalPredictiveInputs is 0, because it does not ge

[2020-06-03 21:22] #745 closed

[2020-06-04 09:16] indy-3rdman opened #828 "REST API question"
I am currently working on a small sample project to demonstrate how the REST API can be consumed in C#.
However, there are two things I have come across that I would appreciate clarification on.

## SDR dimensions
Looking at the server log below, the dimensions for predictiveCells seems to be different from the dimensions of activeCells and predictedActiveCells (cell order vs row order).
Is this o

[2020-06-04 09:32] breznak commented on #828
cool! That's something @dkeeney would like :champagne:

this seems like a mistake in the API to me. Please commit a fix if you can, or we'll wait for David.

[2020-06-04 13:48] dkeeney commented on #828
Yes this is intensional.
The activeCells and predictedActiveCells outputs are always cells (rather than columns).
The bottomUpOutput, and predictiveCells outputs are columns if orColumnOutputs argument is true, otherwise they are cells.

@breznak I think this is what was decided on.  Is this correct.

I only partly finished this....good catch.  I will finish this.

[2020-06-04 14:01] breznak commented on #828
yes, that's correct. but imho the "problem" is about why the two return sdr size `(8,2)` while

returns `sdr (2,8)`

Couldn't the dimensions order be the same?

[2020-06-04 15:16] dkeeney commented on #828
I will take the REST DELETE command as a separate PR.

[2020-06-04 17:50] ghantasalar opened #829 "unable to install htm.core from pip"
am using Python3 and tried to  installing htm.core ( v2.1.15 release).
As advised [here ](https://test.pypi.org/project/htm.core/) I tried the following command:

pip install -i https://test.pypi.org/simple/ htm.core

and ended up with the below error. Highly frustrating…please help.

RXG3200@C91194BB54C955 ~
$ pip install -i https://test.pypi.org/simple/ htm.core
Looking in indexes: https://test.

[2020-06-04 19:43] dkeeney commented on #829
@breznak are we still on the test PyPi?

[2020-06-04 19:55] breznak commented on #829
@ghantasalar probably your system doesn't match the (limited) requirements for our pypi installs.
What's your platform, bitness, python version, pip version...?

You can try downloading the `.whl` from our Releases page (tab here) and install with pip from it.

Currently, if you're on 64bit linux, python 3.7, x86 platform and any reasonably recent distro, you should be good to go.

If not, try our

[2020-06-04 22:53] dkeeney commented on #828
#830 takes care of the DELETE operator part of this Issue.

[2020-06-07 14:04] indy-3rdman commented on #828
Thank you very much @dkeeney for taking care of this!
I've just uploaded the first C# examples to [https://github.com/indy-3rdman/htm.core-csharp-rest-examples](https://github.com/indy-3rdman/htm.core-csharp-rest-examples)

[2020-06-07 16:19] ghantasalar commented on #829
Thanks for the responses.

@breznak  Unfortunately, I could not locate the .whl on the Releases (you did try to include the hyperlink but it is missing the underlying link).

As I am new to HTM, would like to focus my energy in learning about HTM rather then spending cycles for just installing the product...
As such, could you please include all steps for installing the htm.core including the hype

[2020-06-07 17:31] indy-3rdman commented on #829
@ghantasalar, another way to get you started might be this jupyter docker image, which I've just updated to include version 2.1.15 yesterday. It's available here: [https://hub.docker.com/r/3rdman/htm.core-jupyter](https://hub.docker.com/r/3rdman/htm.core-jupyter)

[2020-06-07 18:43] breznak commented on #829
@indy-3rdman Indy, I like the idea with Jupyter notebook for 1st play-ground experience with HTM! :+1: (the Docker is nice too but since some past time I'm not too keen of fixed images - they keep getting out of sync).
Anyway, the Jupyter notebook could work online (w/o any docker), since we're now on PyPI, right? Might be nice to add, would you like to make a PR?

As such, could you please includ

[2020-06-07 22:05] dkeeney commented on #828
Your C# examples are really cool.  Very good. 🥇
This is much simpler than the C# interface I was going to try to build using direct calls from C# directly into the C++  htm.core library.

[2020-06-08 09:59] indy-3rdman commented on #829
@breznak, is this what you have in mind?

[![Binder](https://mybinder.org/badge.svg)](https://mybinder.org/v2/gh/indy-3rdman/htm.core/master)

[2020-06-08 10:34] breznak commented on #563
@indy-3rdman moving the iPython online demo/notebook here

https://github.com/htm-community/htm.core/issues/829#issuecomment-640502932

Exactly! This is pretty sweet! :100: I'd definitely love that notebook in our `examples/` and accessible directly from the readme :+1:

now one thing, you have it already running in docker/binder. Does that require you to manually maintain/build the docker image,

[2020-06-08 10:38] breznak commented on #829
I'm closing the issue as Won'tfix since we provide PyPI wheels for py3.7 only, so far. Please comment,reopen if needed.

[2020-06-08 10:38] #829 closed

[2020-06-08 11:12] indy-3rdman commented on #563
@breznak, that was just a quick POC using the existing image, which also runs the rest_server needed for the [C# examples](https://github.com/indy-3rdman/htm.core-csharp-rest-examples) anyway.

I might be wrong, but I think the binder related files need to be either on the root level or in the binder directory for it to work. Would that be a problem?

The docker image build is not yet fully automa

[2020-06-08 11:22] breznak commented on #563
this is ok :+1:

I see, you're using that for the c# bindings (using REST API) hence you need the c++ build -> docker image, right?
- or are those binaries included (or can we include them) in the `.whl` on PyPI?
- for the python "Hellow world HTM example" running live, which I have in mind, I'd like to avoid any extra steps(docker images). And use directly install & import our release from the Py

[2020-06-08 13:56] indy-3rdman commented on #563
I've changed it to use the latest whl from test.pypi.org.

[![Binder](http://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/indy-3rdman/htm.core/master?urlpath=lab/tree/binder/ipynb)

As you will notice, it is automatically creating a docker image from the whole repository now, including all the repository files.

![repo](https://user-images.githubusercontent.com/60756651/84038314-133010

[2020-06-09 07:49] aamir-gmail opened #835 "C++ python type converstion"
TypeError: Unable to convert function return value to a Python type! The signature was
	(self: htm.bindings.encoders.RDSE, arg0: float) -> htm::SparseDistributedRepresentation.

I am running anaconda 3.7 ( I complied from sources ) by running setup.py , I am running ubuntu 20.04 LTS x64

here is the code

 parameter1 = RDSE_Parameters()
    parameter1.size = 160
    parameter1.sparsity = 0.02

[2020-06-09 09:54] breznak commented on #835
Thanks @aamir-gmail for the report, it means you're missing an import in python, a quick fix is
`from htm.bindings.sdr import SDR` in your code.

@dkeeney I don't know how to fix this properly in pybind11. In the encoders' modules we need to import pythonic SDR, which is also a pybind module (and only a .cpp).

Currently, the users have to do
[code]
It's an OK to request that, ideally we'd import

[2020-06-09 09:58] breznak commented on #835
Or a workaround would be to create `py/htm/encoders/__init__.py` where we import all the encoders (py-only & pybind11) + all the needed "dependencies" (SDR,..)
Users would call
[code]

[2020-06-09 11:36] aamir-gmail commented on #835
thank you it works, however, it would be better is this was done internally. Mostly on account of people like me posting the obvious.

[2020-06-09 22:36] indy-3rdman commented on #563
@breznak, an example of how it would look like as separate repository: [https://github.com/indy-3rdman/htm.core-jupyter](https://github.com/indy-3rdman/htm.core-jupyter)

[2020-06-13 11:15] Thanh-Binh opened #838 "problem by running MNIST example"
Hi all,
have just downloaded and installed the current version.
After installing I run mnist_sp and have the following error:
[code]
I think, it is a problem with the name of mnist files.
Does anyone have this problem?

[2020-06-14 10:44] Thanh-Binh opened #839 "Value-class with getArray()?"
Hi all developer,
in the old version of htm.core, the class Value has a userful function getArray() that allows us to get an array from application into the regions like
[code]
Unfortunatelly, I can not find it in the current version.
Do you have any function for doing this task?
Thanks

[2020-06-14 13:09] dkeeney commented on #839
The ValueMap is the same as a Value object.
[code]
It represents the parsed parameters.  Since the parameters are Yaml or JSON which has scalars, sequences and maps, this Value structure also could be a scalar (a  std::string), sequence (a std::vector) or a map (std::map).  The functions `isScalar( ), isSequence( ), and isMap( ) tell you the type of a Value object. Each node of a Value containing

[2020-06-14 13:43] Thanh-Binh commented on #839
I found the solution like:
[code]

[2020-06-14 14:55] #839 closed

[2020-06-14 14:57] Thanh-Binh commented on #839
Thanks David

[2020-06-14 15:06] Thanh-Binh opened #840 "Using default value in Spec() of Region?"
Hi David,
I am wondering why by constructor of a region we must input the default value for a parameter, even though it is declared and set by a default value in the createSpec()
[code]
I think, it seems to be a double input.
Can you please explain me? Thanks

[2020-06-14 16:50] dkeeney commented on #840
I had a lot of trouble trying to decide what to do here.
The new Value object does not know about the spec.  This allows me to use it for general situations such as the Network::configure( json ) call and it allows greater flexibility in the Region implementation.

But you are correct, this is redundant and the value in the spec is ignored in your example.
One solution is to pass the spec's defaul

[2020-06-14 16:58] dkeeney commented on #840
Oops, not quite right.
The params value passed to the constructor is a const reference to the parsed parameters so the ValidateParameters( ) function returns a new instance of the ValueMap which has been modified with the defaults applied.

[code]

[2020-06-14 19:22] Thanh-Binh commented on #840
@dkeeney thanks. I found this solution is  Ok
spec_.reset(createSpec());
  ValueMap par = ValidateParameters(params, spec_.get());
  UInt32 outputWidth = par["outputWidth"].as<UInt32>( );

I will test it soon!
Do you have any sample using
Network::configure()?

Thanks

[2020-06-14 22:59] dkeeney commented on #840
Network:configure() is what the REST interface uses.   See REST docs for how to setup the configure string.

[2020-06-15 09:12] Thanh-Binh commented on #840
@dkeeney
About configure(): OK I will take a look at it!
I have tested what you suggested, and here are my results:
[code]
this function converts however a "sequence node" into "non-sequence node"!
[code]
it function only with "sequence node"!
[code]
it fails by compiling because defaultValue is not a member ....

[2020-06-15 15:05] breznak commented on #838
it is possible that the mnist dataset is not correctly shipped in the release.

Thanks for reporting, though it's low on priority I'd say. You can workaround it by running the `cmake` configure stage of the build, it'll download and unpack the dataset for you.

[2020-06-15 15:23] Thanh-Binh commented on #840
@dkeeney
additionally to my last comment, I found your suggestion
[code]
is very nice.
But we have additional problem as follows:
if optional parameters are used in the Spec(), and we forget to consider them in the constructor().
Here "not consider" of parameter "realignment", I means I comment this line:
[code]
this parameter will be set into any value than default value.

My question: How can we

[2020-06-15 16:08] dkeeney commented on #840
Do not understand your comment.  Could you say it another way?

- There are **scalars** which are individual values stored internally as strings. the as( ) function can convert a scalar node value to whatever type is needed.
- There are **sequences** nodes which can be thought of as an array of nodes.  They are indexed with an integer.  You can also use asVector( ) on this to convert it to a vecto

[2020-06-15 16:23] Thanh-Binh commented on #840
@dkeeney thanks for your info! In my experiment, I have to note that I have to set default value of A parameter of array Type to empty string. Else I get an error by getting it using asVector()

[2020-06-15 18:16] dkeeney commented on #840
Hmmm,   good catch.
It appears that I am not checking this correctly.  If the ValueMap contains a field which is not a scalar it is treated as an empty string and tries to assign the default (if it is not empty).

Also, the intent is that the DefaultValue field in the spec is actually a JSON string.  So if the field is expected to be an array, the DefaultValue string in the spec could contain an a

[2020-06-15 18:32] Thanh-Binh commented on #840
Thanks for your support!

[2020-06-16 11:28] Zbysekz commented on #748
I've ended up with these plots as result: (there are 13 plots on one page in this case)
![image](https://user-images.githubusercontent.com/23330229/84767910-8c98b600-afd3-11ea-991e-a3b29e5bc300.png)

This uses the python [plotly dash](https://plotly.com/dash/) library. **Very nice interactive graphs. In web browser**
My script called "dashVis.py" reads from SQLite database and shows table data in

[2020-06-16 11:57] breznak commented on #748
wow! The image looks really great! I'm looking forward to the interactive plots.

I'd like to hear from @dkeeney . But for me, if it's not too complicated, it'll surely be nice way to achieve the visualizations.
How would the 'feeder' work? As a NetworkAPI region? A wrapper (or better Interface) over existing TM,SP classes? I wouldn't like if the TM,SP code needed be complicated for viz purposes,

[2020-06-16 13:15] dkeeney commented on #748
@breznak 's response is the same as mine... wow!

We would love to have such a feeder for C++.  Such a module was on my 'back burner' to do and this is wonderful that you have taken on this project.

What I envisioned as a feeder from NetworkAPI was a new built-in Region Implementation which accepts a link and displays the data interactively.  Much like FileOutputRegion except rather than sending

[2020-06-17 05:39] Zbysekz commented on #748
To be honest, i don't know the Network API, nor how to use it. I can't find API doc for the FileOutputRegion but it shouldn't be so hard to use.

@dkeeney do we have some minimal example that i can see how FileOutputRegion is used and run it?

I found this, but it uses just fileoutput stream.
[napi_hello example](https://github.com/htm-community/htm.core/blob/master/src/examples/napi_hello/napi_he

[2020-06-17 06:03] breznak commented on #748
There's atleast
https://github.com/htm-community/htm.core/blob/master/src/htm/regions/FileInputRegion.hpp

A minimal example should be in the region's test: `src/test/unit/regions/VectorFileTest.cpp`

@dkeeney could you please look at these 2 things?
- rename the VectorFileTest to match the FileInputOutput region?
- it would be really nice if the `napi_hello` used a region to read in data, as well

[2020-06-17 13:30] dkeeney commented on #748
Yes, we can do that.  Although it does not sound like a high priority issue.

I was trying to strip down the example to simplify it as much as possible.  But sure, that would be reasonable.

I have that on my back burner as a low priority project that I never got to. Not sure it is really important.

[2020-06-17 13:46] dkeeney commented on #748
I would look at FileOutputRegion object as an example.  Make a copy of it and edit it from there.

Any configuration you need would be passed in params in the constructor.
The data you will want to plot would come in via the compute( ) function which is called on each cycle.   Within that function you can get the data passed in.
[code]
This will fetch the incoming data for that cycle.  This is an

[2020-06-19 13:44] dkeeney opened #842 "Parameter handling in NetworkAPI"
Parameter handling (the getters and setters) consume a lot of code in NetworkAPI.  The question is if it is worth the effort to re-engineer this logic ... and probably break the API.

Is this over-kill?

[2020-06-19 15:17] dkeeney commented on #840
@Thanh-Binh please obtain a new clone and see if this helps  in your situation.  If so, can we close this issue?

[2020-06-19 16:08] Thanh-Binh commented on #840
@dkeeney thanks. I will test it tomorrow!

[2020-06-19 17:17] dkeeney opened #843 "Making validateParameters( ) implicit."
Question:
NetworkAPI, calling arguments passed into a Region implementation.
Couldn't the parameter validation be done implicitly?

Parameter validation does several things:
- Throws an error if an unknown field name  is passed in.  All names must be listed in the spec.
- If a known field is not passed in but has a default value in the spec, insert this value into the set of parameters.
- Confirms

[2020-06-19 17:34] dkeeney opened #844 "Need to set ARCHFLAGS in build"
See https://discourse.numenta.org/t/installing-with-mac-and-virtual-environments/7666/5
[code]

I thought ARCHFLAGS was being set in the build setup but apparently not for MacOS.

[2020-06-19 17:53] dkeeney commented on #835
I noticed that  `py/htm/__init__.py` imports the sdr module.  Does this resolve the issue?
Do we also need to do the same thing in `bindings/py/packaging/src/htm`  ?

[2020-06-19 18:02] Thanh-Binh commented on #843
@dkeeney personally, I do not have any problem if we call validateParameters() in Region constructor.  What is better if you come back into the factory? If it provides no better Performance, then it may be a nice feature, and no need to make it beautiful.
We have many open points for solving!
What do you think?

[2020-06-20 13:53] dkeeney opened #845 "fatal error: `warning STL4014`"
I updated my Visual Studio 2019 from version 16.4.5 to 16.6.2 which I think is the latest.  Now I see the error
[code]
If you Google "warning STL4014" you will see this is a common problem.
      https://github.com/KjellKod/g3log/issues/337
      https://devblogs.microsoft.com/cppblog/c17-feature-removals-and-deprecations/
The std::result_of function is used in the third party eigen package so we

[2020-06-21 12:10] Thanh-Binh commented on #840
@dkeeney i have just tested the current version today morning, and found it works very good. Best thanks

[2020-06-21 12:10] #840 closed

[2020-06-22 11:06] breznak commented on #835
I guess you'd have to do `import py.htm.*` to get that(?)

[2020-06-23 15:11] dkeeney commented on #845
Resolved in PR #845

[2020-06-23 15:11] #845 closed

[2020-06-23 16:00] dkeeney commented on #828
With this latest round of api changes, all results are returned in a JSON field 'result' and the type and dimension info was removed.  For an SDR the results are returned as sparse indexes and all other types of arrays are dense.  Maybe that is not what we want.

For Region input and output, the data is taken from an Array object.  The Array object has type and size info that it could also provide

[2020-06-23 16:16] breznak commented on #828
I;m not saying the above is a bad idea, just for the issue mentioned, can't we just fix the order of dims returned by the region (and be done with it?):
https://github.com/htm-community/htm.core/issues/828#issuecomment-638868759

[2020-06-23 16:22] dkeeney commented on #828
The dim info was removed.  It now only returns the data.

[2020-06-23 16:29] breznak commented on #828
optional, can all returned data be sparse, or we don't want that for some reason?

oh, ok, thanks for explanation. Now I understand it better.
Then your idea with adding a "dims" field to the returned data looks good to me :+1:

do we need that? We could pass just a flattened array as data. And user could use `SDR.reshape()` to get back exactly the original multi-dim SDR.

[2020-06-23 17:54] dkeeney commented on #828
and

These may not be SDR's.  Remember that the inputs and outputs are from the Array object which could be an SDR or it could be just an array of any type.  For example, input to an encoder where 'sparse' does not make since.

[2020-06-23 17:58] dkeeney commented on #828
@indy-3rdman What JSON structure is easiest to decode directly into a C# object of some sort?

[2020-06-23 18:04] dkeeney commented on #828
@Lupino This will affect you as well because it would mean changing the response JSON syntax yet again.  Do you have any input to this?

[2020-06-23 23:40] dkeeney commented on #828
Another alternative:
[code]

This would not affect @Lupino's client unless he needed the type or size for some reason.

I am thinking that all array's should be dense format to be consistent, even for SDR's however for binary arrays like SDR it is not efficient. What is the consensus on that?

[2020-06-25 03:05] dkeeney commented on #828
Since there was no response to my question, I implemented the response as follows:
[code]

[2020-06-26 07:03] breznak opened #850 "Mistakenly closing all PRs?"
@Zbysekz some mistake, a virus, or have you decided going berserk on all our PRs and close them? :smiley:

[2020-06-26 07:14] Zbysekz commented on #850
Oh shit sorry !!! , i don't know what happened

[2020-06-26 07:15] Zbysekz commented on #850
i tried to clean up my fork but .... WTF

[2020-06-26 07:15] breznak commented on #850
I've restored all branches and reopend all PRs that were closed by this event.
Just hope we don't get a ban from CI, as now some 20 CI run at once.

[2020-06-26 07:16] Zbysekz commented on #850
Really sorry... hope no damage was done :((((

[2020-06-26 07:16] Zbysekz commented on #850
I have write permissions to this repo? I thought i don't...

[2020-06-26 07:17] breznak commented on #850
ok, that explains it. apparently you've deleted your branches but pushed to HERE (origin, community, or which name you have) and not to your fork, deleting all the branches and that resulted in closing the PRs.
No prob, explained :) You'd be a good scrum master :wink:

[2020-06-26 07:17] #850 closed

[2020-06-26 07:21] breznak commented on #850
neither did I :) I might check the settings and tighten up a bit. (no offense, just to see who actually can do what). I guess it comes from the "HTM community" membership where I added you recently for the work in PandaVis.

[2020-06-26 07:25] Zbysekz commented on #850
Yes please do, so i can be sure that i can mess up only with my repo :).
Yeah probably it's connected with the membership...
Bloody SourceTree, it appeared to be pushing on right remote, but i am not so sure...

[2020-06-26 12:14] Zbysekz opened #852 "Temporal Memory with only external distal synapses"
In order to proceed with [2D object recognition project](https://github.com/htm-community/htm-2d-object-modeling) i would need to have Temporal Memory without internal distal synapses.

TM there is applied on sensory layer, distal synapses goes just from Location Layer. No distal connection internally in Sensory Layer.

As i see there is no possibility now with TemporalMemory algorithm in htm.core

[2020-06-26 12:17] Zbysekz commented on #852
I am imagining adding one parameter that says if the internal synapses should be formed or not.
Defaultly true so no interface & behaviour change for current implementations.

[2020-06-26 12:22] Thanh-Binh commented on #852
@Zbysekz as far as I know, there is an C++-implementation of Numenta for experiments, named "ApicalTiebreakTemporalMemory"
at https://github.com/numenta/htmresearch-core/tree/master/src/nupic/experimental
As far as I know, it is better than TM and allows you for doing your task.

[2020-06-26 12:26] Zbysekz commented on #852
P.S. for explanation regarding the 2D recognition project - sensory layer must NOT learn sensorimotor sequences to enable path integration _The location layer projects to the dendritic segments of the sensory layer (Figure 3, connection 2)......_ from [Locations paper](https://www.frontiersin.org/articles/10.3389/fncir.2019.00022/full)

[2020-06-26 13:18] Zbysekz commented on #748
Thanks for advice @dkeeney.

I made simple few line modif of napi_hello to use the fileoutput region https://github.com/Zbysekz/htm.core/tree/RegionForPlots
If i run it, it creates output file containing big table. Each row is one iteration.
Is each column cell state?
Where is defined what is given to the output region? I mean, for example where to define, that i want to send raw anomaly (or some

[2020-06-26 13:34] Zbysekz commented on #838
Reporting the same as @Thanh-Binh

@breznak what exactly you mean by that?

Thanks

[2020-06-26 15:12] dkeeney commented on #748
When the net.link(  ...  ) function is called it sets up the connections of output to input.  This can be configured by calling the net.link( ) function or by setting up links in the JSON string that is passed to net.configure( ... ).

The 'anomaly' output on the TM should be connected to the input of your PlotRegion with a link.

That is a leftover from Numenta's implementation.  The link has no

[2020-06-27 16:19] dkeeney commented on #748
See PR #853 which describes how to create a region for NetworkAPI.

What I was thinking was that your PlotRegion would control one plot.  An app could configure multiple PlotRegion instances to handle different data.  Let us know how it is going.

[2020-06-29 07:46] breznak commented on #838
I assume this means you're running the binary release downloaded from this page. I am suggesting to build from sources and see if that's fixed (?)

[2020-06-29 13:36] Zbysekz commented on #838
I've build from source on Ubuntu...

[2020-06-30 08:47] Zbysekz commented on #852
Found apical tie-break already implemented in python in our repo:
[apical_tiebreak_temporal_memory.py](https://github.com/htm-community/htm.core/blob/master/py/htm/advanced/algorithms/apical_tiebreak_temporal_memory.py)

[2020-06-30 13:27] Zbysekz commented on #748
I stuck little bit on the compilation with sqlite3 library.
I pick from the start the amalgamation version (means whole sql library is just sqlite3.h and sqlite3.c) with the benefit that it will be natively multiplatform. (Note the .c file has approx 220K LOC)

I added the new region into CMakeLists.txt in the src folder and also put sqlite3.c & sqlite3.h into utils folder.
It compiles, but when i

[2020-06-30 14:29] breznak commented on #748
I don't think we make a regexp now, but explicitely name all the files.
Did you list the new source (& .h) files in the "utils section" in `src/CMakeLists`?
[code]

[2020-06-30 15:12] dkeeney commented on #748
sqlite3 is a third party package.
I should move that into the external stuff so that it can be automatically downloaded.
After this PR is merged I will make another PR to do that move so don't worry about doing that now.

But for now you do need to explicitly name the .h and .c files or sqlite3 in src/CMakeLists.txt

[2020-06-30 20:28] breznak commented on #838
sorry, I have to have a look at this.
We should then turn the MNIST into a minimal test so it gets run consistently in CI.

[2020-07-01 05:37] Zbysekz commented on #748
Yes i already put them in the src/CMakeLists.
Also removed build folder & rebuild with _cmake ../.._ inside build/scripts folder

Today i tried just for test renaming sqlite3.c to sqlite3.cpp and sqlite3.h to sqlite3.hpp and it showed up in _build/scripts/src/Makefile_ ! so it seems that it is really because of the extension.

[2020-07-01 05:43] Thanh-Binh commented on #838
Thanks for your bug fixed.
Currently, we do classify just after training without saving the trained HTM model into a file.
Last year I reported a bug by saving after training, and then loading it again for classification.
The classification results are not the same for both cases. I really do not know if it is fixed?
Do you know it?

[2020-07-01 07:27] breznak commented on #748
Oh, good find.. it's probably due to our project being specified as CXX in said CMakeFile.
Then
- this will be properly fixed once we have sqlite in `externals/` and it has a separate CMake file, it'll compile as C code.
- you can try forcing cmake to treat those files as C. This (in oposit direction - forcing to C):
https://stackoverflow.com/questions/7690800/can-cmake-use-g-to-compile-c-files
-

[2020-07-01 07:29] Zbysekz commented on #748
Oh great, i added `enable_language( C )` to the CommonComplireConfig.make and it fills the .c & .h files into the makefile.
The compile run further, but there are warnings ( it seems that two types)
`error: this statement may fall through [-Werror=implicit-fallthrough=]`
and
`error: cast between incompatible function types from ‘void (*)(void *, const char *)’ to ‘int (*)(u32,  void *, void *, voi

[2020-07-01 07:33] breznak commented on #748
I don-t know if the non-original cpp sqlite implementation would work for you? (as the db readable in python, etc) or if that's a good idea (bugs fixed in db) but here's some list:

https://srombauts.github.io/SQLiteCpp/#see-also---some-other-simple-c-sqlite-wrappers

the `sqlite_orm` looks active.

[2020-07-01 07:36] breznak commented on #748
we have strict `Werror` policy for our code. For external this is turned off. Can you try to set some `Wno-error=xxx` in your cmake unit to avoid (too strictly) failing on this? Or use compiler directives (#pragma) in the code to silence those warnings (possibly for the whole file
https://stackoverflow.com/questions/3378560/how-to-disable-gcc-warnings-for-a-few-lines-of-code

[2020-07-01 07:39] breznak commented on #748
nit, once it works, can you try doing that only for the cmake unit, not globally?

[2020-07-01 08:55] breznak commented on #838
Ok, thank you for reporting.
I could replicate the problem but the example works as intended in a "normal" scenario.
The problem is in filepaths to the data files, it could be improved but I'll keep it as "low". PR always welcome.

BROKEN:

~/nupic/current/htm.core/build/Release/bin$ ./mnist_sp

[code]

WORKS:
[code]

I'll add a demo to our CI so this is run continuously and people can see how to

[2020-07-01 10:32] Zbysekz commented on #748
This grows over my head, the cmake language is spanish village for me,

i have put the sqlite in ThirdParty, created the sqlite3.cmake to automatically download tar, but how to build it to create .a library and link it to the project i don't know..
I have also problems with including header...

Can one of you help me to setup this? this [branch](https://github.com/Zbysekz/htm.core/tree/RegionForPl

[2020-07-01 15:53] dkeeney commented on #748
Yes, I can help you with CMake.  I was expecting that you could get it to compile "any way it works" for this PR and I will then I would fold sqlite3 into the ThirdParty build with a second PR.

Would it be easier if I just did sqlite3 first and then you can add your project using sqlite3 library which would already be there?

[2020-07-01 17:02] Zbysekz commented on #748
Yes that would be wonderful, thanks.

[2020-07-01 19:17] dkeeney commented on #748
I just checked in PR #857 which folds sqlite3 into the htm.core library.

In your code reference the .h as sqlite3/sqlite3.h
So the only change to src/CMakeLists.txt you should need to make is to add your source modules for PlotRegion into the Region section.  You will also need to add your PlotRegion to the list of pre-registered modules in RegionImplFactory.cpp if you want it to be a built-in re

[2020-07-01 19:21] dkeeney commented on #748
hmmm, sqlite3 package did not build on Linux so I have more work to do.

[2020-07-01 22:43] #838 closed

[2020-07-01 22:53] breznak commented on #844
Thank you for tracking the community problems on the Forums, David!

I haven't read the whole thread properly, but I'd be surprised if it's extra needed or if it helps - as apparently our CI runs on MacOS and we don't do anything specific, all is done in setup.py.

..actually, read the thread, it user is able to run htm.core (only has some API syntax problems), the answer with ARCHFLAGS is unrelat

[2020-07-01 22:53] #844 closed

[2020-07-02 07:11] Zbysekz commented on #748
I've tried build PR #857 on my linux machine and passed. (.a file was created)
But when i try include sqlite3/sqlite3.h it cannot find it (also tried variants like sqlite/sqlite.h etc..)

[2020-07-02 12:55] dkeeney commented on #748
Ok, that should have worked.  Let me look into it further.  #857 is now in the main but I want to be sure this is right.

[2020-07-09 15:24] #748 closed

[2020-07-09 15:43] breznak commented on #748
Now we can continue in NAB, where it all started
https://github.com/htm-community/NAB/pull/40

[2020-07-09 15:53] breznak commented on #852
Shall we close this with `ApicalTM` being what you need? Or does it make sense to port (parts) of the functinality to the "main TM"?

we should validate that and if really outperforms in general, replace it to be the default TM. (comparison on NAB would be a good test)

[2020-07-09 16:13] breznak commented on #842
you're right...the parameter handling is always a chunk of code! On the other hand, once done for each region, we don't hear about it (and it's not any pain when USING the code), so I'm not sure if worth extra work/breaking.

That being said, if you have an idea or PoC, I'd gladly discuss that :)
My same wishlist is for Regions (and even classes) to accept a JSON as a param config. That would enab

[2020-07-09 16:57] dkeeney commented on #842
We are almost there.  Basically that is what the REST api does.

[2020-07-09 19:51] Zbysekz commented on #852
I am not sure right now, need to dig in more into advanced examples code, then i will close it/rename it to fit the purpose.

[2020-07-10 11:58] anjanakiran opened #863 "htm.core installation issue in python 3.8.3 in windows10"
I am unable to installing htm.core in my windows 10 .during installation i got below error help me
 ERROR: Could not find a version that satisfies the requirement htm.core (from versions: none)
ERROR: No matching distribution found for htm.core.

[2020-07-15 06:09] Zbysekz commented on #852
For now, the apical_tiebreak_temporal_memory.py can be used in 2D recognition project (already tested), later on in the future, could be ported to c++ code for performance improvement.

[2020-07-15 06:09] #852 closed

[2020-07-15 06:26] Thanh-Binh commented on #852
@Zbysekz the c++ Version is already available

[2020-07-15 06:29] Zbysekz commented on #852
@Thanh-Binh  Really? where?

[2020-07-15 06:30] Zbysekz commented on #852
Ah in the link that you gave before... so that's nupic, but just not ported to htm.core.... right, thanks

[2020-07-15 10:44] Thanh-Binh commented on #852
See my answer in this thread 19 days ago

[2020-07-24 08:32] Zbysekz commented on #863
I recommend you to use Python 3.7, i also tried 3.8 but as far as i remember, the 3.8 is somewhat mixed with 3.7..
Next time also please write how are you installing htm.core, since there are several ways.

[2020-07-24 08:35] Zbysekz opened #864 "Build fails ARM64"
Not sure if i start duplicate or this is well known,
but CI fails to build ARM64 on docker

log:
[code]

[2020-07-24 13:28] dkeeney commented on #863
@anjanakiran, the PyPi download installation only supports a limited number of OS platforms and only Python 3.7  (the one from python.org not Anaconda) because that is what we build for the regression tests.  As @Zbysekz  suggests you can use the standard Python 3.7 with the PyPi download or you may find more success by cloning or downloading the entire repository and building from sources.  Pleas

[2020-07-24 15:31] dkeeney commented on #863
I installed the latest Python (version 3.8.5, 64bit) from python.org and it gives me a build error when building from sources. So, I will have to check this out.

[2020-07-24 16:36] dkeeney commented on #863
Apparently Python 3.8 needs a newer version of `importlib-metadata`.
See https://github.com/pytest-dev/pytest/issues/7371

So, I updated importlib-metadata from v0.23 to v1.7.0 and everything is working.
[code]
@anjanakiran please try this and see if this helps.

[2020-07-26 07:26] anjanakiran commented on #863
I tried both comand prompt and Anaconda prompt .I am geeting same error in both.
@dkeeney i will try this method also
pip install importlib-metadata --upgrade.
after that i will update you. thanku so much

[2020-07-29 06:12] anjanakiran commented on #863
@dkeeney i upgraded importlib-metadata. again im getting same issue

[2020-07-29 13:30] dkeeney commented on #863
It looks like for Python 3.8.x you will need to build htm.core from sources.
Follow the procedures in README.md.

[2020-07-30 02:50] Tann10 opened #865 "setup.py install file not found error"
I am trying to install htm.core from source in Python 3.7 on windows 10. I get following error when I execute python setup.py install
![image](https://user-images.githubusercontent.com/54607338/88874776-2a60e100-d220-11ea-9ed2-8a44b188bd0c.png)

Please let me know if there is a quick fix for this! Thank you.

[2020-07-30 17:30] dkeeney commented on #865
If you are using Anacondra (and it appears that you are) then you must use the Command Prompt setup for Anacondra, not the normal Command Prompt.
Then confirm that you have Microsoft Visual studio 2019 installed (I think you do).
cd to the top folder of the repository.
Then use the following command to build with the Python bindings.
[code]

I hope that helps.

[2020-07-30 17:40] Tann10 commented on #865
@dkeeney Thank you so much for your reply. I tried to execute the setup.py from anaconda prompt, I am still seeing the same error. I want to install this package in a virtual env. Is that why its failing?

[2020-07-30 18:25] dkeeney commented on #865
I don't think that is the problem.

It failed when trying to locate Visual Studio 2017 or 2019.  It is expecting to find the installer at "C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe".   Please look at that location to see if you have it installed there.
If not, perhaps I need a better way to check that it is installed.

[2020-07-30 22:30] dkeeney commented on #865
You are making progress.
Try deleting the 'build' folder and try again. You may have something cached in cmake from the previous attempts.

What this is pointing out is that my logic to tell you that "Visual Studio was not installed" is not working.  The objective is to tell you before it starts running cmake.

[2020-07-31 03:59] Tann10 commented on #865
I still see the same error even after deleting the build folder and running python setup.py install..

[2020-07-31 16:29] dkeeney commented on #865
I am out of ideas.  I am trying to reproduce this myself but it all works.
I have Visual Studio 2019 running on my windows 10.    (I also have VS 2015 and VS 2017 installed)
I am using standard Python 3.8.5 but we use 3.7 in our regression tests so I know it works.  I also have Anaconda Python 3.7.4 in the Anaconda prompt.

Grasping at straws...
  Can you run this command in your Anaconda prompt w

[2020-08-01 15:28] dkeeney commented on #864
@breznak had worked that issue.   I have not seen him on-line for a while but he will resurface eventually. I do not know where to start.

[2020-08-03 12:21] Tann10 commented on #865
Here is the output I get.  I can see that Visual Studio is installed.
![image](https://user-images.githubusercontent.com/54607338/89181542-481da580-d594-11ea-9448-7744f190c16a.png)

Anyway, I used pip to install the package right now and that worked. As I am able to use the package I think I am good! Thank you so much for your help.

[2020-08-03 15:38] dkeeney commented on #865
Thank you for working with me on this. Sorry I could not have been more helpful.
I would like to find the cause so I will continue to watch for anyone else that is having this problem and eventually we may find the clue that leads to the solution.

[2020-08-03 19:04] Tann10 commented on #865
No problem, thank you for helping in debugging this issue. I will solve this issue then!

[2020-08-03 19:04] #865 closed

[2020-08-04 08:44] N3rv0us commented on #461
Hi together,

I'm running a model over 13 trillion data samples to simulate a streaming analysis. After about 3% of the data the model used up my whole memory and crashes at `tm.compute(...)` with a `MemoryError: bad allocation`.

I've looked in the HTM Forum and I came across this issue, but I seems like it's still an onpen task.

Have you implemented the synapse drop out in some way?
Do you have

[2020-08-04 13:22] dkeeney commented on #461
@N3rv0us thanks for reporting this.
I think this is one that @breznak or @ctrl-z-9000-times  would have to address.

[2020-08-05 07:07] anjanakiran commented on #863
i tried to install from build htm.core source i'm getting below error
![Screenshot (44)](https://user-images.githubusercontent.com/62331046/89382438-76c48900-d718-11ea-85e4-6be63091149a.png)

[2020-08-05 11:18] breznak commented on #864
@Zbysekz sorry, I've been off on a vacation.

the ARM64 never ran 100% reliably, but this is new. We used to have successful build and (only) deterministic tests kept failing.

This looks like an apt dependency fail in the Dockerfile. I can have a look on this once I catch up, likely next week

[2020-08-05 11:28] breznak commented on #461
Hi @N3rv0us ,

very interesting data size!
yes, this is a known issue, we've been running "online learning" HTMs but I never approached these sizes.

there's a param as `synaptic decay` or alike. But it never prunes the actual space in mem.
There are recently merge/in progress PRs on synapse pruning, that should let you prune the mem. I'd say default is OFF.

even with the pruning off, the model s

[2020-08-05 11:57] breznak commented on #461
segment and synapse pruning is implemented in #601 for Connections, therefore available to any of our algorithms (SP,TM).
Apparently it is not being used by default as it causes our strict deterministic runs to fail in synapse pruning in SP.

If you can live with that, please try enabling both synapse & segment pruning.
As a follow up, we should fix the determinism with synapses pruning and set it

[2020-08-05 11:58] breznak commented on #817
Closing as abandoned issue, please reopen if a followup is needed.

[2020-08-05 11:58] #817 closed

[2020-08-05 12:20] dkeeney commented on #863
Can you check to make sure you have CMake installed?
Maybe that is the file it cannot find.

[2020-08-05 13:02] anjanakiran commented on #863
yes CMake was installed

[2020-08-05 14:57] dkeeney commented on #863
@breznak  do you have any ideas of what to check?

[2020-08-05 15:22] breznak commented on #863
I have been quitely following the issue but don't really see any obvious flaw.
What comes to my mind:
- @anjanakiran your Windows username is "two words" (with a space), that could potentially be a problem for some internal python processing. Can you try either renaming the user (your home dir) to a single word name?
- as suggested, do you see the same issue with py 3.7?

[2020-08-06 11:23] sonjh17 opened #868 "can't import so files from bindings"
Hey guys.
After I successfully installed htm, Ive been trying to run the example codes (hotgym.py and mnist.py).
I realized that in both of these files I am having trouble with importing the so files in binding

This is the error I've been getting

ImportError: dlopen(/Users/user/Library/Python/3.8/lib/python/site-packages/htm.core-2.1.15-py3.8-macosx-10.15-x86_64.egg/htm/bindings/algorithms.so, 2

[2020-08-06 21:19] breznak commented on #254
FTR, CUDA on c++17
https://developer.nvidia.com/blog/accelerating-standard-c-with-gpus-using-stdpar/

My past attempts (almost exactly 1y ago) did not yield any gains, but let's revisit the issue.
Overall, I'm sad that htmcore is not built upon any "large" framework like (py)torch, tf, ..

[2020-08-07 08:02] Zbysekz opened #869 "DateEncoderRegionTest.testLinking fails on my PC"
continuing from #867

When i ran `python setup.py test`
it executes cpp tests, but don't get into py tests,  (that is probably expected?)

[code]

When i manually run date_test.py in py/tests/encoders it passes.

[2020-08-07 08:19] Zbysekz commented on #869
Debug output
[code]

[2020-08-07 08:23] Zbysekz commented on #869
Ouuuch... there is `Fri Apr 17 21:59:28 2020 dst` this smells.... there should be 22:00 as is expected.. maybe leap seconds?

@breznak can you run it also with bool verbose set to true (at the top of the file) and we can compare results?

[2020-08-07 08:51] Zbysekz commented on #869
Got it... i run this on VM where was default time zone -> new york UTC-04
Changing to prague UTC+02 making all test passing

Need to dig more where problem is. These date time conversions are always pain in the ass.

[2020-08-07 08:52] breznak commented on #869
@Zbysekz sure, verbose py, or cpp?

[2020-08-07 08:54] Zbysekz commented on #869
cpp, DateEncoderRegionTest.cpp

[2020-08-07 09:46] breznak commented on #869
Changing to prague UTC+02 making all test passing
Need to dig more where problem is.

good finding! :+1:
this will be in the date encoder, probably uses local time, or whatever your system is using. Maybe we should force the encoder to use UTC. Does it have some negative implications to what the users would expect?

[2020-08-07 10:17] breznak commented on #869
not sure if still relevant, but locally it passes the test above:
[code]

but I fail on something different
[code]

[2020-08-07 17:33] Zbysekz commented on #869
@breznak @dkeeney

Oh man.. this was hard to find... but i got it!!!

Firstly i thought it is because of timezones and that the data are not consistent in different timezones... But that is not true, since you localy code & decode values so everybody has finally same datetimes (but different internal seconds from midnight 1.1.1970).

The problem here is because in this "test" datetime data is stor

[2020-08-07 17:54] breznak commented on #869
ability to resolve these tricky bugs always impresses me! It's better than a good novel (if you don't have to debug it :D), hats off, great job :clap:

So to summarize, we need to store the data as int32 ?

[2020-08-08 00:19] dkeeney commented on #869
great job.  That was a really nasty bug.

[2020-08-08 09:30] Zbysekz commented on #869
i am not sure what to do with this, this bug is exploited only when using combinantion of fileInputRegion & dateEncoder.
One way could be creating parameter for fileInputRegion to define if the data are real or int. But then there must be second "dataOut" output with int datatype....

[2020-08-08 13:42] dkeeney commented on #869
I have to think about what should be done.
I have always thought that any integer could be safely assigned to a float and later assigned back to an int and always get the same value.   A timestamp is a fairly large number for an integer.  I wonder if we are operating too close to the resolution of a float.

Would it fix the problem if we changed FileInputRegion (and FileOutputRegion) to use Real64

[2020-08-08 14:17] Zbysekz commented on #869
![image](https://user-images.githubusercontent.com/23330229/89712388-f3fa3300-d990-11ea-971a-be448bb87b70.png)
in float32, you can store only so many different values, that will fit into 23 bit (meaning without exponent)
Value 1577859328 is 0101 1110 0000 1100 0011 1001 0000 0000b so it needs 31bits to fit completely without rounding.

Yes that would fix it. Can we define this only for this region

[2020-08-08 14:34] breznak commented on #869
yes, in Types.hpp. there's `Real = Real32`, I guess that's what's used in the region, and we can change that specifically to Real64.

[2020-08-08 15:00] dkeeney commented on #869
Yes, you will need to go though FileInputRegion, FileOutputRegion, VectorFile, and the corresponding unit tests and change Real32 to Real64 every place you see it.

I wonder where else we might have this type of problem....

[2020-08-19 12:59] #869 closed

[2020-08-25 12:38] N3rv0us opened #874 "Save and load SP,TM is not the same"
Hi together,

I think there is a bug in the saving and loading process of the TM.

After saving and loading a TM using the `writeToString` and `loadFromString` methods:
[code]
I recognized that the loaded TM behaves differently (in processing further data) compared to the not saved one.

I checked the binding tests and found that the method `testNupicTemporalMemorySavingToString` in [temporal_memo

[2020-08-25 15:11] dkeeney commented on #874
Oh, good catch. I thought we had that all cleaned up but I guess we did not.  I will take a look at that today.
In the mean time, take a look at the "ExecuteCommand" operation and see if that could be a better way to capture your Connections as a JSON string.

[2020-08-25 15:20] dkeeney commented on #874
Oh, sorry, that last sentence was for a different issue.  But I will look at this today.

[2020-08-26 11:34] Zbysekz opened #875 "NetworkAPI: Region getParameters() bug"
Code to reproduce:
[code]

causing
**C++ exception with description "Exception: Region.cpp(652) message: Error getting parameter region1.spInputNonZeros; CHECK FAILED: "initialized_" " thrown in the test body.**

causing SIGSEG when called in same way from python.

This is specific only to SPRegion

**Calltrace:**
Region.cpp : getParameterJSON()
SPRegion : getParameterArray()
https://github.com/ht

[2020-08-26 12:06] vaibhavch opened #876 "How to save Predictor ?"
https://github.com/htm-community/htm.core/blob/master/bindings/py/cpp_src/bindings/algorithms/py_SDRClassifier.cpp

I see that Pickle support is not implemented yet. But is is necessary to persist trained classifier. is there any hack around to to save Predictor object somehow?

[2020-08-26 12:47] N3rv0us commented on #874
Thanks for looking into it.

Manually comparing the string of both TMs, one can only see a difference in `Synapses pruned`.
However, this [counter seems not to be relevant](https://github.com/htm-community/htm.core/blob/master/src/htm/algorithms/Connections.hpp#L856).

[code]

[code]

But a simple string comparison is not useful anyway. As the == operator seems not to be defined in the [wrapper fi

[2020-08-26 12:49] dkeeney commented on #875
getOutputData() and getInputData() are new.  originally the only way to get these outputs into an app was via these parameters. I kept those parameters for backward compatibility.

But they do need to work.
During initialization all buffers are initialized. Before initialization they could be in an unknown state. Perhaps that is causing the problem. So we need some logic to determine if they have

[2020-08-26 17:35] dkeeney commented on #874
The good news is that there are C++ tests for TM serialization and they do pass.
The setup is a little different between the two but basically initializing a TM, running a few cycles so there are connections, save, load, and then compare.

So I suspect the problem is in the equals operator when called from Python.  I will concentrate on that area. Note that 'pruned' is not compared in the C++ == o

[2020-08-27 07:35] Zbysekz opened #877 "NetworkAPI - getSpec causes double free exception"
I stuck with another bug, this time it is the function getSpec() in region, when called from python.

In my opinion this is pybind related bug.

See unit test [https://github.com/Zbysekz/htm.core/tree/getSpecDoubleFree](https://github.com/Zbysekz/htm.core/tree/getSpecDoubleFree)

or the code:
[code]

Basically, it happens when any region getSpec is called twice.
Firstly i thought it is because of

[2020-08-27 07:37] Zbysekz commented on #877
Note that first time it gets spec object correctly, second time it is returned None. I think python destroys the spec object twice. But it uses shared ptr so i don't understand....

[2020-08-27 09:00] Zbysekz commented on #874
Just note: see "Inputs" count, besides "synapses pruned" this is also different
[code]
[code]

[2020-08-27 11:04] Zbysekz commented on #874
If found out, that
`RuntimeError: rapidjson internal assertion failure: type == kStringType` is raised when calling tm.writeToString() only when inputs are > approx. 200.
This function uses the rapidjson. So this is one issue.

The second is comparing tm objects on python side.

[2020-08-27 14:42] Zbysekz commented on #875
sorry i didn't put the net.initialize() in the example given above.

Even after net initialization it throws this exception...

[2020-08-27 15:09] dkeeney commented on #877
Hmmm,  this is an interesting bug.
The spec pointer is placed in a shared_ptr and cached in RegionImplFactory line 136.  It does this when the region type is registered.

Since pybind11 passes the shared_ptr to Python it should not be freeing the pointer.  It can delete the shared_ptr object...that would be ok because there will be another instance in the cache.

But I wonder if it is because it i

[2020-08-27 15:19] dkeeney commented on #874
This is going to be hard to find.  I chased a problem with that exception in rapidjson once before.  It was a different scenario but I do remember that it was very hard to find.   If you can get it to occur in C++ (without python) you can put it in the debugger and walk through the function calls and see what it is that causes it.

[2020-08-27 15:33] klokare opened #878 "unknown node type: 'py.RawSensor'. Custom node types must be registed before they can be used."
running the `htm/advanced/examples/thing_classification` experiment, `l2l4l6_experiment.py`, fails with the following message:

Full stack trace below.

Installed on MacOS 10.15.6 (Catalina) using conda with Python 3.8.5. Tested installation with `htm/examples/sp/hello_sp.py` and `htm/examples/mnist.py` and both work fine.

I have been poking around and traced the error back to RegionImplFactory.c

[2020-08-27 15:59] dkeeney commented on #874
My current thinking is that this is a bug in the Cereal package.  This uses RapidJSON to generate the JSON version of the output but Cereal might not be calling it correctly.  Have not yet found the problem.

[2020-08-27 18:14] Thanh-Binh commented on #874
@dkeeney maybe very logic, because We had the same problem by testing MNIST with SP some months ago! @breznak said he solved problem but I do know how he did!

[2020-08-27 23:55] dkeeney commented on #878
In C++ the RawInput region type is an internal region created automatically if you declare a Link with the source "INPUT".  This is so that you can use the function net.setInputData(sourceName, data) from an app to provide data to the input.

However, this appears to be something different.  All python region types will be prefixed with py. to avoid name collisions.  So what you need to do is call

[2020-08-28 02:23] klokare commented on #878
Thanks, @dkeeney. No worries on the documentation. I can follow (most of) the code and this is how I learn best. I see that the registering for the experiment happens in the `htm/advanced/support/register_regions.py` methods. If I step through the code in a debugger I see the RawSensor module being registered. The call is

[code]

which equates to the last line being

[code]

Ismpecting the `modul

[2020-08-28 06:47] dkeeney commented on #878
Oh, my bad.  Those should be dots.  (You can tell I am a C++ programmer and not a Python programmer).

[2020-08-28 06:56] Zbysekz commented on #877
I removed & from getSpec() so it does return copy of shared ptr instead of reference. No need to change enywhere else. But result was the same. (I think i didnt change regionImpFactory.hpp)

[2020-08-30 16:15] klokare commented on #878
The problem seems to be in using Python 3.8 instead of 3.7. I tested a clean install and build from scratch with both versions on Mac and Linux and the Python 3.7 works without issue and Python 3.8 has problems, though different ones depending on the platform. As my issue is solved with Python 3.7 I am marking this issue closed. Thanks, @dkeeney for the help. It may not have solved the Python 3.8

[2020-08-30 16:15] #878 closed

[2020-08-31 11:00] #875 closed

[2020-08-31 11:15] Zbysekz commented on #868
Hello @sonjh17,
This would be probably related to issues that we have with python 3.8. If you can, please use python 3.7x and report here if it was successful. Thank you

[2020-08-31 13:25] Zbysekz opened #880 "Not able to compile with htm.core lib in debug mode"
Hello,

due to having better tool to hunt the bugs down, i tried to compile my custom c++ app with htm_core lib,
try to build it in debug mode, to have "step-in" into function possibility and see call trace and values.

I just copy&paste napi_hello.cpp example from src/napi_hello.

When i build htm_core lib in release mode, no problem with compilation my app. But no "step-in" feature logically.

B

[2020-08-31 15:37] dkeeney commented on #880
[code]

That is bad coding practice to use a variable that allocates space in an include file.  That line should be moved to Timer.cpp and place
 `extern Real64 SPEED; //for getSpeed()`
in Timer.hpp

I will take care of that.

-----

You should link with just `htm_core`

-----

This I don't understand. I need to start up my Linux VM and try this myself.

[2020-09-01 07:35] Zbysekz commented on #880
When i link just htm_core, i got at the start these extra errors:
[code]

I am trying to dig "what file" exactly needs these boost functions...

[2020-09-01 08:16] Zbysekz commented on #880
Ok, i got at least something.

The boost it needed because i was not using c++17. I thought that version of gcc determines highest c++ standard, but that's not true. So in Eclipse i must specify `-std=c++17` option for compiler miscellaneous flags.

[2020-09-01 10:12] Zbysekz commented on #880
Got it,
when i looked inside .so file
`nm -C libhtm_core.so | grep SparseDistributedRepresentation::initialize`
output:
`00000000004291ba T htm::SparseDistributedRepresentation::initialize(std::__debug::vector<unsigned int, std::allocator<unsigned int> > const&)`

std::__debug means that the stdlib was build with debug also, so i need to build stdlib in my project also as debug.
Adding
`-D_GLIBCXX

[2020-09-01 10:12] #880 closed

[2020-09-02 05:35] pmenn36 commented on #874
I'm seeing the same problem with the spatial pooler:

[code]

Also telling: if I run an HTM model with all the same components on all the same data, but on run 1 I keep everything in memory and on run 2 I serialize/deserialize the spatial pooler every 1000 data points, the two runs will have different results.

[2020-09-02 06:17] Zbysekz commented on #877
I want to correct my previous post, i probably haven't recompile all correctly. I again tried changing returning copy of object instead of reference.
So code change in Region and regionImpFactory sources and headers.

Behaviour:

I can call dateRegion.getSpec() how many times i want and keep returning spec object so that is fine.
But after script finish, there is segmentation fault.

[2020-09-02 08:19] pmenn36 commented on #874
I took a look at [SpatialPooler.hpp](https://github.com/htm-community/htm.core/blob/master/src/htm/algorithms/SpatialPooler.hpp) and the following fields aren't serialized:

- `minActiveDutyCycles_`
- `boostedOverlaps_`
- `version_`

Looking at [TemporalMemory.hpp](https://github.com/htm-community/htm.core/blob/master/src/htm/algorithms/TemporalMemory.hpp), it does seem that all the fields are ser

[2020-09-02 10:11] Zbysekz commented on #877
Problem solved,

pyEngine.cpp line 224

there should be
`py::class_<Spec, std::shared_ptr<Spec>> py_Spec(m, "Spec");`
instead of
`py::class_<Spec> py_Spec(m, "Spec");`

According to [https://pybind11.readthedocs.io/en/stable/advanced/smart_ptrs.html#std-shared-ptr](https://pybind11.readthedocs.io/en/stable/advanced/smart_ptrs.html#std-shared-ptr)
if no holder type is specified, unique_ptr is used

[2020-09-02 13:03] dkeeney commented on #877
Oh, good find.  👍
I am in the middle of replacing a hard drive on a friend's laptop and could not spend any time on this issue.  So I am glad you were able to locate the problem.

[2020-09-02 15:22] #877 closed

[2020-09-02 15:45] breznak commented on #874
Thank you @N3rv0us for a detailed bug description! :+1:

So do you guys think this is "only" for py (bindings) versions? @N3rv0us do you replicate the same issue for cpp tm,sp?

my recent serialization, comparison changes were merged in #827 which addressed Connections (more detailed op==(), more fields serialized).
But I still think I had a weird problem with SP serialization (it might have been

[2020-09-02 15:50] breznak commented on #876
https://github.com/htm-community/htm.core/blob/master/src/htm/algorithms/SDRClassifier.hpp#L238

Both support `Serializable`, so you can use the standard (cpp and exported to pybindings) way to serialize our objects.
Pickle might not be implemented (PR welcome) but that's not the main method to serialize HTMcore from py.

Please reopen if you think the issue is still valid.

[2020-09-02 15:50] #876 closed

[2020-09-02 16:03] breznak commented on #874
minActiveDutyCycles_
    boostedOverlaps_
    version_

aaand.. actually not!
` boostedOverlaps_.resize(numColumns_);`
https://github.com/htm-community/htm.core/blob/master/src/htm/algorithms/SpatialPooler.hpp#L346

~~Guess those fields are not so empheral and should be serialized~~ ..the `boostedOverlaps_` is recomputed on each `compute()` call. So it depends what you do after the serialization I

[2020-09-02 18:07] Zbysekz commented on #877
No problem David, at least i was forced to learn something about pybind :) 👍

[2020-09-02 18:36] Thanh-Binh commented on #874
.. additionally. I found that the parameter „seed“ is not saved...

[2020-09-02 19:42] breznak commented on #874
SP,TM compare now should also check Connections with detailed ==, which is essentially everything. So the TM seems it might be ok. The HTMs would differ from the bottom layer (SP) if used.

[2020-09-02 20:14] breznak commented on #874
seed is only used in the constructor, for `rng_`, we then save completely the whole rng.

[2020-09-02 20:54] breznak commented on #874
Guys, can you retest, please? The SP part fixes were just merged in. PR for extended tests always welcome!

[2020-09-02 22:04] pmenn36 commented on #874
Yep! Currently reinstalling from source so I can test this

[2020-09-02 22:39] pmenn36 commented on #874
@breznak both the string-equality check and my two-run test setup pass now! Thanks for fixing this

[2020-09-03 09:10] breznak commented on #874
Glad to hear! Thanks to everybody investigating the issue :+1:

a possible TODO to add to our tests, I like the example with restarted run from deserialized state.

Following #821 also affects serialization for the "whole HTM" (ScalarEncoder) and #799 .
Closing this for now, reopen if needed.

[2020-09-03 09:10] #874 closed

[2020-09-03 09:58] N3rv0us commented on #863
Seems like cmake is not found correctly.

Can you please run `where cmake` in a command prompt? The output should show the exact path of the cmake binary.
(In my case it is `C:\Program Files\CMake\bin\cmake.exe`)

However, you could then try to copy the full path into the setup.py line [332](https://github.com/htm-community/htm.core/blob/master/setup.py#L332) and [350](https://github.com/htm-commu

[2020-09-07 05:03] anjanakiran commented on #863
while i am running where cmake in command prompt. iam getting below error
INFO: Could not find files for the given pattern(s).

[2020-09-07 06:18] anjanakiran commented on #863
I also tried in python 3.7.9 i am getting below error
![Screenshot (59)](https://user-images.githubusercontent.com/62331046/92354466-fa9ad800-f0ff-11ea-9b26-794f087e3338.png)

[2020-09-07 06:32] breznak commented on #863
ok, now it's 2 different issues :)

it does seem you don't have `cmake`. Just to doublecheck, what does `cmake --version` say?
If cmake is not installed , you can do `pip install cmake`, or install in the standard way on your OS.

Screenshot (59)

it does not find common packages (like pytest) on pip! Are you running some unstandard version of windows? (like 32bit), I assume no. Can you try manual

[2020-09-07 12:23] breznak commented on #868
Closing, please reopen when active.

[2020-09-07 12:23] #868 closed

[2020-09-07 14:00] breznak opened #884 "cpp-httplib segfault in Debug as RESTapiTest.example get() returns null_ptr"
PR https://github.com/htm-community/htm.core/pull/783 changed only internals of SP (local inhibition) but we started getting a segfault in `RESTapiTest.example` unit-test in Debug mode.

It manifests only in Debug and seems because the `client->get()` returns a `null_ptr`, as identified in
https://github.com/htm-community/htm.core/pull/783#discussion_r484399288

Updating cpp-httplib in #883 does n

[2020-09-07 23:04] dkeeney commented on #884
Looking at the client code, we have the following in the Get( ... ) function
[code]
The send(req, res) function returns false if it cannot connect or could not send the packet for any reason.
So apparently Get( .. ) will return a nullptr if the packet could not be sent and therefore, we need to check for it.

This applies to Post( ) as well.

However, for our unit test case, we should have been ab

[2020-09-08 12:55] dkeeney opened #885 "Cereal includes missing from build/Release/include"
There was a comment mentioning that there was an error trying to build an app using the htm.core library.  I cannot locate the comment now but I thought I should try this myself.

So I made a copy of napi_hello and tried to build it outside of CMake.  I found several problems.
- the Cereal includes were not found even if I referenced build/Release/include in the -I.
- htm/os/ImportFileSystem.hpp d

[2020-09-08 13:44] breznak commented on #885
thanks for trying that scenario! We only modify directly in the repo, but never actually linked htm.core as a 3rd party. This is a great test.

w/o cmake completely, or just outside of "our" cmake repo?

did you build before the htm.core yourself on the machine, or using the binary release? Some ifdefs determine the c++ version I guess.. if that get's too nasty, we could jump the gun and just do c

[2020-09-08 15:14] dkeeney commented on #885
w/o cmake completely.  The way a user might try to use htm.core.
For example, here is the debug build (without python).
[code]

[2020-09-08 15:18] dkeeney commented on #885
I think I have the includes fixed but now I am getting some undefined symbols.
[code]

In all of them it looks like it wants us to pass in the allocator( ).

[2020-09-08 15:18] breznak commented on #885
I sense a great Readme update :)

[2020-09-08 15:22] dkeeney commented on #885
Well...maybe it just wants the signature to have an std::vector that has the allocator.

[2020-09-10 06:51] Zbysekz commented on #885
I was the one who create question here [https://github.com/htm-community/htm.core/issues/880](https://github.com/htm-community/htm.core/issues/880)

Yes i solved this by just including include folder in cereal-source folder. But this is probably hack, and should not work like this?

I struggled with this, but found that i was not compiling with c++17 (i am on linux, and in the cmake or make logic,

[2020-09-10 13:14] dkeeney commented on #885
Thank you @Zbysekz for bringing our attention to this problem.

This PR addresses the problem of the missing Cereal includes by adding them to the install so they are added to build/Release/include along with rest of the includes needed to use the library.  I also added htmllib.hpp which will be needed by the RESTapi component.

For Windows MSVC the default for the compiler is C++17 but for GCC on

[2020-09-10 13:20] Zbysekz commented on #885
Ok, nice.

@dkeeney see your PR, i posted solution to this problem

[2020-09-10 14:48] #668 closed

[2020-09-14 13:17] Zbysekz opened #888 "saveToFile() not implemented correctly for python regions"
See comments
[https://github.com/htm-community/htm.core/pull/873#discussion_r486977186](https://github.com/htm-community/htm.core/pull/873#discussion_r486977186)

Probably needs just create bindings for enum.
Now can be bypassed by using save() and saving as binary stream, like:
[code]

[2020-09-14 15:02] dkeeney commented on #888
Thanks for posting this for me.

[2020-09-18 15:43] marty1885 opened #890 "Fail to build HTM.core (HEAD)"
I'm trying to build htm.core using pip today and ran into some errors. After some digging, I believe this is the same error reported [on the forum](https://discourse.numenta.org/t/cant-install-htm-core/7877). (I can't locate where pip generates the makefile so I generated one from CMake directly). It shows the following error:

[code]

The issue seems simple and I wanted to post a fix. But I can't

[2020-09-18 16:58] dkeeney commented on #890
I assume you are using the current version of Python which is 3.8.x
Currently we are building for Python 3.7 for the pip install.  So it will not find a match. Eventually we will get that updated to Python 3.8 but in the mean time you can build from sources.

To confirm that this is all still working, I created a new virtual machine and installed Ubuntu 20.04.  Here are the things I needed to inst

[2020-09-19 02:00] marty1885 commented on #890
Yes, I'm using Python 3.8. I should have specified my environment more clearly.

I don't think the bug is related to Python 3.8 tho. The error is still there even if I ran CMake directly.

[code]

[2020-09-19 12:35] dkeeney commented on #890
Oh, building that way might be a problem...
CMake needs to be ran from build/scripts.  Otherwise the ThirdParty components are in the wrong place and the wrong things get into the CMake cache.
To correct this, you need to delete the build folder completely and start over.
[code]
Remember that building this way only builds the C++ components.  If you also need the Python bindings then rather than r

[2020-09-19 12:52] marty1885 commented on #890
Hmm... So maybe a new behavior of GCC 10 or Ubuntu have applied patches to their GCC? Weird... (Note for myself: How did Etaler didn't ran into the same issue?)

I also tried clang 10. But it is complaining about Eigen.

[code]

[2020-09-19 13:26] dkeeney commented on #890
I setup a virtual machine on Mint (latest stable build).
Here is what I did:
[code]

Everything worked fine.  All tests pass.

[2020-09-19 15:48] dkeeney commented on #890
My previous builds were g++9 which I think is the default.
Ok, back on Ubuntu, switched to the new g++10 compiler.  It will build with C++17
Python 3.8.2
Delete the `build` folder.
Building with `python3 setup.py install --user --force`
I got a few warnings while compiling the Third Party packages but it built ok.
Ran the unit tests.
The ConnectionsPerformanceTest errored out ... taking too long.

[2020-09-21 08:18] Sedom9 commented on #890
Sorry, I got some errors.  I have Linux Mint 19.1. But I saw your previous message. And I have compiler g++ 8. It is not difficult to install Ubuntu 20.04. What do you think about this idea?

[2020-09-21 11:47] marty1885 commented on #890
I tried to build cereal from scratch and figure out what happening. Then I encounter the same message when cereal 1.3.0 using Arch Linux's PKGBUILD script (which does not set `-Werror`). But the message is a warning instead of error in the PKGBUILD. It *seems* that either Ubuntu have patched GCC to disable the error or some versions of GCC have a bug leading the error not shown.

I guess I could a

[2020-09-21 12:54] breznak commented on #890
yes, this is a quick hack. We've recently revisited an issue where cmake should pass `SYSTEM` to the includes, so that our extra pedantic `-Werror` is not triggered by 3rd party includes. Probably the same logic should be applied to compiling any 3rd sources too.

[2020-09-21 13:03] Sedom9 commented on #890
Is it only about Linux Arch ?

[2020-09-21 13:03] marty1885 commented on #890
@breznak I think the deeper issue is why it compiles on Ubuntu but not Mint and Arch (`-Werror` is fine). Like, patching the compiler to suppress warnings is quite odd and I don't think Ubuntu does that. But there's not much other reasons for GCC not complaining on Ubuntu.

[2020-09-21 13:07] dkeeney commented on #890
I started with a fresh clone which includes that SYSTEM change.  The SYSTEM prefix is now applied to all third party includes. This basically suppresses warnings caused by the third party code being included.
I tried the latest Mint and there was no error.

[2020-09-21 13:18] dkeeney commented on #890
@Sedom9, @marty1885, can you try getting a fresh clone of htm.core and see if that solves the problem?

[2020-09-21 13:19] marty1885 commented on #890
@dkeeney Which branch/commit/fork?

[2020-09-21 13:34] Sedom9 commented on #890
Yes, I can. But I downloaded 10 hours ago last time. Try now?  I can install Linux Mint 20 (last version) or Ubuntu 20.04. What do you recommend?

[2020-09-21 14:21] breznak commented on #890
@dkeeney but the cereal is also built as a lib (not only includes). Does the SYSTEM cover that case already as well?

[2020-09-21 14:58] dkeeney commented on #890
Cereal is include only.  There is no lib.
This "SYSTEM" fix is already in the Master branch and has been there for over a week.

So, @Sedom9 if you are still having the problem then this is not the solution we are looking for.

There must be something else that is different between what I have and what @Sedom9 and @marty1885 are running.